@use "variables" as *;

/* Accordion */

.accordion {
  $a: &;

  box-shadow: 0 1px 3px 2px rgb(0 0 0 / 5%);
  border: 2px solid var(--border-gray);
  border-radius: 6px;
  overflow: hidden;

  &__item {
    + #{$a}__item {
      border-top: 2px solid var(--border-gray);
    }

    &.expanded > #{$a}__heading > #{$a}__button {
      background: var(--bg-orange);
    }

    #{$a}__heading::marker,
    #{$a}__heading::-webkil-details-marker {
      display: none;
    }
    // Clickable
    #{$a}__heading {
      list-style: none;
      #{$a}__button {
        display: flex;
        cursor: pointer;
        background: var(--bg-gray);
        color: var(--txt-orange);
        position: relative;
        align-items: center;
        padding: 1rem;
        font-family: $akkurat;
        font-weight: bold;
        transition: all 0.1s ease-in;

        &:hover {
          background: $btn-orange;
          color: var(--contrast-color);

          #{$a}-title {
            text-decoration: underline;
          }
        }

        #{$a}-icon {
          svg {
            text-align: center;
            font-size: $txt-sm;
            margin-right: 10px;
          }
          + div {
            flex: 1;
            margin-right: 1.5rem;
          }
        }

        #{$a}-title {
          font-family: $akkurat;
          font-size: $txt-lg;
          line-height: 1.4;
          margin-bottom: 0;

          @media (max-width: $bp-md) {
            font-size: $txt-md;
          }
        }

        #{$a}-description {
          font-size: $txt-xs;
          display: block;
          margin-bottom: 0;
        }

        svg.svg-inline--fa.fa-chevron-up,
        svg.svg-inline--fa.fa-chevron-down {
          position: absolute;
          right: 1rem;
        }
      }
    }

    // Content
    #{$a}__panel {
      background-color: var(--contrast-color);
      padding: 1.5rem 1rem;
      animation: fadein 0.2s ease-in;

      @keyframes fadein {
        0% {
          opacity: 0;
        }

        100% {
          opacity: 1;
        }
      }
    }

    // Visually disabled with minimal hover feedback, still clickable for information purposes
    &.disabled,
    &.disabled:hover,
    &.expanded.disabled {
      color: var(--txt-gray);

      #{$a}__button,
      #{$a}__button:hover {
        color: var(--txt-gray) !important;
        background-color: var(--bg-gray) !important;
      }
      #{$a}__panel {
        color: var(--txt-gray);
      }

      #{$a}-icon img {
        filter: grayscale(1);
      }
    }
  }

  // &:not(#{$a}-nested) > .expanded + #{$a}__item {
  //   border-top: 2px solid #c4c4c4;
  // }

  form {
    margin-top: 0;
  }

  // Visual card-like variation for internal accordion displays
  &-nested {
    border: none;
    box-shadow: none;
    border-radius: 0;

    #{$a}__item {
      margin-bottom: 10px;
      border: 2px solid var(--border-gray);
      border-radius: 6px;
      overflow: hidden;

      // &.expanded {
      //   border-color: #c4c4c4;
      // }

      &:hover {
        border-color: $bright-orange;

        &.expanded {
          border-color: var(--border-gray);
        }
      }

      &.expanded > #{$a}__heading > #{$a}__button {
        background: var(--bg-orange);
      }

      // Clickable
      #{$a}__heading {
        #{$a}__button {
          &:hover {
            color: var(--contrast-color);
            background: $btn-orange;
          }

          #{$a}-title {
            font-size: $txt-md;
            text-transform: uppercase;
            letter-spacing: 1px;
          }
        }
      }

      // Content
      #{$a}__panel {
        padding: 1rem 1rem 1.25rem;

        p {
          font-size: $txt-lg;
          line-height: 1.25;
        }
      }

      &.disabled,
      &.disabled:hover,
      &.expanded.disabled {
        border-color: var(--border-gray);
      }

      &.disabled,
      &.disabled:hover {
        #{$a}__button,
        #{$a}__button:hover {
          background-color: var(--contrast-color) !important;
        }
      }

      &.expanded.disabled {
        #{$a}__button,
        #{$a}__button:hover {
          background-color: var(--bg-gray) !important;
        }
      }
    }
  }
}
