@use "variables" as *;
/* Overall page structure */

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  font-family: $inter-regular;
  font-size: 16px;
  line-height: 1.5;
  color: var(--body-txt);
  scroll-behavior: smooth;
  display: flex;
  padding: env(safe-area-inset-top, 1.25rem) env(safe-area-inset-right, 1.25rem) env(safe-area-inset-bottom, 1.25rem)
    env(safe-area-inset-left, 1.25rem);
}

#root,
.page-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.panel {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--body-gray);

  .content {
    padding-top: 2rem;
    padding-bottom: 4rem;

    @media (max-width: $bp-lg) {
      padding-top: 1.5rem;
      padding-bottom: 3rem;
    }
  }
}
// in common for content pages and landing
#content {
  height: 100%;
}

// same styling as .phoneview-form-container, #delete-account-container,#change-password-container
// in Email.js = replaced these with with <article>
#content article {
  margin-bottom: 2.5rem;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid var(--border-gray);

  &:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
  }

  @media (max-width: $bp-md) {
    margin-bottom: 1.75rem;
    padding-bottom: 1.75rem;
  }

  //nested
  article {
    margin-bottom: 1.75rem;
    padding-bottom: 1.75rem;
    border-bottom: 1px dashed var(--border-gray);

    @media (max-width: $bp-md) {
      margin-bottom: 1rem;
      padding-bottom: 1rem;
    }

    &:last-of-type {
      padding-bottom: 0;
    }
  }
}

// this is a horizontal-margin and should be renamed
.horizontal-content-margin,
.vertical-content-margin {
  padding: 0;
  width: 58%;
  max-width: 870px;
  margin: 0 auto;

  // this is added to prevent margin collapse (look for other solution if causing problems)
  display: flex;
  flex-direction: column;
}

// Mimic lead paragraph border
hr.border-line {
  margin: 0.5rem 0 2rem;
  border-bottom: 2px solid var(--border-gray);
  border-top: none;
  opacity: unset;

  &-lesser {
    border-bottom: 1px dashed var(--border-gray);
  }
}

/* eg for help-texts */
.top-divider {
  border-top: 1px dashed var(--txt-gray);
  margin: 0.5rem 1rem 0 0;
  padding: 0.5rem 1rem 0.25rem 0;
  display: block;
}

// TODO: Remove after checking scrollbar in tables
// ::-webkit-scrollbar {
//   margin-top: -1rem;
//   width: 0.125rem;
//   height: 0.125rem;
//   width: 0;
// }

// ::-webkit-scrollbar-thumb {
//   background-color: #7c7c7c;
//   border-radius: 1rem;
// }

// ::-webkit-scrollbar-track {
//   background-color: #ececec;
// }

@media (max-width: $bp-lg) {
  .horizontal-content-margin,
  .vertical-content-margin {
    width: calc(80% - 2rem);
  }
}

@media (max-width: $bp-md) {
  .horizontal-content-margin,
  .vertical-content-margin {
    width: calc(80% - 1.25rem);
  }
}

@media (max-width: $bp-sm) {
  .horizontal-content-margin,
  .vertical-content-margin {
    width: calc(100% - 2rem);
  }
}

@media (max-width: $bp-xs) {
  .horizontal-content-margin,
  .vertical-content-margin {
    width: calc(100% - #{2 * $margin});
  }
}

/* Utility classes - possibly move to separate file */
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// hides object from view but still accessible to screen readers
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.display-none {
  display: none;
}

*,
::after,
::before {
  box-sizing: border-box;
}
