#chpass-form {
  display: flex;
  align-items: baseline;
  margin-top: 1rem;
}

#custom-password-field {
  margin-bottom: 1rem;
}

fieldset.toggle-change-password-options {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #d8d8d8;
}

#password-custom-help {
  list-style-type: disc;
  margin: 1rem;
}

meter {
  width: 100%;
  height: 2.5rem;
}

meter[value="1"]::-webkit-meter-optimum-value {
  background: red;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
meter[value="2"]::-webkit-meter-optimum-value {
  background: yellow;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
meter[value="3"]::-webkit-meter-optimum-value {
  background: green;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
meter[value="4"]::-webkit-meter-optimum-value {
  background: green;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* Gecko based browsers */
meter[value="1"]::-moz-meter-bar {
  background: red;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
meter[value="2"]::-moz-meter-bar {
  background: yellow;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
meter[value="3"]::-moz-meter-bar {
  background: green;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
meter[value="4"]::-moz-meter-bar {
  background: green;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.form-field-error-area small.text-muted {
  font-size: 0.9rem !important;
  color: #d2143a !important;
}

.form-field-error-area.success small.text-muted {
  color: green !important;
}

@media (max-width: 375px) {
  #password-suggestion .btn-link {
    font-size: 0.8rem;
  }
}
