#chpass-form {
  display: flex;
  align-items: baseline;
  margin-top: 1rem;
}

#custom-password-field {
  margin-bottom: 1rem;
}

fieldset.toggle-change-password-options {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #d8d8d8;
}

#password-custom-help {
  list-style-type: disc;
  margin: 1rem;
}

meter {
  width: 100%;
  //  background: yellow;
}

@media (max-width: 375px) {
  #password-suggestion .btn-link {
    font-size: 0.8rem;
  }
}
