@use "variables" as *;

fieldset.toggle-change-password-options {
  padding-bottom: 2rem;
  margin-bottom: 0.75rem;
  border-bottom: 1px solid #d8d8d8;
}

.pw-suggested {
  margin-top: 1.25rem;
}

.password-custom-help {
  list-style-type: disc;
  margin: 1rem;
}

/* Password strength meter */

.meter-wrapper {
  background: var(--border-gray);
  border-radius: 10px;
  height: 20px;
  overflow: hidden;
  line-height: 0;
  margin-bottom: 1.25rem;

  .form-field-error-area:empty + & {
    display: none;
  }
}
meter {
  width: 100%;
  height: 20px;
  border: none;
  background: repeating-linear-gradient(
    -55deg,
    var(--border-gray),
    var(--border-gray) 10px,
    var(--bg-gray) 10px,
    var(--bg-gray) 20px
  );
}

/* Webkit browsers */
meter::-webkit-meter-bar {
  height: 20px;
  background: repeating-linear-gradient(
    -55deg,
    var(--border-gray),
    var(--border-gray) 10px,
    var(--bg-gray) 10px,
    var(--bg-gray) 20px
  );
}
meter::-webkit-meter-optimum-value {
  background: var(--txt-gray);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
// meter[value="1"]::-webkit-meter-optimum-value {
//   background: var(--error-red);
// }
// meter[value="2"]::-webkit-meter-optimum-value {
//   background: var(--error-red);
// }
// meter[value="3"]::-webkit-meter-optimum-value {
//   background: $success-green;
// }
// meter[value="4"]::-webkit-meter-optimum-value {
//   background: $success-green;
// }

/* Gecko browsers */
:-moz-meter-optimum::-moz-meter-bar {
  background: var(--txt-gray);
}

.form-field-error-area {
  font-size: $txt-sm !important;
  color: var(--error-red) !important;
  margin-top: 0.75rem;
  display: inline-block;
}

.form-field-error-area.success {
  color: var(--txt-green) !important;
}
