@use "variables" as *;
@use "accordion";

// --- PROFILE STYLES --- //
.profile-grid-cell {
  display: flex;
  flex-direction: column;

  .display-nin-show-hide {
    display: flex;

    // show and hide button
    button {
      margin: 0 0.5rem;
      height: auto;
    }
  }
}

#uniqueId-container {
  flex-direction: row;
  align-items: baseline;

  button.link {
    padding: 0.75rem 0 0.75rem 1rem;
  }
}

.display-data {
  font-size: $txt-xl;
  word-wrap: break-word;

  &:not(a) {
    font-family: $inter-light;
  }

  &.no-data {
    color: var(--txt-gray);
  }

  &.verified {
    color: var(--body-txt);
  }

  @media (max-width: $bp-md) {
    font-size: $txt-lg;

    &:not(a) {
      font-family: $inter-light;
    }
  }
}

@media (max-width: $bp-lg) {
  #profile-grid {
    width: calc(80% - 2rem);
  }
}

@media (max-width: $bp-md) {
  #profile-grid {
    width: calc(100% - 1.25rem);
    grid-row-gap: 2rem;
  }
}

@media (max-width: $bp-sm) {
  #profile-grid {
    grid-template-columns: 1fr;
  }
}

// --- STATUS OVERVIEW STYLES--- //
.status-boxes {
  margin: 1rem 0;
}
.status-box {
  @extend .accordion;
  display: grid;
  grid-template-columns: 30px 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
  align-items: center;
  padding: 1rem;
  background-color: var(--contrast-color);
  margin-top: 0.5rem;
  border: 1px $success-green solid !important;

  h3 {
    line-height: 1.4;
    margin-bottom: 0.3rem;
    color: var(--body-txt);
  }
  p {
    margin-bottom: 0.5rem;
  }
  &.success {
    border-color: rgba(23, 125, 77, 0.25) !important;
    &:nth-of-type(1) {
      background-color: #f3f9f5;
      background-color: rgba(23, 125, 77, 0.1);
    }
    &:nth-of-type(2) {
      background-color: #e6f3eb;
      background-color: rgba(23, 125, 77, 0.2);
    }
    &:nth-of-type(3) {
      background-color: #daede1;
      background-color: rgba(23, 125, 77, 0.3);
    }
    &:nth-of-type(4) {
      background-color: #cde7d7;
      background-color: rgba(23, 125, 77, 0.4);
    }
  }
  .help-text {
    border-top: 1px dashed var(--txt-gray);
    margin: 0.5rem 1rem 0 0;
    padding: 0.5rem 1rem 0.25rem 0;
    display: block;
  }
}

.checkbox-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  input[type="checkbox"] {
    display: block;
    width: 20px;
    height: 20px;
  }

  svg {
    color: var(--txt-green);
    height: 1.5rem;

    &.disabled {
      color: var(--border-gray);
    }
  }

  div {
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid var(--border-gray);
    border-radius: 50%;
    background-color: var(--contrast-color);
  }
}
