@import "./variables";

// --- PROFILE STYLES --- //
.profile-grid-cell {
  display: flex;
  flex-direction: column;

  .display-nin-show-hide {
    display: flex;

    // show and hide button
    button {
      margin: 0 0.5rem;
      height: auto;
    }
  }
}

#uniqueId-container {
  flex-direction: row;
  align-items: baseline;

  button.btn-link {
    padding: 0.5rem;
  }
}

.display-data {
  font-size: 1.25rem;
  word-wrap: break-word;

  &:not(a) {
    font-family: $inter-light;
    font-size: 1.5rem;
  }

  &.no-data {
    color: $txt-gray;
  }

  &.verified {
    color: $txt-black;
  }

  @media (max-width: $bp-md) {
    font-size: 1.125rem;

    &:not(a) {
      font-family: $inter-light;
      font-size: 1.25rem;
    }
  }
}

@media (max-width: $bp-lg) {
  #profile-grid {
    width: calc(80% - 2rem);
  }
}

@media (max-width: $bp-md) {
  #profile-grid {
    width: calc(100% - 1.25rem);
    grid-row-gap: 2rem;
  }
}

@media (max-width: $bp-sm) {
  #profile-grid {
    grid-template-columns: 1fr;
  }
}

// --- BREADCRUMB STYLES--- //
.breadcrumb {
  align-items: center;
  color: $txt-gray;
  font-family: $akkurat;
  font-size: $txt-sm;

  a {
    padding-right: 5px;
  }
  a.disabled:has(> img) {
    display: flex;
  }

  svg,
  img {
    padding-right: 5px;
    padding-left: 5px;
  }
  img {
    width: auto;
  }
}

// --- STATUS OVERVIEW STYLES--- //
.status-boxes {
  margin: 1rem 0;
}
.status-box {
  @extend .accordion;
  display: grid;
  grid-template-columns: 30px 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
  align-items: center;
  padding: 1rem;
  background-color: $white;
  margin-top: 0.5rem;
  border: 1px $success-green solid !important;

  h3 {
    font-size: 1.3rem;
    line-height: 1.4;
    margin-bottom: 0.3rem;
    color: $txt-black;
  }
  p {
    margin-bottom: 0;
  }
  &.success {
    border-color: rgba(23, 125, 77, 0.25) !important;
    &:nth-of-type(1) {
      background-color: #f3f9f5;
      background-color: rgba(23, 125, 77, 0.1);
    }
    &:nth-of-type(2) {
      background-color: #e6f3eb;
      background-color: rgba(23, 125, 77, 0.2);
    }
    &:nth-of-type(3) {
      background-color: #daede1;
      background-color: rgba(23, 125, 77, 0.3);
    }
    &:nth-of-type(4) {
      background-color: #cde7d7;
      background-color: rgba(23, 125, 77, 0.4);
    }
  }
}

.checkbox-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  input[type="checkbox"] {
    display: block;
    width: 20px;
    height: 20px;
  }

  svg {
    color: $success-green;
    height: 1.5rem;

    &.disabled {
      color: $border-gray;
    }
  }

  div {
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid $border-gray;
    border-radius: 50%;
    background-color: $white;
  }
}
