@use "variables";

#suggested-password {
  display: table;
  padding: 0.125rem 0.5rem;
  background: var(--bg-orange);
  font-size: variables.$txt-xxl;
  border: none;
  color: variables.$bright-orange;
}

.form-content {
  width: 100%;
}

.hide {
  display: none;
}
