@use "variables" as *;

#suggested-password {
  display: table;
  padding: 0.125rem 0.5rem;
  background: var(--bg-orange);
  font-size: $txt-xxl;
  border: none;
  color: $bright-orange;
}

.form-content {
  width: 100%;
}

.hide {
  display: none;
}
