@use "variables" as *;

.error-page {
  h1 {
    color: var(--error-red);
  }

  & span {
    line-height: 1.5;
    font-family: $inter-bold;
    font-size: $txt-xxl;
  }

  & ul {
    margin-bottom: 3.5rem;
    font-size: $txt-xl;

    div {
      margin-left: 2rem;

      li:nth-child(1),
      li:nth-child(3),
      li:nth-child(5) {
        list-style-type: disc;
        margin-top: 1rem;
        font-family: $inter-bold;
      }

      li:nth-child(even) {
        margin-top: 0;
      }
    }
  }

  & li {
    line-height: 1.5;
    font-family: $inter-regular;
  }

  & .technical-info-heading span {
    font-family: $inter-bold;
    font-size: $txt-xl;
  }

  & .technical-info-box {
    background-color: var(--contrast-color);
    padding: 1rem;

    .technical-info-text {
      display: flex;
      justify-content: flex-start;

      p {
        font-size: $txt-md;
        padding-bottom: 0;
      }

      p:first-child {
        text-transform: uppercase;
        font-family: $inter-bold;
        width: 8.125rem;
        padding-right: 1rem;
      }

      p:last-child {
        color: var(--error-red);
      }
    }
  }

  .specific-error {
    margin-bottom: 1.5rem;
  }
}

.error-page li {
  margin-top: 24px;
}

// small reddish alert with exclamation symbol
.warning-text {
  color: var(--error-red);
  font-size: $txt-sm;

  .warning-symbol {
    padding-right: 0.5rem;
  }
}

@media (max-width: $bp-sm) {
  .technical-info-text {
    flex-direction: column;

    p:last-child {
      color: var(--error-red);
    }
  }
}

.error-info {
  text-align: left;
  font-size: $txt-md;

  tr {
    height: auto;
  }

  td:not(.plain-cell) {
    &:first-child {
      text-transform: uppercase;
      padding-left: 0;
    }

    &:last-child {
      color: var(--error-red);
    }
  }

  th,
  td {
    padding: 0.325rem 0;

    &:last-child {
      width: 70%;
    }
  }
}

/* Green italic recommendation, see typography */
.suggestion-txt {
  @media (min-width: $bp-xl) {
    position: absolute;
    right: 0;
    max-width: 25%;
    top: 1rem;
  }
}
.options .suggestion-txt {
  margin: 0.5rem auto 0;
  width: 75%;
}
.status-box .suggestion-txt {
  border-top: 1px dashed var(--txt-gray);
  margin: 0.5rem 1rem 0 0;
  padding: 0.5rem 1rem 0.25rem 0;
}
