/* white plate to highlight content, use .figure if not semantically a "figure" */
@import "variables";

figure,
.figure {
  background: $white;
  text-align: center;
  margin: 1em 0;
  padding: 1em;
  position: relative;

  figcaption,
  .figcaption {
    font-size: $txt-sm;
    font-weight: bold;
    font-family: $akkurat;
    color: $txt-black;
  }

  &.identity-summary {
    padding: 1em 0.5em;
    align-items: center;

    @media (max-width: $bp-md) {
      padding: 0.5em;
    }
  }
  &.tight {
    padding: 0.5rem 1rem;
  }
  &.grid-container {
    display: grid;
    grid-template-columns: 10% 35% 50% 5%;
    text-align: left;
    vertical-align: middle;
    line-height: 1;

    img {
      height: 1.5rem;
    }
    > div {
      padding: 0.3rem 0.3rem;
      align-self: center;

      .display-data.verified {
        font-size: 1rem;
      }
    }
    .btn-close {
      align-self: center;
    }
  }
}

.captcha-responsive {
  width: 70%;

  @media (max-width: $bp-md) {
    width: 100%;
  }
}

//white with orange rounded border
.notice-box {
  padding: 1.25rem 1rem 0.5rem;
  margin: 1rem 0;
  border: 1px solid $bright-orange;
  border-radius: 10px;
  background: $white;
  .help-text {
    padding-bottom: 0.75rem;
  }

  ul.bullets {
    list-style-position: inside;
    list-style-type: disc;
    margin-bottom: 1.5rem;
  }
}

// SECURITY TABLE
figure.webauthn-token-holder {
  display: grid;
  grid-template-rows: 1fr;
  padding: 0.5rem 1rem;
  text-align: left;
  margin: 0;
  border-bottom: 1px solid $border-gray;

  &:last-of-type {
    border-bottom: none;
    margin-bottom: 1rem;
  }

  & div:first-child {
    display: flex;
    justify-content: space-between;
  }

  & div:nth-child(2) {
    display: flex;
    align-items: end;
    column-gap: 1em;

    & p:last-child {
      margin-left: 1rem;
    }
  }

  span {
    font-size: 0.9rem;
    margin-bottom: 0.2rem;
    white-space: nowrap;
  }
  .verified {
    strong {
      font-family: $akkurat;
      letter-spacing: 1px;
      font-weight: 700;
      padding: 0;
      font-size: 0.75rem;
      text-transform: uppercase;
    }
  }
  .btn-link {
    height: auto;
    margin-right: 1rem;
  }
  button.btn-close {
    justify-self: flex-end;
  }
}
