@font-face {
  font-family: "Akkurat";
  src: url("../../fonts/Akkurat-Mono.ttf") format("truetype"), url("../../fonts/Akkurat-Mono.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter-Bold";
  src: url("../../fonts/Inter-Bold.ttf") format("truetype"), url("../../fonts/Inter-Bold.woff") format("woff"),
    url("../../fonts/Inter-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter-SemiBold";
  src: url("../../fonts/Inter-SemiBold.ttf") format("truetype"), url("../../fonts/Inter-SemiBold.woff") format("woff"),
    url("../../fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter-Medium";
  src: url("../../fonts/Inter-Medium.ttf") format("truetype"), url("../../fonts/Inter-Medium.woff") format("woff"),
    url("../../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter-Regular";
  src: url("../../fonts/Inter-Regular.ttf") format("truetype"), url("../../fonts/Inter-Regular.woff") format("woff"),
    url("../../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter-Light";
  src: url("../../fonts/Inter-Light.ttf") format("truetype"), url("../../fonts/Inter-Light.woff") format("woff"),
    url("../../fonts/Inter-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
