@use "variables" as *;

footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1rem;
  border-top: 6px solid $bright-orange;
  background-color: var(--body-gray);
  font-size: $txt-sm;

  .logo-wrapper {
    display: flex;
    align-items: baseline;
    font-size: $txt-xs;

    .sunet-logo {
      width: 40px;
      height: 50px;
      margin-right: 8px;
      background-image: url("../../img/sunet_logo.svg");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

footer nav ul {
  display: flex;
  align-items: baseline;
  margin: 0;
  padding: 0;
}

footer nav .help-link {
  padding: 0;
  margin-right: 1rem;
}

footer nav .lang-selected {
  margin: 0;
  cursor: pointer;
  color: var(--txt-orange);
  font-size: $txt-sm;
}

#language-selector {
  display: flex;

  a.link {
    svg {
      margin-right: 0.2rem;
    }
  }
}

.non-selected {
  margin: 0;
  display: none;
}

@media (max-width: $bp-xs) {
  footer {
    align-items: flex-end;

    nav ul {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .help-link {
        margin-right: 0;
      }
    }
  }
}
