/* Form layout elements */

//top margin here assumes that text above has bottom margin of 1rem
form {
  display: flex;
  flex-direction: column;
  margin-top: 1.25rem;

  .form-wrapper {
    height: 5.5rem;
  }
}

.input-container {
  margin-bottom: 1.125rem;
  margin-right: 0.5rem;
  flex: 1;
}

.element-pair,
.button-pair {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.element-pair {
  margin-top: 1rem;
  align-items: unset;
}

//single input and button on a row
.single-input-form {
  flex-direction: row;
  align-items: center;
  .buttons {
    align-self: center;
  }
  button {
    margin: auto 0 0.5rem 1rem;
  }

  @media (max-width: $bp-sm) {
    flex-direction: column;

    button {
      margin: 0;
    }
  }
}

#reset-password-email-form {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $bp-sm) {
    flex-direction: column;
    align-items: unset;

    button {
      width: 100%;
      margin-top: 1rem;
    }
  }
}

//fieldset
fieldset {
  width: 100%;
  position: relative;

  &:not(:empty) {
    margin-bottom: 1.25em;
  }

  legend {
    @extend label;
  }

  legend.required::after {
    content: " *";
    color: $txt-orange;
  }
}

//help/error
fieldset.change-password-custom-inputs {
  span.input-validate-error {
    position: relative !important;
  }
}

.transparent-input-error {
  background-color: transparent;
  color: transparent;
}

.input-error {
  color: $bright-orange;
  font-weight: 700;
  letter-spacing: 0.025rem;
}

.input-validate-error {
  font-size: $txt-sm;
  color: $error-red;

  fieldset & {
    position: absolute;
  }
}

.input-label-help-text-container {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;

  & label {
    letter-spacing: 0;
    font-size: 1rem;
  }

  //for orange asterisk after label
  & label.required::after {
    content: " *";
    color: $txt-orange;
  }

  & .help-block {
    font-size: 1rem;
    text-transform: lowercase;
  }
}

//smallish grayish additional info underneath corresponding form elements
.help-text {
  margin: 0.5rem 0 0;
  color: $txt-gray;
  font-size: 14px;

  &.black {
    color: $txt-black;
  }

  .btn + & {
    @media (max-width: $bp-md) {
      text-align: center;
    }

    @media (max-width: $bp-xs) {
      margin: 0 0 0.75rem;
    }
  }
}

.legend-2fa {
  flex-direction: column;
  p {
    font-family: $inter-regular;
  }
}
