/* Form layout elements */

/*top margin here assumes that text above has bottom margin of 1rem */
.single-input-form .form-group {
  margin-bottom: 0;
  width: 100%;

  & .text-muted {
    margin-top: 0;
  }
}

/* text under inputs */
.small,
small {
  font-size: 100% !important;

  &.form-text {
    margin-top: 0 !important;
  }
}

.form-group {
  margin-bottom: 0;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 1.25rem;

  .form-wrapper {
    min-height: 6rem;
    margin-bottom: 0.5rem;
  }

  /*places two wrapped input groups on one row */
  .input-pair {
    @media (--bp-xl-up) {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      column-gap: 1rem;

      > .form-wrapper {
        flex: 1;
      }
    }
  }
}

.input-container {
  margin-bottom: 1.125rem;
  margin-right: 0.5rem;
  flex: 1;
}

.element-pair,
.button-pair {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.element-pair {
  margin-top: 1rem;
  align-items: unset;
}

/*single input and button on a row */
.single-input-form {
  flex-direction: row;
  align-items: center;
  .buttons {
    align-self: center;
  }
  button {
    margin: 0.5rem 0 0 1rem;
  }

  @media (--bp-sm) {
    flex-direction: column;

    button {
      margin: 0;
    }
  }
}

#reset-password-email-form {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @media (--bp-sm) {
    flex-direction: column;
    align-items: unset;

    button {
      width: 100%;
      margin-top: 1rem;
    }
  }
}

/*fieldset used to group, possibly incorrectly */
fieldset {
  width: 100%;
  position: relative;

  &:not(:empty):not(:last-of-type) {
    margin-bottom: 1.25em;
  }

  legend {
    display: flex;
    font-size: var(--txt-md);
    font-family: var(--inter-bold);
    letter-spacing: 0.5px;
    line-height: 1;
    color: var(--body-txt);
    margin: 0 5px 5px 0;
  }

  legend.required::after {
    content: " *";
    color: var(--txt-orange);
  }
}

.input-validate-error {
  font-family: monospace;
  font-size: var(--txt-xs);
  color: var(--error-red);
}

.input-label-help-text-container {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;

  & label {
    letter-spacing: 0;
    font-size: var(--txt-md);
  }

  /*for orange asterisk after label */
  & label.required::after {
    content: " *";
    color: var(--txt-orange);
  }

  /* is this used? I think not // */
  & .help-block {
    font-size: var(--txt-md);
    text-transform: lowercase;
  }
}

/*smallish grayish additional info underneath corresponding form elements */
.help-text {
  margin: 0.5rem 0 0;
  color: var(--txt-gray);
  font-size: var(--txt-sm);
  line-height: 1.3;

  &.black {
    color: var(--body-txt);
  }

  .btn + & {
    @media (--bp-md) {
      text-align: center;
    }

    @media (--bp-xs) {
      margin: 0 0 0.75rem;
    }
  }
}
