@use "variables" as *;
@use "typography";
/* Form layout elements */

//top margin here assumes that text above has bottom margin of 1rem

.single-input-form .form-group {
  margin-bottom: 0;
  width: 100%;

  & .text-muted {
    margin-top: 0;
  }
}

// text under inputs
.small,
small {
  font-size: 100% !important;

  &.form-text {
    margin-top: 0 !important;
  }
}

.form-group {
  margin-bottom: 0;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 1.25rem;

  .form-wrapper {
    min-height: 6rem;
    margin-bottom: 0.5rem;
  }

  //places two wrapped input groups on one row

  .input-pair {
    @media (min-width: $bp-xl) {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      column-gap: 1rem;

      > .form-wrapper {
        flex: 1;
      }
    }
  }
}

.input-container {
  margin-bottom: 1.125rem;
  margin-right: 0.5rem;
  flex: 1;
}

.element-pair,
.button-pair {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.element-pair {
  margin-top: 1rem;
  align-items: unset;
}

//single input and button on a row
.single-input-form {
  flex-direction: row;
  align-items: center;
  .buttons {
    align-self: center;
  }
  button {
    margin: 0.5rem 0 0 1rem;
  }

  @media (max-width: $bp-sm) {
    flex-direction: column;

    button {
      margin: 0;
    }
  }
}

#reset-password-email-form {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $bp-sm) {
    flex-direction: column;
    align-items: unset;

    button {
      width: 100%;
      margin-top: 1rem;
    }
  }
}

//fieldset
fieldset {
  width: 100%;
  position: relative;

  &:not(:empty):not(:last-of-type) {
    margin-bottom: 1.25em;
  }

  legend {
    @extend label;
  }

  legend.required::after {
    content: " *";
    color: var(--txt-orange);
  }
}

.transparent-input-error {
  background-color: transparent;
  color: transparent;
}

// in use?
.input-error {
  color: $bright-orange;
  letter-spacing: 0.025rem;
  @extend .text-bold;
}

.input-validate-error {
  font-family: monospace;
  font-size: $txt-xs;
  color: var(--error-red);
}

.input-label-help-text-container {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;

  & label {
    letter-spacing: 0;
    font-size: $txt-md;
  }

  //for orange asterisk after label
  & label.required::after {
    content: " *";
    color: var(--txt-orange);
  }

  & .help-block {
    font-size: $txt-md;
    text-transform: lowercase;
  }
}

//smallish grayish additional info underneath corresponding form elements
.help-text {
  margin: 0.5rem 0 0;
  color: var(--txt-gray);
  font-size: $txt-sm;
  line-height: 1.3;

  &.black {
    color: var(--body-txt);
  }

  .btn + & {
    @media (max-width: $bp-md) {
      text-align: center;
    }

    @media (max-width: $bp-xs) {
      margin: 0 0 0.75rem;
    }
  }
}

// .legend-2fa {
//   flex-direction: column;
//   p {
//     font-family: $inter-regular;
//   }
// }
