@import "./variables";

header {
  background-color: $white;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;

  .eduid-logo {
    width: 116px;
    height: 40px;
    background-image: url(../../img/eduid-logo-black.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0;

    @media (max-width: $bp-md) {
      width: 99px;
      height: 34px;
    }
  }

  .header-nav {
    // sub menu
    .submenu-collapse {
      max-height: 500px;
      overflow: hidden;
      transition: max-height 0.2s ease;
      margin-left: 1.3rem;

      ul {
        a {
          font-size: 0.9rem;
          padding-top: 3px;
          padding-bottom: 3px;
          color: $txt-gray;
        }
      }

      .close-button-wrapper {
        display: flex;
        justify-content: flex-end;
      }

      // li {
      //   font-size: 0.9rem;
      //   padding-top: 3px;
      //   padding-bottom: 3px;
      //   font-family: $akkurat;
      //   color: $txt-gray;
      // }
    }
    .submenu-close {
      max-height: 0;
    }

    button {
      @media (max-width: $bp-sm) {
        span {
          width: 40vw;
          overflow: hidden;
          white-space: nowrap;
          display: inline-block;
          text-overflow: ellipsis;
          text-align: right;
        }
      }
    }

    ul {
      a {
        color: $txt-black;

        // styling for when menu item is clicked
        &.active {
          color: $txt-orange;
        }

        // styling for when hovering the menu item
        &:hover {
          color: $txt-orange;
        }
      }
    }

    .header-user {
      text-transform: lowercase;
      font-family: $inter-light;
      background: none;
      box-shadow: none;
      padding: 0 1.125rem;

      svg {
        padding-left: 0.75rem;
      }
    }

    .nav-menu {
      display: none;
      min-width: 250px;

      ul {
        text-align: left;

        .flex-between {
          padding-left: 10px;
          margin-top: 3px;
          margin-bottom: 3px;

          button {
            background-color: transparent;
            box-shadow: none;
            padding-left: 10px;
          }
        }

        .flex-between:hover {
          background-color: $body-gray;
          border-radius: 20px;
        }
      }

      .btn-close {
        align-self: flex-end;
        margin-bottom: 1rem;
      }

      &.active {
        opacity: 1;
        display: flex;
        flex-direction: column;
        transition: all 0.5s ease;
        z-index: 200;
        position: absolute;
        top: 70px;
        background-color: $white;
        box-shadow: 0 -6px 17px rgb(89 89 89 / 7%);
        border-radius: 10px;
        padding: 20px;
        right: 20px;
        max-width: 20rem;
        overflow-y: auto;
        max-height: 80vh;

        .btn-link svg {
          padding-right: 5px;
        }

        .close-button-wrapper {
          display: flex;
          justify-content: flex-end;
        }
      }

      //menu item
      .menu {
        display: flex;
        align-items: center;
        height: 2.7rem;
        justify-content: left;
        line-height: 1.2;

        &:nth-child(4) {
          border-bottom: 1px solid $border-gray;
        }
      }
      .logout-button-wrapper {
        margin: 0.5rem 0 0 10px;
        padding-top: 0.5rem;
        border-top: 1px solid $border-gray;
      }
    }
  }
}
