@use "variables" as *;
@use "typography";

header {
  background-color: var(--contrast-color);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;

  .eduid-logo {
    width: 113px;
    height: 40px;
    background-image: url(../../img/eduid-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: $margin;
    display: flex;
    flex: 1;
    text-align: left;

    @media (max-width: $bp-md) {
      height: 34px;
      width: 95px;
    }
  }

  .header-user {
    text-transform: lowercase;
    background: none;
    box-shadow: none;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    @extend .text-bold;

    svg {
      padding-left: 0.75rem;
      font-size: 1.5rem;
      width: 24px;
    }
  }
  // @media (min-width: $bp-md) {
  nav {
    // flex: 1;
    button.header-user {
      display: none;
    }
    .nav-menu {
      @media (min-width: $bp-xl) {
        display: flex;
        align-items: center;
      }
      .desktop-username {
        overflow: hidden;
        white-space: nowrap;
        display: inline-block;
        text-overflow: ellipsis;
        padding: 0 1rem 0 2rem;
        font-family: "Inter-SemiBold";
        @media (max-width: $bp-xl) {
          display: none;
        }
      }

      ul {
        // display: flex;
        // list-style: none;
        // margin: 0;
        // padding: 0;
        @media (min-width: $bp-xl) {
          // padding-right: 3rem;
          li:has(> .flex-between) {
            align-self: center;
            margin-right: 1rem;
          }
          li:hover svg {
            transform: rotate(180deg);
          }
        }

        // li {
        // float: left;

        // &.submenu-collapse {
        // position: absolute;
        // top: 56px;
        // position: relative;
        // max-height: 500px;
        // display: block;
        // width: 300px;
        // transition: max-height 0.2s ease;
        // position: absolute;
        // margin: 0 0.75rem 1rem 1.5rem;

        // @media (min-width: $bp-md) {
        // position: absolute;
        // z-index: 100;
        // background-color: var(--contrast-color);
        // box-shadow: 0 -6px 17px rgba(89, 89, 89, 0.07);
        // padding: 0.75rem;
        // top: 5.6rem;
        // border-bottom-left-radius: 10px;
        // border-bottom-right-radius: 10px;
        // border-top: var(--txt-orange) solid;
        // }
        // flex-direction: column;
        // display: block;
        // top: 60px;

        // ul {
        //   display: flex;
        //   flex-direction: column;
        //   position: absolute;
        //   top: 61px;

        // }
        // }
        &.submenu-close {
          max-height: 0;
          margin-bottom: 0;
          opacity: 0;
          visibility: hidden;
          // transition: all 0.3s ease;
          @media (min-width: $bp-xl) {
            // position: absolute;
            // top: 5rem;
            // display: flex;
            // flex-direction: column;

            // display: none;
            position: absolute;
            // top: 100%;
            // left: 0;
            // background: var(--contrast-color);
            // box-shadow: 0 -6px 17px rgba(89, 89, 89, 0.07);
            min-width: 180px;
            z-index: 100;
            // border-radius: 10px;

            li {
              padding: 10px 15px;
              border-bottom: 1px solid var(--body-gray);
              background: var(--contrast-color);
            }
          }
        }
        button {
          background-color: transparent;
          box-shadow: none;
          @media (max-width: $bp-xl) {
            padding: 0 0.75rem;
          }

          // @media (min-width: $bp-md) {
          //   display: none;
          // }

          svg {
            color: var(--txt-gray);
          }
          &:hover svg {
            color: var(--txt-orange);
          }
        }
        // }
        // ul li {
        a {
          color: var(--body-txt);

          // styling for when menu item is clicked
          &.active {
            color: var(--txt-orange);
          }

          //  styling for when hovering the menu item
          &:hover {
            color: var(--txt-orange);
          }
        }
      }
    }
  }
  @media (min-width: $bp-xl) {
    .nav-menu li:hover .submenu-close {
      opacity: 1;
      visibility: visible;
    }
    .nav-menu > ul > li {
      display: inline-block;
    }
    .nav-menu ul > li:hover > .submenu-close {
      display: block;
    }
  }

  // }

  @media (max-width: $bp-xl) {
    .header-nav {
      flex: unset;
      button.header-user {
        display: block;
      }
      // .nav-menu ul {
      //   padding-left: 0px;

      // sub menu

      // .submenu-close {
      //   max-height: 0;
      //   // margin-bottom: 0;
      //   overflow: hidden;
      // }

      // .submenu-collapse {
      //   position: static;
      //   overflow: visible;
      //   max-height: 300px;
      // transition: max-height 0.2s ease;
      // margin: 0 0.75rem 1rem 1.5rem;
      // display: block;

      ul.submenu-collapse {
        margin: 0 0.75rem 1rem 1.5rem;
        //   position: static;
        li {
          padding: 0.5rem 0 0.5rem 3px;
          line-height: 1.2;
          width: 100%;

          a {
            font-size: $txt-sm;
            color: var(--txt-gray);
          }

          // &.submenu-collapse {
          //   margin: 0 0.75rem 1rem 1.5rem;
          // }
        }
      }
      // }
    }

    button {
      @media (max-width: $bp-sm) {
        span {
          width: 40vw;
          overflow: hidden;
          white-space: nowrap;
          display: inline-block;
          text-overflow: ellipsis;
          text-align: right;
        }
      }
    }

    ul li {
      a {
        color: var(--body-txt);

        // styling for when menu item is clicked
        &.active {
          color: var(--txt-orange);
        }

        //  styling for when hovering the menu item
        &:hover {
          color: var(--txt-orange);
        }
      }
    }

    .nav-menu {
      display: none;
      min-width: 250px;

      @media (max-width: $bp-xs) {
        min-width: calc(100% - #{2 * $margin});
        left: $margin;
      }

      ul {
        padding-left: 0px;
        text-align: left;
        flex-direction: column;
        // flex: 1;
        .flex-between {
          padding-left: 0.75rem;
          margin-top: 3px;
          margin-bottom: 3px;
          width: 100%;
          position: relative;
          &:has(a.active) {
            background-color: var(--body-gray);
            border-radius: 1.5rem;
          }

          // button {
          //   background-color: transparent;
          //   box-shadow: none;
          //   padding: 0 0.75rem;

          //   svg {
          //     color: var(--txt-gray);
          //   }
          //   &:hover svg {
          //     color: var(--txt-orange);
          //   }
          // }

          // .submenu-collapse,
          // .submenu-close {
          //   position: absolute;
          //   top: 100%;
          //   left: 0;
          //   width: 100%;
          //   overflow: hidden;
          //   max-height: 0;
          //   transition: max-height 0.3s ease;
          //   z-index: 100;
          // }

          .submenu-close {
            max-height: 0;
          }
          .submenu-collapse {
            max-height: 500px;
          }
        }
      }

      &.active {
        opacity: 1;
        display: flex;
        flex-direction: column;
        transition: all 0.5s ease;
        z-index: 200;
        position: absolute;
        top: 70px;
        background-color: var(--contrast-color);
        box-shadow: 0 -6px 17px rgb(89 89 89 / 7%);
        border-radius: 10px;
        padding: 0.75rem;
        right: $margin;
        width: 20rem;
        // max-width: 20rem;
        // overflow-y: auto;
        // max-height: 90vh;

        .link svg {
          padding-right: 5px;
        }
      }

      //menu item
      .menu {
        display: flex;
        align-items: center;
        height: 2.7rem;
        justify-content: left;
        line-height: 1.2;

        &:nth-child(4) {
          border-bottom: 1px solid var(--border-gray);
        }
      }
      .logout-button-wrapper {
        margin: 0.5rem 0.75rem;
        padding-top: 0.5rem;
        border-top: 1px solid var(--border-gray);
        width: calc(100% - 1.5rem);
        flex: 1;
      }
    }
  }
  // }
}
