.help-content > li {
  border-bottom: 1px solid #d8d8d8;
  padding-top: 2rem;
  padding-bottom: 2rem;
  &:last-child {
    border-bottom: none;
  }
}

.help-content {
  h3 {
    line-height: 1.2;
    font-size: 1.5rem;
    margin-bottom: 0.75em;
  }
  p {
    font-size: inherit;
  }

  ul.bullets {
    list-style-position: inside;
    list-style-type: disc;
    margin-bottom: 1.5rem;
  }

  ul.bullets li {
    margin-bottom: 0.75rem;
  }

  .accordion:not(:last-child) {
    margin-bottom: 1rem;
  }
}
