.help-content > li {
  border-bottom: 1px solid #d8d8d8;
  padding-top: 2rem;
  padding-bottom: 2rem;
  &:last-child {
    border-bottom: none;
  }
}

.help-content {
  article {
    padding-bottom: 1em !important;
  }

  h3 {
    line-height: 1.2;
    font-size: 1.5rem;
    margin-bottom: 0.75em;
  }
  h4 {
    margin-top: 1.25em;
  }
  p {
    font-size: inherit;
    margin-bottom: 1.25em;
  }

  section {
    background: $body-gray;
    padding: 1.25rem 1rem 0.5rem;
    margin: 1rem 0;
  }

  ul.bullets {
    list-style-position: inside;
    list-style-type: disc;
    margin-bottom: 1.5rem;
  }

  ul.bullets li {
    margin-bottom: 0.75rem;
  }
  ul.bullets ol {
    list-style: numeric;
    list-style-position: inside;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
  }

  .accordion:not(:last-child) {
    margin-bottom: 1rem;
  }
}
