@use "figure";

.help-content > li {
  border-bottom: 1px solid #d8d8d8;
  padding-top: 2rem;
  padding-bottom: 2rem;
  &:last-child {
    border-bottom: none;
  }
}

.help-content {
  article {
    padding-bottom: 1em !important;
  }

  h3 {
    line-height: 1.2;
    font-size: 1.5rem;
    margin-bottom: 0.75em;
  }
  h4:not(:first-of-type) {
    margin-top: 1.25em;
  }
  p {
    font-size: inherit;
    margin-bottom: 1.25em;
  }

  section {
    @extend .notice-box;
  }

  .accordion:not(:last-child) {
    margin-bottom: 1rem;
  }
}
