@use "variables";

label,
.form-label {
  display: flex;
  font-size: variables.$txt-md;
  font-family: variables.$inter-bold;
  letter-spacing: 0.5px;
  line-height: 1;
  color: var(--body-txt);
  margin: 0 5px 5px 0;
}

.border-toggle-area {
  flex-basis: 100%;
  border-color: var(--border-gray);
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  padding: 16px;
}

#uniqueId-container label {
  white-space: nowrap;
}
