@use "variables";

.ladok {
  &-university {
    @media (max-width: variables.$bp-md) {
      flex-direction: column;

      &.flex-between {
        align-items: flex-start;
      }
    }
    @media (min-width: variables.$bp-md) {
      label {
        margin-bottom: 0;
      }
    }
  }

  &-university-name {
    flex-grow: 1;
    text-align: right;
    white-space: nowrap;
  }

  &-universities-status {
    color: var(--error-red);
    font-size: variables.$txt-md;
  }

  svg {
    transform: none;
  }

  input {
    height: initial;
  }

  label {
    &.flex-between {
      margin-right: 0;
    }
  }
}
