@import "variables";

.landing {
  background-image: radial-gradient(
      ellipse at 112% 100%,
      rgba(255, 255, 255, 0) 0,
      rgba(255, 255, 255, 0) 45%,
      rgba(255, 255, 255, 0.25) 45%,
      rgba(255, 255, 255, 0.65) 75%,
      rgb(255, 255, 255) 75%
    ),
    url("../../img/texture.png");
  padding: 1.5rem 2rem 0;
  overflow: hidden;
  box-shadow: 0 0 10px rgb(89 89 89 / 7%);
  border-radius: 0 0 3rem 0;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 0.75em;
  }
  .lead {
    padding-bottom: 0.75rem;
    margin-bottom: 2rem;

    p {
      font-size: inherit;
      &.med-txt {
        font-size: $txt-sm !important;
        margin-bottom: 0.5rem;
      }
    }
  }
  .buttons {
    padding: 0.75rem 0;
  }
  .landing-how-to {
    align-items: flex-end;
    margin: 0.5rem -4rem -4rem;
    filter: drop-shadow(0 -6px 0 #c1e1cd);

    div {
      flex: 1;
      height: 100%;
      padding: 4rem 3rem 5rem;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: -1rem;
      margin-right: -1rem;
      border-radius: 100% 100% 0 0;
      font-family: "Inter-Medium";
      font-size: $txt-sm;
      color: $txt-gray;

      &:nth-of-type(1) {
        padding: 4rem 3rem 5rem 5rem;
        background-color: #f3f9f5;
      }
      &:nth-of-type(2) {
        background-color: #e6f3eb;
      }
      &:nth-of-type(3) {
        background-color: #daede1;
      }
      &:nth-of-type(4) {
        background-color: #cde7d7;
        padding: 5rem 5rem 5rem 3rem;
      }
    }

    .icon-holder {
      margin-top: 0.5rem;

      img,
      svg {
        width: auto;
        height: 24px;
        margin: 5px;
        color: $txt-gray;
      }
    }
  }

  @media (max-width: $bp-md) {
    border-radius: 0;

    .landing-how-to {
      flex-direction: column;
      margin: 1rem -2rem 0;
      filter: none;
      border-radius: none;

      div {
        width: 100%;
        margin: 0 0 -5rem;
        padding: 3rem 2rem 5.5rem !important;
        filter: drop-shadow(0 -6px 0 #c1e1cd);

        &:nth-of-type(4) {
          background-color: #cde7d7;
          padding-bottom: 7rem;
        }
      }
    }
  }
}
