@use "variables" as *;
@use "typography";
/* styles for ordered list with large number */

.listed-steps {
  margin-left: $list-indent;
  list-style-type: decimal;

  li {
    font-size: $txt-lg;
    line-height: 1.25;
    margin-bottom: 2em;

    &::marker {
      font-size: $txt-md;
      font-family: $akkurat;
      font-weight: bold;
    }
    fieldset:last-of-type {
      margin-bottom: 0;
    }
  }
  @media (max-width: $bp-sm) {
    /* counteracts additional list left margin in mobile mode */
    .x-adjust {
      margin-left: #{-1 * $list-indent};
    }
  }
}

dl.terms {
  dt {
    @extend .heading-4;
  }
  dd {
    margin-bottom: 0.5rem;
    font-size: $txt-md;
    display: list-item;
    list-style-position: inside;

    + dt {
      margin-top: 1.5rem;
    }
  }
  margin-bottom: 1rem;
}

.nested {
  margin: 0.5rem 0 0 0.5rem;
  list-style: circle;

  li {
    margin: 0 0 0.75rem 1.75rem;
  }
}

ul.bullets,
ol.numbers {
  list-style-position: inside;
  margin-bottom: 1.5rem;
  > li {
    list-style-position: inside;
    margin-bottom: 1rem;
  }
}
ul.bullets {
  list-style-type: disc;
}
ol.numbers {
  list-style: numeric;
}
ul.bullets ol {
  list-style: numeric;
  list-style-position: inside;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  margin-left: 1rem;
}
