@import "./variables";

// username and password
.username-pw {
  margin-bottom: 2rem;

  form {
    margin-top: 0;

    .form-group {
      margin-bottom: $margin;
    }

    .welcome-back-container {
      margin: 0 0 1rem;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      @media (max-width: $bp-sm) {
        flex-direction: column;
        align-items: flex-start;

        h3 {
          margin-bottom: 0.5em;
        }
      }

      legend {
        @extend h3;

        display: block;
        width: fit-content !important;
      }
    }

    .links {
      a {
        margin: 0.25rem 0;
        display: inline-block;
      }

      @media (max-width: $bp-xl) {
        margin-top: 1rem;
      }
    }

    .flex-between {
      flex-direction: row;
      text-align: right;

      @media (max-width: $bp-xl) {
        flex-direction: column;
        text-align: center;
      }
    }
  }
}

// multi-factor authentication
.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: #{2 * $margin};

  .option-wrapper {
    margin-bottom: 2rem;
    width: 330px;

    .option {
      border-radius: 20px;
      background: $white;
      box-shadow: 0 4px 14px rgb(89 89 89 / 7%);
      padding: 1rem;
      min-height: 175px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h3 {
        font-size: 1.25rem;
      }

      h3,
      .help-text {
        margin: 0;
      }

      // duplicate in _buttons.scss?
      .icon {
        background: transparent;
        padding: 0;
        margin: 0;
        height: auto;
        border: none;

        svg {
          color: $txt-black;
          height: 1rem;
          width: 1rem;
        }
      }

      .bottom {
        align-items: flex-end;

        img {
          max-width: 178px;
        }
      }
    }

    @media (max-width: $bp-xs) {
      width: 100%;
    }
  }
}

// use another device
.use-another-device {
  .response-code-inputs {
    input {
      display: inline-block;
      border: 1px solid $txt-gray;
      font-size: 1.75rem;
      margin: 5px;
      width: 2.5rem;
      text-align: center;

      &:focus {
        box-shadow: none;
        border: 2px solid $txt-black;
        position: relative;
      }

      &:nth-child(3) {
        margin-right: 1.5rem;
      }
    }

    @media (max-width: $bp-md) {
      input {
        margin: 5px -1px 5px 0;

        &:nth-child(3) {
          margin-right: 1rem;
        }
      }
    }
  }

  &.device1 {
    .response-code-inputs {
      @extend .figure;

      margin-bottom: 0;
    }

    .input-validate-error {
      margin-top: 0.5rem;
      display: inline-block;
    }

    .buttons {
      margin-top: 1rem;
    }
  }

  &.device2 .response-code-inputs {
    input {
      border: none;
      width: 1.75rem;
      padding: 0;

      &:nth-child(3) {
        margin-right: 1rem;
      }
    }
  }

  .expiration-info {
    position: relative;

    @extend .x-adjust;
  }

  .expires-meter {
    margin-top: 1.5rem;

    @media (min-width: $bp-md) {
      position: absolute;
      bottom: 0.5rem;
      right: 0;
    }
  }

  form.response-code-form {
    margin-top: 0;
  }

  .finished.device2 {
    $warning_size: 1.5rem;

    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    .response-code-form {
      align-items: center;
    }
  }

  .listed-steps {
    figure {
      img.qr-code {
        width: 200px;
      }
    }

    @media (max-width: $bp-sm) {
      .x-adjust {
        margin-left: #{-1 * $list-indent};
      }
    }
  }

  .developer {
    // show QR URL at the bottom for non-production environments
    height: 10rem;
    font-size: 0.8rem;
    overflow: hidden;
    word-break: break-all;
  }
}
