@use "variables";

/** Dynamic user communications **/

// Top notification bar
.notifications-area {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 150;
  opacity: 0.95;
}

.alert.alert-dismissible {
  position: relative;
  margin: 0;
  padding: 1rem 0;
  border-radius: 0;

  &.alert-danger,
  &.alert-success {
    color: var(--error-red);
    background-color: var(--bg-orange);
    border: none;
  }

  span {
    padding-right: 0.5rem;

    @media (max-width: variables.$bp-sm) {
      margin: 0;
    }
  }

  .close {
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    right: 1rem;
    top: 1rem;
    padding: 0;
    border-radius: 50%;

    &:hover {
      color: variables.$bright-orange;
    }

    @media (max-width: variables.$bp-sm) {
      font-size: variables.$txt-xs;
    }
  }

  @media (max-width: variables.$bp-sm) {
    padding: 1rem;
  }
}

// On Dashboard menu
.notification-dot {
  width: 12px;
  height: 12px;
  position: relative;
  background-color: variables.$bright-orange;
  border-radius: 50%;
  margin-top: -1rem;
}

// Speach-bubbletip

/* Wrapping */
.speech-bubbletip-wrapper {
  display: inline-block;
  position: relative;
}

/* Absolute positioning */
.speech-bubbletip {
  display: inline-block;
  position: absolute;
  border-radius: 4px;
  left: calc(50%);
  transform: translateX(-50%);
  padding: 6px;
  color: var(--contrast-color);
  background: var(--body-txt);
  font-size: variables.$txt-sm;
  font-family: variables.$inter-regular;
  line-height: 1;
  z-index: 10;
  white-space: nowrap;

  & b {
    @extend .text-bold !optional;
  }
}

/* CSS border triangles */
.speech-bubbletip::before {
  content: " ";
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-width: 6px;
  top: 100%;
  border-top-color: var(--body-txt);
}

/* Absolute positioning */
.speech-bubbletip {
  top: calc(50px * -1);
  left: calc(50% * -1);
}

.speech-bubbletip::before,
.speech-bubbletip.settings.en::before,
.speech-bubbletip.settings.sv::before {
  left: 52%;
}

@media (max-width: variables.$bp-md) {
  .speech-bubbletip.settings.sv {
    left: -100px;
  }

  .speech-bubbletip.settings.sv::before {
    left: 74%;
  }
}

@media (max-width: 432px) {
  .speech-bubbletip.settings,
  .speech-bubbletip.identity {
    width: 270px;
    white-space: normal;
    top: -65px;
  }

  .speech-bubbletip.identity.short {
    top: -52px;
  }

  .speech-bubbletip.settings.en {
    left: -80px;
  }

  .speech-bubbletip.settings.sv {
    left: 5px;
  }

  .speech-bubbletip.identity {
    left: -56px;
  }

  .speech-bubbletip.identity::before {
    left: 70%;
  }

  .speech-bubbletip.settings.en::before {
    left: 80%;
  }

  .speech-bubbletip.settings.sv::before {
    left: 48%;
  }
}

@media (max-width: 384px) {
  .speech-bubbletip.settings.en {
    left: 55px;
  }

  .speech-bubbletip.settings.en::before {
    left: 30%;
  }
}
