/** Edit name form **/

.personal-data {
  .title {
    margin-bottom: 1.25rem;
  }

  @media (max-width: $bp-xs) {
    .button-pair {
      flex-direction: column;
    }
  }

  .name-inputs {
    .icon-text {
      display: flex;
      align-items: baseline;

      label.hint {
        font-family: inherit;
        line-height: 1.2;
        margin: 0 0 0 0.5rem;
        padding: 0;
      }
    }
  }

  .heading,
  .title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    .link {
      height: 100%;
    }

    .close {
      padding: 0;
      border-radius: 0;
    }
  }

  .edit-data {
    background-color: #fff;
    padding: 1rem;
  }
}

#add-personal-data {
  align-self: unset;
}

.personal-data-info {
  display: flex;
  flex-wrap: wrap;
}

// styles for input on white bg
.edit-data {
  .form-control,
  input {
    background-color: var(--body-gray);
  }

  .form-group {
    flex: 1;

    @media (max-width: $bp-sm) {
      margin-top: 1rem;
    }

    &:last-child {
      margin-left: 1rem;

      @media (max-width: $bp-sm) {
        margin-left: 0;
      }
    }
  }

  p.verified {
    padding-bottom: 0;
  }
}

// styles for displayed names
.external-names {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin-bottom: 0;
}

.external-names,
.personal-data-info {
  .profile-grid-cell {
    flex: 1;
    flex-basis: 47%;
    justify-content: unset;
    margin: 0 1rem 1rem 0;
  }
}
