/** react-select style overrides, final-form element prefixed by "react-select" **/
form .react-select {
  &-container {
    padding-top: 2px;
  }

  &__control {
    border: 2px solid $border-gray;

    .react-select__indicator {
      color: $txt-gray;
    }
  }

  &__control:hover {
    border: 2px solid $txt-gray;
    box-shadow: none;
  }

  &__control--is-focused {
    box-shadow: none;
  }

  &__indicator-separator {
    width: 0;
  }

  &__placeholder {
    font-family: $inter-regular;
    color: $txt-black;
  }

  &__option--is-focused {
    background-color: $bg-orange;
  }

  &__option--is-selected {
    color: initial;
    background-color: darken($bg-orange, 5%);
  }
}
