/** React-select style overrides, final-form element prefixed by "react-select" **/

form .react-select,
.basic-multi-select .select,
.select--is-disabled .select {
  &__control {
    border: 2px solid var(--border-gray);

    .react-select__indicator {
      color: var(--txt-gray);
    }

    &--is-disabled {
      background-color: $bg-gray;
      font-size: 1.25rem;
      * {
        color: var(--txt-gray);
      }
    }
  }

  &__control:hover {
    border: 2px solid var(--txt-gray);
    box-shadow: none;
  }

  //also focus-visible
  &__control--is-focused {
    outline: 2px dashed var(--body-txt) !important;
    box-shadow: none;
  }

  &__indicator-separator {
    width: 0;
  }

  &__placeholder {
    font-family: $inter-regular;
    color: var(--body-txt);
  }

  &__option--is-focused {
    background-color: var(--bg-orange);
    outline: 1px dashed var(--body-txt) !important;
    outline-offset: -1px;
  }

  &__option--is-selected {
    color: initial;
    background-color: darken var(--bg-orange), 5%;
  }
}

.select-group {
  @extend .flex-between;

  margin-top: 0.75rem;
  column-gap: 0.5rem;
  row-gap: 0.5rem;

  > div:nth-child(1) {
    flex: 2;
  }
  > div:nth-child(2) {
    flex: 1;
  }
  .select__control,
  div.default-surname {
    min-height: 3rem;
  }
  input {
    height: auto;

    &:focus {
      box-shadow: none;
    }
  }
  @media (max-width: $bp-md) {
    > div:nth-child(1) {
      flex: 1;
    }
  }
  @media (max-width: $bp-sm) {
    flex-direction: column;
    > div {
      width: 100%;
    }
  }
  div.default-surname {
    display: inline-block;
    border: 2px solid var(--border-gray);
    border-radius: 4px;
    padding: 6px 12px;
    cursor: not-allowed;
    background-color: $bg-gray;
    color: var(--txt-gray);
    font-size: 1.25rem;
  }
}
//login react select
.mfa-select {
  height: 3rem;
  min-width: 100px;
  padding: 0 1.125rem;

  .react-select__placeholder {
    color: $txt-orange;
    font-family: $akkurat;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
  }

  .css-tj5bde-Svg {
    color: $txt-orange;
  }

  .react-select__control {
    display: flex;
    height: 3rem;
    align-items: center;
    background-color: var(--contrast-color);
    border-radius: 1.5rem;
    cursor: pointer;
    border: solid 2px $bright-orange;

    &.react-select__control--is-disabled {
      cursor: not-allowed;
      pointer-events: all !important;
      background-color: #db3a00;
      border-color: inherit;
      color: #fff;
      opacity: 0.4;

      .react-select__placeholder {
        color: var(--contrast-color);
      }
      svg.css-tj5bde-Svg {
        display: none;
      }
    }
  }

  .react-select__control:hover {
    border: solid 2px $bright-orange;
  }
  .react-select__value-container {
    height: 3rem;
    padding: 0;
    text-align: center;

    .react-select__single-value {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .react-select__menu {
    width: 90%;
    background-color: var(--contrast-color);
    padding: 0 3px;
  }
  .react-select__menu-list {
    .react-select__option {
      display: flex;
      align-items: center;
    }
  }

  .select-option-text {
    color: $txt-orange;
    font-family: $akkurat;
    font-weight: 700;
  }
}
.mfa-select__control--is-focused {
  border-color: transparent;
}
.mfa-select__control:not(.custom-select__control--is-focused) {
  border-color: transparent;
}
