@use "variables" as *;

/** Reset pw flow specific styles **/

.description-without-security {
  margin-top: 1.5rem;
}

#reset-password-form {
  margin-top: 0;

  &.form-group {
    margin-bottom: 0;
  }
}

@media (max-width: $bp-sm) {
  #reset-password-form {
    flex-direction: column;
    align-items: unset;

    & #reset-password-button {
      width: 100%;
      margin-left: 0;
    }
  }
}
