/* styles for tables displaying user info on settings page */
@import "variables";

table {
  width: 100%;
  font-size: 1.125rem;
  font-family: $inter-light;
  table-layout: fixed;
  background-color: $white;

  @media (max-width: $bp-md) {
    font-size: 1rem;
  }

  & tbody {
    margin-bottom: 1rem;

    & th:first-child {
      padding-left: 1rem;
      line-height: 1;
    }

    & td {
      text-align: left;
      vertical-align: middle;
      line-height: 1;

      &.value-status {
        & button {
          margin: 0;
          padding: 0;
        }

        & span {
          font-family: $akkurat;
          letter-spacing: 1px;
          font-weight: 700;
          padding: 0;
          font-size: 0.75rem;
          text-transform: uppercase;
        }
      }

      .verified {
        text-transform: uppercase;
        font-family: $inter-regular;
        font-weight: 700;
        font-size: 0.75rem;
      }

      &.remove-data {
        & .icon-button {
          margin: 0;
          padding: 0;
        }
      }

      &.primary {
        color: $txt-black;
      }
      &.verified,
      &.unverified,
      &.primary {
        padding: 0.75rem 1rem;
      }

      .btn-remove-webauthn {
        padding: 0;
      }
    }

    & tr.webauthn-token-holder.verified {
      color: $txt-black;
    }

    & tr {
      height: 3rem;

      &.border-row {
        font-size: 0.8rem;
        border-bottom: 1px solid $border-gray;
      }

      &td:first-child {
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }

    & tr.status {
      height: auto;

      td:last-child {
        text-align: center;

        a {
          font-size: 0.75em;
        }
      }
    }

    & tr.display-none {
      display: none;
    }
  }

  .identity-summary &,
  .progress-summary & {
    table-layout: auto;
    margin-bottom: 0;

    .border-row {
      &:last-of-type {
        border-bottom: none;
      }

      .flag-icon {
        font-size: 2em !important;
      }

      .circle-icon {
        height: 2rem;

        @media (max-width: $bp-md) {
          height: 1.5rem;
        }
      }
    }

    a {
      font-size: 1rem;
    }
  }

  .progress-summary &,
  #phone-display {
    margin-top: 1rem;
  }
  #phone-display &,
  #email-display & {
    tr.display-none {
      display: none;
    }
    tr {
      display: grid;
      grid-template-columns: 3fr 1.5fr 0.5fr;
      gap: 5px;
      align-items: center;
      padding: 5px;
    }
    tr > * {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

caption {
  caption-side: top;
  color: inherit;
}

// Help page list
.keys,
  // Security keys in use
  .active-keys {
  table-layout: auto;
  font-size: $txt-sm;

  tr {
    height: auto;
  }

  th {
    border-bottom: 2px dashed $border-gray;
    padding: 1rem 0.5rem 0.75rem;

    &:first-child {
      width: 2rem;
    }
  }
  th,
  td {
    vertical-align: top;
    line-height: 1.25;

    &:first-child {
      padding-left: 1rem;
    }
    &:last-child {
      padding-right: 1rem;
    }
  }

  td {
    word-wrap: break-word;
    padding: 0.5rem;
  }
}
.active-keys {
  margin: 1rem 0;

  th {
    border-width: 1px;
  }
  th,
  td {
    &:first-child {
      width: 30%;
    }
  }

  tr:last-child td {
    padding-bottom: 1rem;
  }
  .btn-link {
    height: auto;
    margin-right: 1rem;
  }

  @media (max-width: $bp-sm) {
    th,
    td {
      &:nth-child(2),
      &:nth-child(3) {
        display: none;
      }
      &:nth-child(1) {
        width: 50%;
      }
    }
  }
}
.keys {
  @extend code;
  tr {
    &:nth-child(even) {
      background-color: $bg-gray;
    }

    th {
      &:first-child {
        width: 2rem;
      }
    }
  }
}

.key-update {
  display: flex;
  align-items: center;
  column-gap: 2rem;

  label {
    display: inline-block;
  }
}
