@use "variables";

/** Digital timer **/

.expires-meter {
  color: var(--body-txt);
  font-size: variables.$txt-xl;
  text-align: center;

  .expires-symbol {
    padding-right: 0.5rem;
    line-height: 1;

    svg {
      height: 1.25rem;
      width: 1.25rem;
    }
  }

  .timer {
    margin-top: 0;
    font-family: variables.$akkurat;
  }
}
