@use "variables" as *;
/** Digital timer **/

.expires-meter {
  color: var(--body-txt);
  font-size: $txt-xl;
  text-align: center;

  .expires-symbol {
    padding-right: 0.5rem;
    line-height: 1;

    svg {
      height: 1.25rem;
      width: 1.25rem;
    }
  }

  .timer {
    margin-top: 0;
    font-family: $akkurat;

    a {
      margin-right: 0.5rem;
    }

    .display-none {
      display: none;
    }

    span#timer-in {
      font-family: $akkurat;
      color: var(--txt-gray);
      font-size: $txt-md;
    }
  }
}
