@use "variables" as *; /** Site wide typography **/

h1,
h2,
h3,
h4,
h5,
.heading-2,
.heading-4 {
  margin-top: 0;
  margin-bottom: 1em;
  line-height: 1.2;
  font-family: $inter-bold;
  font-weight: normal;

  @media (max-width: $bp-md) {
    word-wrap: break-word;
    word-break: break-word;
  }
}

h1 {
  font-size: 2rem;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-family: $inter-light;

  @media (max-width: $bp-md) {
    font-size: 1.75rem;
  }
}

h2,
.heading-2 {
  font-size: 1.5rem;
  margin-bottom: 0.75em;

  @media (max-width: $bp-md) {
    font-size: 1.375rem;
  }
}

h3 {
  font-size: 1.375rem;
  margin-bottom: 0.75em;

  @media (max-width: $bp-md) {
    font-size: 1.25rem;
  }
}

h4,
.heading-4 {
  font-size: 1.25rem;
  margin-bottom: 0.5em;
}

h5,
.heading-5 {
  font-family: $inter-light;
  text-transform: uppercase;
  font-size: $txt-sm;
  margin-bottom: 0.5em;
}

.lead {
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--border-gray);

  p {
    font-size: $txt-xl;
  }

  @media (max-width: $bp-md) {
    margin-bottom: 1.25rem;
    padding-bottom: 0;

    p {
      font-size: $txt-lg;
    }
  }
}

p {
  font-size: $txt-lg;
  line-height: $line-height;
  margin-bottom: 1rem;

  + p {
    margin-top: -0.5rem;
  }

  @media (max-width: $bp-md) {
    font-size: $txt-md;
  }
}

p.verified {
  color: var(--body-txt);
}

// these styles are the same as input values and placeholder
// p.data {
//   font-size: 1.5rem;
//   font-weight: 500;
// }

p.no-data.data {
  color: var(--txt-gray);
}

.text-large {
  font-size: $txt-lg;
}
.text-medium {
  font-size: $txt-md;
}
.text-small {
  font-size: $txt-sm;
}

//only for body text, Akkurat links and buttons need separate handling
strong,
b,
.text-bold {
  font-family: $inter-bold;
  font-weight: normal;
  //font-weight: bold;
  //@extend b;
}

em {
  font-style: italic;
  // TODO: Confirm that the page works correctly, then remove @extend i.
  // @extend i;
}

.verbatim {
  text-transform: none;
}

code {
  font-family: monospace;
  color: var(--txt-gray);
}
.error-txt {
  color: var(--error-red);
  font-size: $txt-sm !important;
}
