/** System wide variables to reuse for consistency **/

/*
 * Colors
 * ========================================================================== */

//CSS vars inst of SASS to enable dark mode overrides
:root {
  --contrast-color: #fff;
  --body-txt: #161616;
  --body-gray: #f4f4f4;
  --txt-gray: #5e5e5e; //text on bg gray
  --border-gray: #d8d8d8;
  --txt-orange: #c23400; //text on gray or orange
  --bg-orange: #ffe7dd;
  --error-red: #d2143a;
}
$bg-gray: #ebebeb;
$bright-orange: #ff4500; //eduID, highlights
$btn-orange: #db3a00; //white on orange
$success-green: #177d4d;
/*
 * Typography
 * ========================================================================== */

$inter-bold: "Inter-SemiBold", "Arial", "Helvetica", "sans-serif";
$inter-regular: "Inter-Regular", "Arial", "Helvetica", "sans-serif";
$inter-medium: "Inter-Medium", "Arial", "Helvetica", "sans-serif";
$inter-light: "Inter-light", "Arial", "Helvetica", "sans-serif";
$akkurat: "Akkurat", "Arial", "Helvetica", "sans-serif";
$txt-xs: 0.75rem;
$txt-sm: 0.9rem;
$txt-md: 1rem;
$txt-lg: 1.25rem;
$line-height: 1.4;
$margin: 1rem;
$list-indent: 2.25rem;

/*
 * Breakpoints
 * ========================================================================== */

$bp-xs: 414px;
$bp-sm: 568px;
$bp-md: 768px;
$bp-lg: 823px;
$bp-xl: 1200px;

// $bp-xxl: 1400px;

/*
* Layout
* ========================================================================== */
$border-width: 2px;
