.help-content > li {
  border-bottom: 1px solid var(--border-gray);
  padding-top: 2rem;
  padding-bottom: 2rem;

  &:last-child {
    border-bottom: none;
  }
}

.help-content {
  article {
    padding-bottom: 1em !important;

    > h5 {
      margin-top: -2rem;
      padding-top: 2rem;
    }
  }

  h3 {
    line-height: 1.2;
    font-size: 1.5rem;
    margin-bottom: 0.75em;
  }

  h4:not(:first-of-type) {
    margin-top: 1.25em;
  }

  p {
    font-size: inherit;
    margin-bottom: 1.25em;
  }

  section {
    padding: 1.25rem 1rem 0.5rem;
    margin: 1rem 0;
    border: 1px solid var(--bright-orange);
    border-radius: 10px;
    background: var(--contrast-color);
  }

  .accordion:not(:last-child) {
    margin-bottom: 1rem;
  }

  dl.link-list {
    margin-bottom: 2rem;

    dt {
      margin-bottom: 0.5rem;
    }

    dd a::before {
      content: "➔ ";
    }
  }
}
