/* Plate to highlight content, with numbered steps at bottom.  */

.step-container {
  background-color: white;
  padding: 1rem 1.5rem;
  box-shadow: var(--shadow-sm);

  @media (--bp-sm-up) {
    margin: 0 -1.5rem;
  }

  h1 {
    margin-bottom: 0.25em;
  }

  .destination-info {
    color: var(--txt-green);
    font-size: var(--txt-sm);
  }

  .lead {
    margin-bottom: 1.5rem;

    p {
      font-size: var(--txt-lg);
      color: var(--txt-gray);
    }
  }

  img.passkey-image {
    width: 5rem !important;
  }

  .mfa-alternative {
    border: 1px var(--success-green) solid;
    border-radius: 6px;
    padding: 1rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;

    .wizard-link-wrapper {
      padding-top: 0;

      button {
        height: 2rem;
      }
    }
  }

  figure {
    background-color: #daede1;

    &.signin-details {
      text-align: left;
    }
  }

  .hint {
    font-size: 14px !important;
    font-style: italic;
    border: 1px solid green;
    border-radius: 6px;
    padding: 1rem;
    margin-top: 0.5rem;
  }

  .border-line {
    margin-top: 1.5rem;
  }

  .step-indicator {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;

    div {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      background-color: var(--bg-gray);
      color: var(--body-txt);
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      margin-right: 1.5rem;
      font-family: monospace;

      &.completed {
        background-color: #cde7d7;
        color: #161616;
      }

      &.active {
        background-color: var(--success-green);
        color: #f4f4f4;
      }
    }
  }
}
