/*
 * Colors
 * ========================================================================== */

$white: #fff;
$txt-black: #161616;
$body-gray: #f4f4f4;
$bg-gray: #ebebeb;
$border-gray: #d8d8d8;
$txt-gray: #5e5e5e; //text on bg gray

$bg-orange: #ffe7dd;
$bright-orange: #ff4500; //eduID, higlights
$txt-orange: #c23400; //text on gray or orange
$btn-orange: #db3a00; //white on orange

$error-red: #d2143a;
$success-green: #177d4d;

/*
 * Typography
 * ========================================================================== */

$inter-bold: "Inter-SemiBold", "Arial", "Helvetica", "sans-serif";
$inter-light: "Inter-light", "Arial", "Helvetica", "sans-serif";
$inter-regular: "Inter-Regular", "Arial", "Helvetica", "sans-serif";
$akkurat: "Akkurat", "Arial", "Helvetica", "sans-serif";
$txt-xs: 0.75rem;
$txt-sm: 0.9rem;
$txt-md: 1rem;
$txt-lg: 1.25rem;
$line-height: 1.4;
$margin: 1rem;
$list-indent: 2.25rem;

/*
 * Breakpoints
 * ========================================================================== */

$bp-xs: 414px;
$bp-sm: 568px;
$bp-md: 768px;
$bp-lg: 823px;
$bp-xl: 1200px;

// $bp-xxl: 1400px;

/*
* Layout
* ========================================================================== */
$border-width: 2px;

/** experimenting below for landing styles **/
.panel,
footer {
  background: white;
}

footer {
  border-top: none;
}
h1 {
  font-size: 2.5rem;
}
.panel .content {
  padding-top: 0;
}
.heading-5 {
  margin-bottom: 0.75em;
}
.lead {
  padding-bottom: 0.75rem;
  margin-bottom: 1.25rem;
  border-color: $bright-orange;
  p {
    font-size: inherit;
    &.med-txt {
      font-size: $txt-sm !important;
      margin-bottom: 0.5rem;
    }
  }
}
.landing-how-to {
  //border-radius: 4.25rem;
  //overflow: hidden;
  //   margin-left: -1.5rem;
  //   margin-right: -1.5rem;
  //background-image: linear-gradient(to right, #f3f9f5, #cde7d7);
  div {
    flex: 1;
    height: 100%;
    padding: 1.5rem 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -1rem;
    margin-right: -1rem;
    border-radius: 5rem;
    font-family: "Inter-Medium";
    color: $txt-gray;
    //border: 1px $success-green solid !important;

    &:nth-of-type(1) {
      //background-color: rgba(243, 249, 245, 0.5);
      background: darken(rgba(243, 249, 245, 0.5), 10%);
    }
    &:nth-of-type(2) {
      //background-color: rgba(230, 243, 235, 0.5);
      background: darken(rgba(230, 243, 235, 0.5), 10%);
    }
    &:nth-of-type(3) {
      //background-color: rgba(218, 237, 225, 0.5);
      background: darken(rgba(218, 237, 225, 0.5), 10%);
    }
    &:nth-of-type(4) {
      //background-color: rgba(205, 231, 215, 0.5);
      background: darken(rgba(205, 231, 215, 0.5), 10%);
    }
  }
  .icon-holder {
    margin-top: 0.5rem;

    img,
    svg {
      width: auto;
      height: 24px;
      margin: 5px;
      color: $txt-gray;
    }
  }
}
