@import "../variables.scss";

.orcid-logo {
  display: inline-flex;
  align-self: center;
  height: 1.25em;
  width: 1.25em;
  top: 0.125em;

  position: relative;
  background: url(../../img/vector_iD_icon.svg);
}

.orcid-logo-container {
  display: inline-flex;
  align-items: center;
  padding-left: 0.25em;
  padding-right: 0.25em;
  fill: currentColor;
}

.orcid-logo-container label {
  margin: 0 0 0 10px;
}

.orcid-btn-help {
  margin: 0;
  line-height: 1.2;
  color: #7c7c7c;
  font-size: 14px;
  margin-top: 15px;
}

