@import "../variables.scss";

html {
  width: 100vw;
  overflow-x: hidden;
}

body {
  scroll-behavior: smooth;
  // display: flex;
}

// body,
// .well,
// .container-fluid .jumbotron,
// div.modal-dialog .modal-content {
//   background-color: #fffffe;
//   // background-image: url(../../img/texture.png);
//   color: $black;
// }

html,
body,
.well,
.container-fluid .jumbotron,
div.modal-dialog .modal-content {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}
// header {
//   display: grid;
// }

/* typography */
h1 {
  font-size: 28px;
  font-weight: 700;
  line-height: 44px;
  margin-top: 0;
}

h2 {
  font-size: 28px;
  line-height: 42px;
  margin-top: 24;
}

h3 {
  font-size: 24px;
  line-height: 34px;
  margin-top: 56px;
}

h4 {
  font-size: 18px;
  padding: 0;
  margin: 0;
}

h5 {
  padding: 0;
  margin: 0;
}

h6 {
  color: $black;
}

// h1,
// h2 {
//   font-size: 36px;
//   color: $text-color;
//   margin: 0 0 20px 0;
// }

p {
  font-size: 20px;
  line-height: 32px;
  margin-top: 24px;
}

// p,
// li {
//   font-size: 16px;
// }

// h1,
// h2,
// h4 {
//   font-family: "Roboto-Light";
// }

// p {
//   margin: 0 0 10px;
// }

/* Button */
button {
  font-family: "Montserrat", sans-serif;
  color: $black;
  background-color: $white;
  font-weight: 700;
  font-size: 16px;
  border-radius: 20px;
  letter-spacing: 0.5px;
  box-shadow: 0 5px 17px rgba(89, 89, 89, 0.07);
  border: none;
  padding: 10px 20px;
  transition: all 0.5s ease;
}

label {
  // text-align: left !important;
  // display: block;
  // margin-bottom: 5px !important;
  // color: #6d6d6d;
  // font-family: "Roboto-Regular";
  font-size: 12px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.5px;
  line-height: 1;
  // color: #3f5c57;
  font-weight: 700;
  color: #161616;
  padding: 0 0 0 2px;
  margin: 0;
}

/* Form */
input {
  padding: 0 20px;
  border-radius: 0;
  box-shadow: none;
  font-family: "Montserrat", sans-serif;
  // font-weight: 900;
  color: #161616;
  font-size: 24px;
}
// input::placeholder {
//   font-family: "Roboto-Medium";
//   color: blue;
// }

input:focus {
  outline: 0;
}

/* Nav */
nav {
  margin: 0 0 30px 0;
}

nav li {
  list-style: none;
}

// .clear-right {
//   float: right;
//   clear: right;
// }

img {
  width: 100%;
}

a {
  color: $link-color;
  font-weight: 500;
}

.help {
  padding-top: 10px;
}
// .help a {
//   position: relative;
//   padding-left: 38px;
//   color: #000;
// }
.help a:hover {
  text-decoration: none;
}
.help a:before {
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  background: url(../../img/sprite.png) -9px -53px no-repeat;
  position: absolute;
  top: -6px;
  left: 0;
}

small,
.small {
  font-size: 100%;
}

.intro h4 {
  font-size: 24px;
  line-height: 34px;
  margin-top: 56px;
  font-weight: 700;
}

.intro {
  margin: 0 0 10px 0;
}

/* Main marketing message and sign up button */
#content-block > h3:first-child {
  font-weight: bold;
  font-size: 32px;
}

.row {
  margin: 0;
}

.container-fluid .jumbotron {
  color: #fff;
}

.jumbotron {
  margin: 60px 0;
  text-align: center;
  clear: both;
}

.jumbotron h1,
.jumbotron p.lead {
  text-align: center;
}

.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}

.jumbotron .lead {
  margin: 1em 0 2em 0;
}

.jumbotron p {
  color: #3f5c57;
}

.jumbotron input {
  height: 30px;
}

.input-group .help-block {
  font-size: 14px;
}

/* forms ---------------*/

form {
  display: flex;
  flex-direction: column;
}

form.form-inline div.alert {
  display: block;
}

.form-inline {
  margin: 30px 0;
}

form.form-horizontal label {
  font-weight: 400;
}

.table-form .btn-link {
  padding: 0;
  margin-bottom: 0;
}

// div.form-content {
//   margin-top: 10px;
// }

.form-horizontal .form-group {
  margin-left: 0;
}

div.controls > span.uneditable-input {
  padding-top: 18px;
}
// .form-text {
//   margin-top: 5px;
//   margin-bottom: 10px;
//   padding: 0px 20px 0 0;
// }

/* valid form input*/

.form-control.is-valid {
  border: 2px solid $light-green;
}

.form-control.is-valid:focus {
  border-color: $light-green;
  box-shadow: 0 0 0 0.2rem $light-green-shadow;
}

/* invalid form input */

.form-control.is-invalid {
  border: 2px solid $error-red;
}

.form-control.is-invalid:focus {
  border-color: $error-red;
  box-shadow: 0 0 0 0.2rem $error-red-shadow;
}

.eduid-field-error {
  color: $error-red;
  font-weight: 500;
}

.form-control {
  height: 48px;
  border-radius: 0;
  box-shadow: none;
  font-size: 24px;
  font-family: "Roboto-Regular";
}

.form-control:focus {
  border-color: #fff;
  box-shadow: none;
}

fieldset {
  width: 100%;
}

// /* removing inlines */

// div.position-relative {
//   position: relative;
//   clear: both;
// }

ul.nav.navbar-nav li a {
  color: #3f5c57;
}

/* Mobile scrollbar */
::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 12px;
}

::-webkit-scrollbar:horizontal {
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ffffff;
}

/* Fontface */
@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/roboto-light-webfont.eot");
  src: url("../fonts/roboto-light-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/roboto-light-webfont.woff") format("woff"),
    url("../fonts/roboto-light-webfont.svg#webfontZam02nTh") format("svg"),
    url("../fonts/roboto-light-webfont.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/roboto-regular-webfont.eot");
  src: url("../fonts/roboto-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/roboto-regular-webfont.woff") format("woff"),
    url("../fonts/roboto-regular-webfont.svg#webfontZam02nTh") format("svg"),
    url("../fonts/roboto-regular-webfont.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Black";
  src: url("../fonts/roboto-black-webfont.eot");
  src: url("../fonts/roboto-black-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/roboto-black-webfont.woff") format("woff"),
    url("../fonts/roboto-black-webfont.svg#webfontZam02nTh") format("svg"),
    url("../fonts/roboto-black-webfont.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/roboto-medium-webfont.eot");
  src: url("../fonts/roboto-medium-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/roboto-medium-webfont.woff") format("woff"),
    url("../fonts/roboto-medium-webfont.svg#webfontZam02nTh") format("svg"),
    url("../fonts/roboto-medium-webfont.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
}

@media only screen and (min-width: 960px) {
  .jumbotron h1 {
    font-size: 72px;
    line-height: 1;
    font-weight: 800;
  }

  .jumbotron .form-inline .form-group {
    margin: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .jumbotron .form-inline .form-group {
    margin: 10px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  // div.wrap.container#root {
  //   max-width: 96%;
  // }

  .jumbotron h1,
  .jumbotron h2 {
    font-size: 54px;
    margin: 20px 0;
  }
}

@media only screen and (max-width: 767px) {
  .jumbotron h1,
  .jumbotron h2 {
    font-size: 32px;
    margin: 20px 0;
  }

  /* Texts */
  .jumbotron h1 {
    font-size: 36px;
    line-height: 1;
    font-weight: 400;
  }

  .jumbotron .form-inline .form-group {
    margin: 10px;
  }

  /* Paddings */
  .container-fluid .jumbotron {
    padding-top: 0 !important;
    padding-bottom: 0;
  }
  .jumbotron {
    padding: 0;
  }

  /* Buttons */
  .btn {
    margin-left: auto !important;
    margin-right: auto;
    max-width: 100%;
    font-size: 13px;
  }

  /* Pages */
  .form-group {
    width: 100%;
  }
  .table-responsive td {
    padding-right: 20px;
    padding-left: 20px;
  }
  .intro h4 {
    font-size: 24px;
  }
  .table > tbody > tr.emailrow td {
    padding: 10px 15px;
  }
  .table-responsive {
    border: none;
  }
  .text-xs-center {
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .jumbotron p.lead {
    font-size: 24px;
  }
}

/* Modals
-------------------------------------------------- */

h3.modal-title {
  color: $text-color;
}

h5.modal-title {
  font-family: $font;
}

div.modal-content > div.modal-header,
div.modal-content > div.modal-body {
  background-color: white;
  background-image: url(../../img/texture.png);
  display: flex;
  flex-direction: column;
}
div.modal-dialog {
  margin-top: 70px;
}

div.modal-dialog div.modal-footer {
  text-align: center;
}

div.modal-dialog div.modal-footer a {
  margin: 5px;
}
#freja-instructions ol {
  padding-left: 30px;
  margin: 15px 15px 15px 0;
}

#freja-instructions li {
  padding-left: 5px;
  margin: 5px 0;
}

/* styles for delete account modal text */
#delete-account {
  display: flex;
  flex-direction: column;
}

/* styles for confirm button in delete account modal */
#confirm-delete-account-button {
  margin-top: 20px;
}

.modal-footer {
  display: flex;
  justify-content: center;
}

.btn-group-vertical {
  color: $link-color;
  display: block;
  flex-direction: row;
}

.btn-group-vertical a {
  border: none;
  margin: 20px 0;
  color: $link-color;
}

.btn-group-vertical a:hover {
  text-decoration: none;
}

.modal-footer .btn {
  margin-bottom: 0px;
}

/* raise modal over menu */
.modal {
  z-index: 10000;
}

/* End of Modals
-------------------------------------------------- */

@media (min-width: 1200px) {
  .container {
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  body {
    background-color: inherit;
  }
  .container {
    max-width: 100%;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 100%;
  }
}

// @media (max-width: 750px) {
//   body {
//     background-color: inherit;
//   }
// }
