@import "../variables.scss";

body {
  scroll-behavior: smooth;
}

body,
.well,
.container-fluid .jumbotron,
div.modal-dialog .modal-content {
  background-color: white;
  background-image: url(../../img/texture.png);
  color: $text-color;
}
html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $text-color;
}

/* Text */
h1,
h2 {
  font-size: 72px;
  color: $text-color;
}
h3,
p.lead {
  font-size: 24px;
  font-family: "Roboto-Light";
}
h4 {
  font-size: 18px;
}
h1,
h2,
h4 {
  font-family: "Roboto-Black";
}
p,
li {
  font-size: 16px;
  font-family: "Roboto-Regular";
  line-height: 1.42857143;
}

p {
  margin: 0 0 10px;
}

label {
  text-align: left !important;
  display: block;
  margin-bottom: 5px !important;
  color: #6d6d6d;
  font-family: "Roboto-Regular";
}
input {
  padding: 0 20px;
  border-radius: 0;
  box-shadow: none;
}
input:focus {
  outline: 0;
}

a {
  color: $link-color;
  font-weight: 500;
}

.clear-right {
  float: right;
  clear: right;
}

.help {
  padding-top: 10px;
}
.help a {
  position: relative;
  padding-left: 38px;
  color: #000;
}
.help a:hover {
  text-decoration: none;
}
.help a:before {
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  background: url(../../img/sprite.png) -9px -53px no-repeat;
  position: absolute;
  top: -6px;
  left: 0;
}

.intro h4 {
  font-family: "Roboto-Black";
  font-size: 36px;
}

/* Main marketing message and sign up button */
#content-block > h3:first-child {
  font-weight: bold;
  font-size: 32px;
}

.row {
  margin: 0;
}

.container-fluid .jumbotron {
  color: #fff;
}

.jumbotron {
  margin: 60px 0;
  text-align: center;
  clear: both;
}

.jumbotron h1,
.jumbotron p.lead {
  text-align: center;
}

.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}

.jumbotron .lead {
  margin: 1em 0 2em 0;
}

.jumbotron p {
  color: #3f5c57;
}

.jumbotron input {
  height: 30px;
}

.input-group .help-block {
  font-size: 14px;
}

/* forms ---------------*/

form.form-inline div.alert {
  display: block;
}

.form-inline {
  margin: 30px 0;
}

form.form-horizontal label {
  font-weight: 400;
}

.table-form .btn-link {
  padding: 0;
  margin-bottom: 0;
}

div.form-content {
  margin-top: 10px;
}

.form-horizontal .form-group {
  margin-left: 0;
}

div.controls > span.uneditable-input {
  padding-top: 18px;
}
.form-text {
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 0px 20px 0 0;
}

/* valid form input*/

.form-control.is-valid {
  border: 2px solid $light-green;
}

.form-control.is-valid:focus {
  border-color: $light-green;
  box-shadow: 0 0 0 0.2rem $light-green-shadow;
}

/* invalid form input */

.form-control.is-invalid {
  border: 2px solid $error-red;
}

.form-control.is-invalid:focus {
  border-color: $error-red;
  box-shadow: 0 0 0 0.2rem $error-red-shadow;
}

.eduid-field-error {
  color: $error-red;
  font-weight: 500;
}

.form-control {
  height: 45px;
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.form-control:focus {
  border-color: #fff;
  box-shadow: none;
}

/* removing inlines */

div.position-relative {
  position: relative;
  clear: both;
}

ul.nav.navbar-nav li a {
  color: #3f5c57;
}

/* Mobile scrollbar */
::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 12px;
}

::-webkit-scrollbar:horizontal {
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ffffff;
}

/* Fontface */
@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/roboto-light-webfont.eot");
  src: url("../fonts/roboto-light-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/roboto-light-webfont.woff") format("woff"),
    url("../fonts/roboto-light-webfont.svg#webfontZam02nTh") format("svg"),
    url("../fonts/roboto-light-webfont.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/roboto-regular-webfont.eot");
  src: url("../fonts/roboto-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/roboto-regular-webfont.woff") format("woff"),
    url("../fonts/roboto-regular-webfont.svg#webfontZam02nTh") format("svg"),
    url("../fonts/roboto-regular-webfont.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Black";
  src: url("../fonts/roboto-black-webfont.eot");
  src: url("../fonts/roboto-black-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/roboto-black-webfont.woff") format("woff"),
    url("../fonts/roboto-black-webfont.svg#webfontZam02nTh") format("svg"),
    url("../fonts/roboto-black-webfont.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/roboto-medium-webfont.eot");
  src: url("../fonts/roboto-medium-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/roboto-medium-webfont.woff") format("woff"),
    url("../fonts/roboto-medium-webfont.svg#webfontZam02nTh") format("svg"),
    url("../fonts/roboto-medium-webfont.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
}

@media only screen and (min-width: 960px) {
  .jumbotron h1 {
    font-size: 72px;
    line-height: 1;
    font-weight: 800;
  }

  .jumbotron .form-inline .form-group {
    margin: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .jumbotron .form-inline .form-group {
    margin: 10px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  div.wrap.container#root {
    max-width: 96%;
  }

  .jumbotron h1,
  .jumbotron h2 {
    font-size: 54px;
    margin: 20px 0;
  }
}

@media only screen and (max-width: 767px) {
  .jumbotron h1,
  .jumbotron h2 {
    font-size: 32px;
    margin: 20px 0;
  }

  /* Texts */
  .jumbotron h1 {
    font-size: 36px;
    line-height: 1;
    font-weight: 400;
  }

  .jumbotron .form-inline .form-group {
    margin: 10px;
  }

  /* Paddings */
  .container-fluid .jumbotron {
    padding-top: 0 !important;
    padding-bottom: 0;
  }
  .jumbotron {
    padding: 0;
  }

  /* Buttons */
  .btn {
    margin-left: auto !important;
    margin-right: auto;
    max-width: 100%;
    font-size: 13px;
  }

  /* Pages */
  .form-group {
    width: 100%;
  }
  .table-responsive td {
    padding-right: 20px;
    padding-left: 20px;
  }
  .intro h4 {
    font-size: 24px;
  }
  .table > tbody > tr.emailrow td {
    padding: 10px 15px;
  }
  .table-responsive {
    border: none;
  }
  .text-xs-center {
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .jumbotron p.lead {
    font-size: 24px;
  }
}

/* Modals
-------------------------------------------------- */

h3.modal-title {
  color: $text-color;
}

h5.modal-title {
  font-family: $font;
}

div.modal-content > div.modal-header,
div.modal-content > div.modal-body {
  background-color: #bbded9;
  background-image: url(../../img/texture.png);
  display: flex;
  flex-direction: column;
}
div.modal-dialog {
  margin-top: 70px;
}

div.modal-dialog div.modal-footer {
  text-align: center;
}

div.modal-dialog div.modal-footer a {
  margin: 5px;
}
#freja-instructions ol {
  padding-left: 30px;
  margin: 15px 15px 15px 0;
}

#freja-instructions li {
  padding-left: 5px;
  margin: 5px 0;
}

/* styles for delete account modal text */
#delete-account {
  display: flex;
  flex-direction: column;
}

/* styles for confirm button in delete account modal */
#confirm-delete-account-button {
  margin-top: 20px;
}

.modal-footer {
  display: flex;
  justify-content: center;
}

.btn-group-vertical {
  text-transform: uppercase;
  color: $link-color;
}

.btn-group-vertical a {
  border: none;
  margin: 20px 0;
  color: $link-color;
}

.btn-group-vertical a:hover {
  text-decoration: none;
}

.modal-footer .btn {
  margin-bottom: 0px;
}

/* raise modal over menu */
.modal {
  z-index: 10000;
}

/* End of Modals
-------------------------------------------------- */
