
@import '../variables.scss';

body {
    scroll-behavior: smooth;
}

body,
.well,
.container-fluid .jumbotron,
div.modal-dialog .modal-content {
    background-color:#bbded9;
    background-image:url(../../img/texture.png);
}
html, body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color:#fff;
}

/* Text */
h1,
h2 {
    font-size:72px;
    color:#fff;
}
h3,
p.lead {
    font-size:24px;
    font-family:'Roboto-Light';
}
h4 {
    font-size:18px;
}
h1,
h2,
h4 {
    font-family:'Roboto-Black';
}
p,
li {
    font-size:16px;
    font-family:'Roboto-Regular';
}
label {
    text-align:left!important;
    display:block;
    margin-bottom:5px!important;
    color:#6d6d6d;
    font-family:'Roboto-Regular';
}
input {
    padding:0 20px;
    border-radius: 0;
    box-shadow: none;
}
input:focus {
    outline:0;
}

.clear-right {
    float: right;
    clear: right;
}

.help {
    padding-top:10px;
}
.help a {
    position:relative;
    padding-left:38px;
    color:#000;
}
.help a:hover {
    text-decoration:none;
}
.help a:before {
    content:'';
    display:block;
    width:28px;
    height:28px;
    background:url(../../img/sprite.png) -9px -53px no-repeat;
    position:absolute;
    top:-6px;
    left:0;
}

.intro h4 {
    font-family: 'Roboto-Black';
    font-size: 36px;
}

/* No javascript */
div#no-script {
    text-align: center;
    color: #CC3732;
}

div#content-block {
    display: none;
}
/* End no javascript */


/* Main marketing message and sign up button */
#content-block > h3:first-child{
    font-weight: bold;
    font-size: 32px;
}

.container-fluid .jumbotron {
    color: #fff;
}

.jumbotron {
    margin: 60px 0;
    text-align: center;
    clear: both;
}

.jumbotron h1,
.jumbotron p.lead {
    text-align: center;
}

.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}

.jumbotron .lead {
    margin: 1em 0 2em 0;
}

.jumbotron p {
    color: #3f5c57;
}

.jumbotron input {
    height: 30px;
}

.input-group .help-block {
    font-size: 14px;
}

/* forms ---------------*/

form.form-inline div.alert {
  display: block;
}

form.form-horizontal label {
  font-weight: 400;
}

.table-form .btn-link {
  padding: 0;
  margin-bottom: 0;
}

div.form-content {
  margin-top: 10px;
}

.progress {
  margin-top: 10px;
  height: 10px;
}

.form-horizontal .form-group {
    margin-left:0;
}

div.controls > span.uneditable-input {
    padding-top: 18px;
}

.form-group.has-error .help-block {
    border: 2px solid #a94442;
    padding: .3em 1em;
}

.form-control {
    height: 45px;
    border-radius: 0;
    box-shadow: none;
}

.form-control:focus {
    border-color:#fff;
    box-shadow:none;
}

.eduid-field-error {
    color: #dc3545;
}

/* removing inlines */

div.position-relative {
    position: relative;
    clear: both;
}

/* custom inclusion of right, left and below tabs
   taken from http://www.bootply.com/100014 */

.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane {
  display: none;
}

.tab-content > .active {
  display: block;
}

ul.nav.navbar-nav li a {
    color: #3F5C57;
}


/* Fontface */
@font-face {
	font-family: 'Roboto-Light';
	src: url('../fonts/roboto-light-webfont.eot');
	src: url('../fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/roboto-light-webfont.woff') format('woff'),
         url('../fonts/roboto-light-webfont.svg#webfontZam02nTh') format('svg'),
	     url('../fonts/roboto-light-webfont.ttf') format('truetype');

	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto-Regular';
	src: url('../fonts/roboto-regular-webfont.eot');
	src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/roboto-regular-webfont.svg#webfontZam02nTh') format('svg'),
	     url('../fonts/roboto-regular-webfont.ttf') format('truetype');

	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Black';
	src: url('../fonts/roboto-black-webfont.eot');
	src: url('../fonts/roboto-black-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/roboto-black-webfont.woff') format('woff'),
         url('../fonts/roboto-black-webfont.svg#webfontZam02nTh') format('svg'),
	     url('../fonts/roboto-black-webfont.ttf') format('truetype');

	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Medium';
	src: url('../fonts/roboto-medium-webfont.eot');
	src: url('../fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/roboto-medium-webfont.woff') format('woff'),
         url('../fonts/roboto-medium-webfont.svg#webfontZam02nTh') format('svg'),
	     url('../fonts/roboto-medium-webfont.ttf') format('truetype');

	font-weight: normal;
	font-style: normal;
}


@media only screen and (min-width: 960px) {

  .jumbotron h1 {
      font-size: 72px;
      line-height: 1;
      font-weight: 800;
  }

  .jumbotron .form-inline .form-group {
      margin: 30px;
  }

}

@media only screen and (min-width: 960px) and (max-width: 1023px) {

    .buttons .button a {
        font-size:14px;
        padding:25px;
    }
    #eduid-header-loa {
        padding: 0 15px;
        font-size: 10px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {

  .jumbotron .form-inline .form-group {
      margin: 10px;
  }
    #eduid-header-loa {
        padding: 0 10px;
        font-size: 10px;
        line-height:30px;
        height:30px;
    }

}

@media only screen and (min-width: 768px) and (max-width: 992px) {

  .jumbotron h1,
  .jumbotron h2 {
        font-size: 54px;
        margin: 20px 0;
  }

    .tab-content.info-container {
        padding-top: 72px;
    }

}

@media only screen and (max-width: 767px) {
  .jumbotron h1,
  .jumbotron h2 {
        font-size: 32px;
        margin: 20px 0;
  }

  #eduid-header-loa {
      display: block;
      position: relative;
      top: 2px;
      margin-bottom: 15px;
  }

  #eduid-header-logos {
      display: block;
      position: relative;
  }

    div#eduid-menu ul.nav.navbar-nav li a {
        color: #eee;
        display: block;
        padding: 10px 0;
        width: 100%;
        border-bottom: 1px solid #CCC;
    }

    div#eduid-menu ul.nav.navbar-nav li a:hover {
        color: #aaa;
    }

    div#eduid-menu > div.buttons.nav {
        float:none;
        margin-top: 10px;
        margin: 7.5px 0px;
    }

    /* Texts */
    .jumbotron h1 {
      font-size: 36px;
      line-height: 1;
      font-weight: 400;
    }

  .jumbotron .form-inline .form-group {
      margin: 10px;
  }

    /* Paddings */
    .container-fluid .jumbotron {
        padding-top:0!important;
        padding-bottom:0;
    }
    .jumbotron {
        padding:0;
    }

    #content-block {
        margin-top:70px;
        max-width: 1200px;
    }

    /* Buttons */
    .btn {
        margin-left: auto!important;
        margin-right: auto;
        max-width: 100%;
        font-size: 13px;
    }

    /* Footer */
    #footer,
    .footer {
        padding:20px 0;
        height:auto;
    }

    /* Pages */

    .tab-content {
        padding-right:0;
        padding-left:0;
        padding-top:20px;
    }
    .profile-combo {
        margin-right:0;
        margin-left:0;
    }
    .form-group {
        width:100%;
    }
    .table-responsive td {
        padding-right:20px;
        padding-left:20px;
    }
    .intro h4 {
        font-size:24px;
    }
    .table > tbody > tr.emailrow td {
        padding:10px 15px;
    }
    .table-responsive {
        border:none;
    }

    div#eduid-logo-small {
        margin-left: -90px;
        margin-top: -4px;
    }

    /* main menu in small devices */

    nav.navbar.navbar-default#eduid-navbar {
        background-color: #333;
        border-color: #333;
    }

    #eduid-navbar div.navbar-header > span,
    #eduid-navbar div.navbar-header > span:before,
    #eduid-navbar div.navbar-header > span:after {
        cursor: pointer;
        border-radius: 2px;
        height: 5px;
        width: 35px;
        right: 0;
        background: white;
        position: absolute;
        display: block;
        content: '';
        border-color: transparent;
        padding: 0;
        margin-left: -15px;
        border: 0;

        -webkit-transition: all 250ms;
        -moz-transition: all 250ms;
        -o-transition: all 250ms;
        transition: all 250ms;
    }
    #eduid-navbar div.navbar-header > span {
        top:14px;
    }
    #eduid-navbar div.navbar-header > span:before {
        top: -10px;
    }
    #eduid-navbar div.navbar-header > span:after {
        bottom: -10px;
    }
    #eduid-navbar div.navbar-header > span.open {
        background-color: transparent;
    }
    #eduid-navbar div.navbar-header > span.open:before {
        top: 0;

        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    #eduid-navbar div.navbar-header > span.open:after {
        bottom:0;

        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);

    }

    .text-xs-center {
        text-align: center;
    }
}

@media only screen and (min-width: 768px) {
    nav.navbar.navbar-default#eduid-navbar {
        background-color: transparent;
        border-color: transparent;
    }

    .jumbotron p.lead {
        font-size:24px;
    }

    div#eduid-logo-small {
        display: none;
    }

    .tabs-left > .nav-tabs > li,
    .tabs-right > .nav-tabs > li {
      float: none;
    }

    .tabs-left > .nav-tabs > li > a,
    .tabs-right > .nav-tabs > li > a {
      min-width: 74px;
      margin-right: 0;
    }

    .tabs-left > .nav-tabs {
      float: left;
      margin-right: 19px;
      border-right: 1px solid #ddd;
    }

    .tabs-left > .nav-tabs > li > a {
      margin-right: -1px;
      -webkit-border-radius: 4px 0 0 4px;
         -moz-border-radius: 4px 0 0 4px;
              border-radius: 4px 0 0 4px;
    }

    .tabs-left > .nav-tabs > li > a:hover,
    .tabs-left > .nav-tabs > li > a:focus {
      border-color: #eeeeee #dddddd #eeeeee #eeeeee;
    }

    .tabs-left > .nav-tabs > a.active,
    .tabs-left > .nav-tabs > a.active:hover,
    .tabs-left > .nav-tabs > a.active:focus {
      border-color: #ddd transparent #ddd #ddd;
      *border-right-color: #ffffff;
    }

    .tabs-right > .nav-tabs {
      float: right;
      margin-left: 19px;
      border-left: 1px solid #ddd;
    }

    .tabs-right > .nav-tabs > li > a {
      margin-left: -1px;
      -webkit-border-radius: 0 4px 4px 0;
         -moz-border-radius: 0 4px 4px 0;
              border-radius: 0 4px 4px 0;
    }

    .tabs-right > .nav-tabs > li > a:hover,
    .tabs-right > .nav-tabs > li > a:focus {
      border-color: #eeeeee #eeeeee #eeeeee #dddddd;
    }

    .tabs-right > .nav-tabs > a.active,
    .tabs-right > .nav-tabs > a.active:hover,
    .tabs-right > .nav-tabs > a.active:focus {
      border-color: #ddd #ddd #ddd transparent;
      *border-left-color: #ffffff;
    }

  .btn-facebook {
    float: left;
  }
  .btn-google {
    float: right;
  }

}

p.eduid-strong {
    font-weight: 600;
}


/* Modals
-------------------------------------------------- */

h3.modal-title {
  color: #333;
}

div.modal-content > div.modal-header,
div.modal-content > div.modal-body,
div.modal-content > div.modal-footer {
    background-color:#bbded9;
    background-image:url(../../img/texture.png);
}
div.modal-dialog {
    margin-top: 70px;
}

div.modal-dialog div.modal-footer {
    text-align: center;
}

div.modal-dialog div.modal-footer a {
    margin: 5px;
}

.modal-footer .btn {
    margin-bottom: 0px;
}

/* raise modal over menu */
.modal {z-index: 10000 !important;}

/* End of Modals
-------------------------------------------------- */

/* Flash messages
-------------------------------------------------- */

.messages-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.alert-danger {
    color: #a94442;
    background-color: transparent;
    border-color: #ebccd1;
    border: 2px solid #a94442;
    padding: .3em 1em;
}

/* End of Messages
-------------------------------------------------- */
