@import "../variables.scss";

#password-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#password-custom-help {
  // background: yellow;
}
#password-container {
  min-width: 58.3333333333%;
}

#passwordsview-form label {
  margin-top: 52px;
  margin-bottom: 10px;
}

#password-suggestion {
  display: flex;
  flex-direction: column;
}

#password-suggestion .btn-link {
  padding: 0 0 30px 0;
}

form#passwordsview-form div.checkbox {
  display: inline-block;
  margin-left: 15px;
  padding-top: 6px;
}

#changePasswordDialog .modal-body {
  max-height: 500px;
  overflow-y: auto;
  margin-bottom: 3px;
}

#changePasswordDialog .modal-body p {
  max-width: 510px;
}

#changePasswordDialog .suggested-password,
#resetPassword .suggested-password {
  background-color: #fff;
  color: #555;
  border: none;
  font-weight: bold;
  font-size: 18px;
}

#changePasswordDialog .form-actions {
  right: 10px;
  float: right;
  padding: 0;
  background: none;
  padding-right: 5px;
  margin: 5px;
}
@media only screen and (max-width: 767px) {
  button#changePassword.btn {
    margin-left: 0 !important;
  }
  form#passwordsview-form div.checkbox,
  form#resetpasswordstep2view-form div.checkbox {
    padding-top: 0px;
  }
}
