@import "../variables.scss";

// #password-wrapper {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

#chpass-form {
  margin-top: 20px;
}

#chpass-button {
  margin-right: 20px;
}

// #password-custom-help {
//   // background: yellow;
// }
// #password-container {
//   width: 58.3333333333%;
//   margin-bottom: 5rem;
// }

// #password-suggestion {
//   display: flex;
//   flex-direction: column;
// }

// #password-suggestion .btn-link {
//   padding: 0 0 30px 0;
// }

#changePasswordDialog .modal-body {
  max-height: 500px;
  overflow-y: auto;
  margin-bottom: 3px;
}

#changePasswordDialog .modal-body p {
  max-width: 510px;
}

#changePasswordDialog .suggested-password,
#resetPassword .suggested-password {
  background-color: #fff;
  color: #555;
  border: none;
  font-weight: bold;
  font-size: 18px;
}

#changePasswordDialog .form-actions {
  right: 10px;
  float: right;
  padding: 0;
  background: none;
  padding-right: 5px;
  margin: 5px;
}

// @media only screen and (max-width: 767px) {
//   button#changePassword.btn {
//     margin-left: 0 !important;
//   }
//   form#passwordsview-form div.checkbox,
//   form#resetpasswordstep2view-form div.checkbox {
//     padding-top: 0px;
//   }
// }

// @media (max-width: 823px) {
//   // #password-wrapper {
//   //   align-items: flex-start;
//   // }
//   #passwordsview-form label {
//     margin-top: 0;
//   }
//   #password-container {
//     padding: 3rem 0 2rem;
//     margin: 0 auto 20px;
//     width: 75%;
//   }
//   #password-suggestion {
//     display: block;
//   }
// }

// @media (max-width: 768px) {
//   #password-container {
//     // margin: calc(90% - 20px);
//     width: calc(100% - 40px);
//   }
// }

// @media (max-width: 414px) {
//   #chpass-form .cancel-button {
//     margin-top: 20px;
//   }
// }

// @media (max-width: 375px) {
//   #password-suggestion .btn-link {
//     font-size: 0.8rem;
//   }
// }
