@import "../variables.scss";

/* styles for scaffolding  */
#root {
  height: 100%;
}

.container {
  width: 100%;
  padding: 0;
}

.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#dashboard-text {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#content {
  background-color: #f4f4f4;
  flex: 1;
  position: relative;
}

#welcome {
  padding: 7rem 0 5rem;
  width: 58.3333333333%;
  margin: 0 auto;
}

// #welcome p {
//   margin-top: 38px;
//   margin-bottom: 0;
//   line-height: 1.5;
//   letter-spacing: 0.3px;
// }

#welcome h2 {
  display: inline-block;
  text-decoration: none;
  font-family: "ProximaNova-Regular";
  // font-family: "Akkurat";
  color: $orange-highlight;
  border-bottom: solid transparent 2px;
}

#welcome h2:hover {
  // border-bottom: solid #ff4500 2px;
  transition: all 0.5s ease;
}
#settings-content,
#profile-container {
  margin: 5rem 0;
}

#profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profile-container-verifyId {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

#profile-section {
  width: 58.33333%;
}

.profile-card p {
  padding-left: 5px;
  margin: 0;
}

#profile-detail-grid {
  // margin: 0 auto 7rem;
  display: grid;
  grid-row-gap: 50px;
  grid-column-gap: 30px;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(2, auto);
  width: calc(58.3333333333% - 30px);
}

#profile-detail-grid label {
  font-family: "Akkurat";
}

.profile-data {
  font-family: "ProximaNova-Light";
  font-size: 36px;
  line-height: 1.5;
  margin-bottom: 0;
  padding-right: 5px;
}

.no-data {
  color: gray;
}

/* styles for prompt cards */
#profile-prompt-link {
  color: #161616;
  border-bottom: transparent solid 1px;
  cursor: pointer;
  transition: border-color 0.5s ease;
}

#profile-prompt-link:hover {
  // text-decoration: none;
  color: $orange-highlight;
  border-bottom: $orange-highlight solid 1px;
}

#profile-prompt p {
  width: 58.3333333333%;
  line-height: 1.2;
}

// #profile-prompt p,
#profile-prompt span {
  max-width: 58.3333333333%;
  font-size: 16px;
  margin: 0;
}

#profile-prompt span {
  font-weight: 700;
  color: #ff4500;
  margin-right: 5px;
}

#profile-prompt:hover {
  border: solid #ff4500 1px;
}

h3.verify-identity-header {
  font-family: "ProximaNova-Bold";
  margin-top: 0;
  line-height: 1.2;
  font-size: 22px;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 53px;
  position: absolute;
  top: 100px;
}

#verify-identity-container label {
  font-size: 1.25rem;
  font-family: "ProximaNova-Regular";
  text-transform: none;
  line-height: 1.2;
}

/* styles for sidebar nav on settings page */
aside {
  position: absolute;
  top: calc(12rem);
  left: 30px;
  z-index: 100;
  max-width: 20%;
}

aside li {
  list-style: none;
}

aside li a {
  font-family: "ProximaNova-Bold";
  color: #161616;
  font-size: 18px;
  line-height: 34px;
  border-bottom: transparent solid 1px;
}

aside li:hover a {
  cursor: pointer;
  text-decoration: none;
  font-weight: 700;
  color: #ff4500;
  border-bottom: #ff4500 solid 1px;
  transition: color 0.5s ease;
}

/* styles for profile elements in settings */
.settings .nin-holder,
#profile-detail-grid:empty {
  display: none;
}

//-------(ADD NIN styles are in nins.scss)----------//

// ----- SETTINGS PAGE ----- //
#dashboard-nav {
  // font-family: "ProximaNova-Bold";
  width: 58%;
  margin: 70px auto;
}

#dashboard-nav ul {
  display: grid;
  grid-template-columns: auto auto auto;
}

#dashboard-nav .nav-link {
  padding: 10px 20px;
  background-color: $white;
  border-radius: 20px;
  box-shadow: 0 5px 17px rgba(89, 89, 89, 0.07);
  margin-right: 6px;
  border: solid 1px transparent;
  transition: all 0.5s ease;
}

#dashboard-nav h5 {
  font-weight: 700;
  font-size: 16px;
  color: $black;
  display: inline-block;
  border-bottom: solid 1px transparent;
  transition: all 0.5s ease;
}

#dashboard-nav .active,
#dashboard-nav .nav-link:hover {
  border: 1px solid #ff4500;
}

#dashboard-nav .active h5,
#dashboard-nav h5:hover {
  color: #ff4500;
}

/* styles for back navigation */
#dashboard-nav.nav-back {
  display: flex;
  justify-content: flex-end;
  max-width: 58.33333%;
}

#dashboard-nav.nav-back ul {
  display: flex;
  border-bottom: solid 2px transparent;
  transition: all 0.5s ease;
  // justify-content: flex-end;
}

#dashboard-nav .transparent {
  color: transparent;
  background-color: transparent;
  box-shadow: none;
}
#dashboard-nav .transparent:hover {
  color: transparent;
  background-color: transparent;
  border-color: transparent;
  cursor: default;
}

/* styles for forms displaying userinfo on settings page */
.form-group {
  padding: 0 10px 10px 0;
  margin: 0;
}

fieldset {
  width: 100%;
}

.form-text {
  margin-top: 2px 0;
  padding: 0 0 0 2px;
}

.eppn-text-muted {
  color: #777;
  font-size: 14px;
}

/*Accordion FAQ*/
.panel-default,
.panel,
.panel-default > .panel-heading {
  background-color: #629c92;
  border-color: #629c92;
  color: #fff;
}
.panel-heading {
  position: relative;
  padding: 20px;
  border-radius: 0 !important;
}
.panel-heading a:focus,
.panel-heading a:hover {
  text-decoration: none;
}
.panel .arrow {
  outline: none;
  position: absolute;
  top: 20px;
  right: 20px;
  display: block;
  width: 20px;
  height: 20px;
  background: url(../../img/sprite.png) -126px -57px no-repeat;
  pointer-events: none;

  -webkit-transition: transform 500ms;
  -o-transition: transform 500ms;
  transition: transform 500ms;
}
.panel .in + .arrow {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.panel-heading a {
  width: 100%;
  display: block;
  font-size: 20px;
  line-height: 26px;
  font-family: Roboto-Black;
  margin-top: 0;
  margin-bottom: 0;
  cursor: pointer;
  padding-right: 25px;
  color: #fff;
  outline: none;
}
.panel-body {
  padding: 0 20px 20px;
  font-size: 16px;
}
.panel {
  position: relative;
  border-radius: 0 !important;
}
.panel a {
  color: #fff;
  font-weight: bold;
}
/*END: Accordion FAQ*/

a#go-to-mobiles-tab {
  cursor: pointer;
}

// @media (max-width: 1100px) {

// }

// @media (max-width: 750px) {
//   // body {
//   //   background-color: gray;
//   // }
//   #profile-container,
//   #profile-section,
//   #settings-content,
//   #settings-nav {
//     max-width: 100%;
//   }
//   #profile-prompt {
//     width: 100%;
//   }
// }

@media (max-width: 823px) {
  #welcome {
    padding: 3rem 0 2rem;
    width: 75%;
  }
  #profile-section {
    width: 75%;
  }
  #profile-detail-grid {
    width: calc(75% - 30px);
  }
  #profile-prompt span {
    max-width: 75%;
  }

  #dashboard-nav {
    width: 75%;
    margin: 20px auto;
  }
  #dashboard-nav.nav-back {
    max-width: 75%;
  }

  #settings-content,
  #profile-container {
    margin: 3rem 0 2rem;
  }

  h3.verify-identity-header {
    top: 18px;
    max-width: 70%;
  }
}

@media (max-width: 768px) {
  #welcome {
    padding: 3rem 20px 2rem 0;
    width: calc(100% - 40px);
  }
  #profile-section {
    width: 100%;
    padding: 0 20px;
  }
  #profile-detail-grid {
    width: calc(100% - 30px);
    grid-template-columns: 100%;
    padding: 0 20px;
  }
  #profile-prompt span {
    max-width: 100%;
    padding: 0 20px;
  }
  #dashboard-nav {
    width: 100%;
    padding: 0 20px;
  }
  #dashboard-nav.nav-back {
    max-width: calc(100% - 15px);
    padding: 0;
  }
}

@media (max-width: 414px) {
  #dashboard-nav ul {
    display: grid;
    grid-template-columns: auto;
  }
  // #dashboard-nav.nav-back {
  //   max-width: calc(100% - 15px);
  //   padding: 0;
  // }
}

@media (max-width: 320px) {
  h3.verify-identity-header {
    top: 18px;
    max-width: 60%;
  }
}
