@import "../variables.scss";

/* styles for scaffolding  */
#root {
  display: flex;
  flex-direction: column;
}

.container {
  padding: 0;
}

.dashboard-wrapper {
  // flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#dashboard-container {
  display: flex;
  flex: 1;
}

#dashboard {
  display: flex;
  flex-direction: column;
  position: relative;
}

#dashboard-text {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#content {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #f4f4f4;
}

// ----- LANDING PAGE ----- //
#welcome {
  margin: 7rem auto 5rem;
  max-width: 58.3333333333%;
  // background-color: orange;
}

#welcome p {
  margin-top: 38px;
  margin-bottom: 0;
  line-height: 1.5;
  letter-spacing: 0.3px;
}

#profile-container {
  display: flex;
  flex-direction: column;
}

.profile-card p {
  padding-left: 5px;
  margin: 0;
}

.profile-data {
  font-size: 36px;
  font-weight: 300;
}

#profile-detail-grid {
  margin: 0 auto 7rem;
  display: grid;
  grid-row-gap: 50px;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(2, auto);
  width: 58.3333333333%;
}

#profile-detail-grid label {
  font-family: "Courier New", Courier, monospace;
}

/* styles for prompt cards */
#profile-prompt-link:hover {
  text-decoration: none;
  cursor: pointer;
}

#profile-prompt-link {
  background-color: #ffe7dd;
  color: #161616;
  display: flex;
  justify-content: center;
  padding: 16px;
  transition: border-color 0.5s ease;
}

#profile-prompt p {
  width: 58.3333333333%;
  line-height: 1.2;
}

// #profile-prompt p,
#profile-prompt span {
  max-width: 58.3333333333%;
  font-size: 16px;
  margin: 0;
}

#profile-prompt span {
  font-weight: 700;
  color: #ff4500;
  margin-right: 5px;
}

#profile-prompt:hover {
  border: solid #ff4500 1px;
}

/* colours for profile sections */
.profile,
.settings {
  background-color: #f4f4f4;
}

.settings-button {
  background-color: rgb(30, 92, 111);
}

.verify-identity {
  background-color: #f8f9fa;
}

h3.verify-identity-header {
  display: inline-block;
  font-family: "Roboto-Medium";
  padding-bottom: 0;
  margin-bottom: 0;
  position: absolute;
  top: 20px;
}

/* styles for back navigation */
.nav-back {
  display: flex;
  justify-content: flex-end;
}

#settings-nav.nav-back .nav-item {
  margin-right: 0;
}

/* styles for profile elements in settings */
.settings .nin-holder,
#profile-detail-grid:empty {
  display: none;
}

//-------(ADD NIN styles are in nins.scss)----------//

// ----- SETTINGS PAGE ----- //
#dashboard-nav {
  font-family: "Montserrat", sans-serif;
  width: 58%;
  margin: 100px auto 50px;
}

#dashboard-nav ul {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

#dashboard-nav .nav-link {
  padding: 10px 20px;
  background-color: $white;
  border-radius: 20px;
  box-shadow: 0 5px 17px rgba(89, 89, 89, 0.07);
  margin: 0 6px;
  transition: all 0.5s ease;
}

#dashboard-nav h5 {
  font-weight: 700;
  font-size: 16px;
  color: $black;
  display: inline-block;
  border-bottom: solid 2px transparent;
  transition: all 0.5s ease;
}

#dashboard-nav .active,
#dashboard-nav .nav-link:hover {
  border: 1px solid #ff4500;
}

#dashboard-nav .active h5,
#dashboard-nav h5:hover {
  color: #ff4500;
}

/* styles for tables displaying userinfo on settings page */

table {
  margin-bottom: 0;
  width: 100%;
  background-color: white;
  color: gray;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
}

table td {
  padding: 0.75rem;
}

td.data {
  width: 80%;
}

td.data-remove-button,
td.status-label {
  width: 10%;
}

table th {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
}

table .btn-link {
  color: gray;
}

tbody {
  margin-bottom: 10px;
}

span.nobutton,
.primary button.remove,
tr.primary {
  font-weight: 900;
  color: #333;
}

span.nobutton,
button.verify-status-label {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 1;
  font-weight: 700;
  padding: 0 0 0 2px;
  margin: 0;
}

span.nobutton {
  height: 48px;
}

button.remove {
  font-size: 24px;
  font-weight: 300;
}
button.remove:hover {
  color: red;
}

.form-control {
  font-size: 24px;
}

/* styles for forms displaying userinfo on settings page */
.form-group {
  padding: 0 10px 10px 0;
  margin: 0;
}

fieldset {
  width: 100%;
}

.form-text {
  margin-top: 2px 0;
  padding: 0 0 0 2px;
}

.eppn-text-muted {
  color: #777;
  font-size: 14px;
}

/*Accordion FAQ*/
.panel-default,
.panel,
.panel-default > .panel-heading {
  background-color: #629c92;
  border-color: #629c92;
  color: #fff;
}
.panel-heading {
  position: relative;
  padding: 20px;
  border-radius: 0 !important;
}
.panel-heading a:focus,
.panel-heading a:hover {
  text-decoration: none;
}
.panel .arrow {
  outline: none;
  position: absolute;
  top: 20px;
  right: 20px;
  display: block;
  width: 20px;
  height: 20px;
  background: url(../../img/sprite.png) -126px -57px no-repeat;
  pointer-events: none;

  -webkit-transition: transform 500ms;
  -o-transition: transform 500ms;
  transition: transform 500ms;
}
.panel .in + .arrow {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.panel-heading a {
  width: 100%;
  display: block;
  font-size: 20px;
  line-height: 26px;
  font-family: Roboto-Black;
  margin-top: 0;
  margin-bottom: 0;
  cursor: pointer;
  padding-right: 25px;
  color: #fff;
  outline: none;
}
.panel-body {
  padding: 0 20px 20px;
  font-size: 16px;
}
.panel {
  position: relative;
  border-radius: 0 !important;
}
.panel a {
  color: #fff;
  font-weight: bold;
}
/*END: Accordion FAQ*/

a#go-to-mobiles-tab {
  cursor: pointer;
}

@media (max-width: 750px) {
  body {
    background-color: gray;
  }
  #profile-container,
  #profile-section,
  #settings-content,
  #settings-nav {
    max-width: 100%;
  }
  #profile-prompt {
    width: 100%;
  }
}
