@import "../variables.scss";

.buttons .button {
  padding: 0;
}
.buttons .button a {
  padding: 20px 40px;
}

/* generic styles for all buttons 
(incl. :hover, :active, :focus and :disabled) */
button.btn {
  height: 45px;
  background-color: $light-green;
  border-color: $light-green;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 45px;
  text-transform: uppercase;
  padding: 0 40px;
  margin-bottom: 10px;
  border-radius: 0;
  border: none;
  &:hover {
    background: $light-green-hover;
    border-color: $light-green-hover;
  }
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled):focus,
  &:not(:disabled):not(.disabled):active:focus {
    background-color: $light-green-hover;
    border-color: $light-green-hover;
    box-shadow: 0 0 0 0.2rem $light-green-shadow;
  }
  &:disabled {
    background-color: lightgray;
    border-color: lightgray;
  }
}

/* styles for success and ok-button buttons */
button.btn-success:hover,
button.ok-button:hover {
  background: $light-green-hover;
  border-color: $light-green-hover;
}

/* styles for cancel and close buttons */
button.cancel-button,
button.finish-button {
  background-color: $cancel-color;
  border-color: $cancel-color;
  color: $text-color;
  &:hover {
    background: $cancel-color-hover;
    border-color: $cancel-color-hover;
    color: $text-color;
  }
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled):focus,
  &:not(:disabled):not(.disabled):active:focus {
    background-color: $cancel-color-hover;
    border-color: $cancel-color-hover;
    box-shadow: 0 0 0 0.2rem $cancel-color-shadow;
    color: $text-color;
  }
}

/* styles for remove and delete buttons
(incl. :hover, :active and :focus ) */
button.btn.btn-sm {
  margin-left: 30px;
  height: 2rem;
  line-height: 2rem;
}

button.btn.btn-sm,
button.btn.btn-danger {
  background-color: $error-red;
  border-color: $error-red;
  &:hover {
    background-color: $error-red-hover;
    border-color: $error-red-hover;
  }
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled):focus,
  &:not(:disabled):not(.disabled):active:focus {
    background-color: $error-red-hover;
    border-color: $error-red-hover;
    box-shadow: 0 0 0 0.2rem $error-red-shadow;
  }
}

/* styles for links that are also buttons
(incl. :hover, :active and :focus ) */

button.btn-link {
  background-color: transparent;
  color: $link-color;
  font-weight: 500;
  &:hover {
    background-color: transparent;
    border-color: transparent;
    color: $link-hover;
    text-decoration: none;
  }
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled):focus,
  &:not(:disabled):not(.disabled):active:focus {
    background-color: transparent;
    border-color: transparent;
    color: $link-color;
    box-shadow: 0 0 0 0.2rem $link-shadow;
  }
}

.btn.eduid-button.btn-in-row {
  height: calc(2.25rem + 2px);
  line-height: calc(2.25rem + 2px);
}
.btn-link.eduid-button {
  border: 0;
}

.btn-warning.eduid-button,
.btn-warning.eduid-button:hover {
  background: #dd650d;
  border-color: #dd650d;
}

input[type="submit"].btn.eduid-button,
button[type="submit"].btn.eduid-button {
  display: block;
  margin-top: 20px;
}

.btn-icon {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
}

.btn-text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 14px 0 10px;
  margin: 0 0 0 4px;
}

.pre-big {
  font-size: 150%;
}

.has-spinner {
  cursor: progress;
  position: relative;
}

.has-spinner .spin-holder {
  width: 100%;
  height: 80%;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: -40px;
  color: #ccc;
}

.has-spinner .fa-spinner {
  display: inline-block;
  width: 26px;
  height: 80%;
  opacity: 1;
  font-size: 2em;
  -webkit-animation: spin 1.5s infinite linear;
  -moz-animation: spin 1.5s infinite linear;
  -o-animation: spin 1.5s infinite linear;
  animation: spin 1.5s infinite linear;
}

button.eduid-button.btn-warning {
  background-color: $btn-grey;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 767px) {
  button.eduid-button {
    max-height: 45px;
  }
}
