
@import '../variables.scss';

.buttons .button {
    padding: 0;
}
.buttons .button a {
    padding:20px 40px;
}

.btn.eduid-button {
    height:45px;
    line-height:45px;
    border-radius: 0;
    padding: 0 40px;
    text-transform:uppercase;
    margin-bottom:10px;
}

.btn.eduid-button.btn-in-row {
    height: calc(2.25rem + 2px);
    line-height: calc(2.25rem + 2px);
}
.btn.eduid-button:hover {
    text-decoration:none;
}
.btn-link.eduid-button {
    border: 0;
}
.btn-primary.eduid-button,
.btn-success.eduid-button {
  background: $light-green;
  border-color: $light-green;
}
.btn-primary.eduid-button:hover,
.btn-success.eduid-button:hover {
  background: $light-green-hover;
  border-color: $light-green-hover;
}

.btn-warning.eduid-button,
.btn-warning.eduid-button:hover {
    background:#dd650d;
    border-color:#dd650d;
}
.btn-primary.eduid-button.disabled,
.btn-primary.eduid-button.disabled:hover,
.btn-primary.eduid-button.disabled:active,
.btn-primary.eduid-button.disabled:focus {
<<<<<<< HEAD
    background: #8ccbb5;
    border-color:#8ccbb5;
=======
  background: $light-green-disabled;
  border-color: $light-green-disabled;
>>>>>>> 18543a3... adds .scss variables to btn-primary stylesheet
}

button.eduid-cancel-button {
    margin-right: 20px;
}

input[type=submit].btn.eduid-button,
button[type=submit].btn.eduid-button {
    display: block;
    margin-top: 20px;
}

.btn-icon {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
}

.btn-text {
    display: inline-block;
    vertical-align: middle;
    padding: 0 14px 0 10px;
    margin: 0 0 0 4px;
}

.pre-big {
    font-size: 150%;
}

.has-spinner {
  cursor:progress;
  position: relative;
}

.has-spinner .spin-holder {
  width: 100%;
  height: 80%;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: -40px;
  color: #ccc;
}

.has-spinner .fa-spinner {
  display: inline-block;
  width: 26px;
  height: 80%;
  opacity: 1;
  font-size: 2em;
  -webkit-animation: spin 1.5s infinite linear;
  -moz-animation: spin 1.5s infinite linear;
  -o-animation: spin 1.5s infinite linear;
  animation: spin 1.5s infinite linear;
}

button.eduid-button.btn-warning {
    background-color: $btn-grey;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 767px) {

    button.eduid-button {
        max-height: 45px;
    }
}
