@import "../variables.scss";

.namesview-form-container,
.phoneview-form-container,
.emailsview-form-container,
#delete-account-container,
#change-password-container {
  margin: 0 auto 30px;
  max-width: 58.3333333333%;
}

button#email.button {
  margin-top: 5px;
}

#personaldataview-form {
  display: block;
}

#personal-data-form {
  display: contents;
}

#phone-display,
#email-display {
  flex-direction: column;
}

#phonesview-form,
#emailsview-form {
  flex-direction: row;
  margin-top: 10px;
}

#personal-data-form input,
#emails-form input,
#phone-form input {
  background-color: white;
  border: none;
  border-bottom: solid 3px #333;
  font-family: "Roboto-Light";
  color: gray;
  font-weight: 900;
  font-size: 24px;
}
// #delete-account-container,
// #change-password-container {
//   margin-bottom: 30px;
//   max-width: 58.3333333333%;
// }

#delete-button,
#security-change-button,
#add-more-button {
  margin: 0;
  padding: 0 0 0.75rem 0.75rem;
  font-family: "Roboto-Medium";
  font-size: 16px;
}

#delete-button {
  color: red;
}

#delete-account-container .intro {
  margin-bottom: 0;
}

.hide {
  display: none;
}

.form-content {
  width: 100%;
}
