@import "../variables.scss";

// #orcid-connect-container {
//   background: yellow;
// }

// #orcid-connect {
//   background: hotpink;
// }

#orcid-connect-container,
#register-securitykey-container,
.namesview-form-container,
.phoneview-form-container,
.emailsview-form-container,
#delete-account-container,
#change-password-container {
  margin: 0 auto 30px;
  max-width: 58.3333333333%;
}

button#email.button {
  margin-top: 5px;
}

#personaldataview-form {
  display: block;
}

#personal-data-form {
  display: contents;
}

#phone-display,
#email-display {
  flex-direction: column;
}

#phonesview-form,
#emailsview-form {
  flex-direction: row;
  margin-top: 10px;
}

#personal-data-form input,
#emails-form input,
#phone-form input {
  background-color: white;
  border: none;
  border-bottom: solid 1px #161616;
  font-family: "ProximaNova-Regular";
  color: #161616;
  font-size: 24px;
}

#delete-button,
#security-change-button,
#add-more-button {
  margin: 0;
  padding: 0 0 0.75rem 0.75rem;
  font-size: 16px;
  font-family: "ProximaNova-Regular";
}

#delete-button {
  color: red;
}

#delete-account-container .intro {
  margin-bottom: 0;
}

.hide {
  display: none;
}

.form-content {
  width: 100%;
}