@import "../variables.scss";

button#email.button {
  margin-top: 5px;
}

#personaldataview-form {
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
}

#personal-data-form {
  display: contents;
}

#phone-display,
#email-display {
  flex-direction: column;
}

#phonesview-form,
#emailsview-form {
  flex-direction: row;
  margin-top: 10px;
}

#personal-data-form input,
#emails-form input,
#phone-form input {
  background-color: white;
  border: none;
  border-bottom: solid 3px #333;
  font-family: "Roboto-Light";
  color: gray;
  font-weight: 900;
  font-size: 24px;
}

#change-password-container{
  margin-bottom: 30px;
}

#security-change-button,
#add-more-button {
  margin: 0;
  padding: 0.75rem;
  font-family: "Roboto-Medium";
  font-size: 16px;
}

.hide {
  display: none;
}

.form-content {
  width: 100%;
}

.namesview-form-container,
.phoneview-form-container,
.emailsview-form-container {
  margin-bottom: 30px;
}

// @media only screen and (min-width: 992px) {
//   #confirmation-code-area div {
//     float: none !important;
//     width: 100% !important;
//   }

//   #confirmation-code-area .form-control-feedback {
//     top: 6px !important;
//     right: 6px !important;
//   }

//   #emails-form .form-control-feedback {
//     top: 6px !important;
//     right: 6px !important;
//   }

//   div.confirmation-code-area > div.form-group {
//     width: 100% !important;
//   }
// }

// @media (max-width: 992px) {
//   #emails-form .form-control-feedback {
//     top: 6px !important;
//     right: 6px !important;
//   }
// }

// @media (max-width: 767px) {
//   #emails-form .form-control-feedback {
//     top: 8px !important;
//     right: 11px !important;
//   }

//   #personal-data-button {
//     margin-left: auto !important;
//     margin-right: auto !important;
//     margin-top: 20px !important;
//     display: block !important;
//   }
// }

// .nobutton {
//   text-transform: uppercase;
//   font-weight: bold;
// }

// .help-block .alert-warning {
//   border: 2px solid #faebcc !important;
//   background-color: transparent !important;
// }
