
@import '../variables.scss';

div#clouds {
    width: 100%;
    height: 170px;
    background-image: url(../../img/clouds.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 0;
}
.clouds:first-child {
    margin-top: -40px;
}


@media only screen and (max-width: 767px) {

    div#clouds {
        display: none;
    }


    input#email-input {
        margin: 20px 0;
        min-width: 100%;
    }

    button#email-button {
        min-width: 100%;
    }
}
