@import "../variables.scss";

#footer {
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
  border-top: 8px solid #ff4500;
  background-color: #f4f4f4;
}

#footer p {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 0;
}

#footer-content {
  display: flex;
  justify-content: space-between;
}
#footer-content p {
  margin-bottom: 0;
}

#footer span.langselector {
  font-family: "Akkurat";
  margin-right: 2px;
  padding: 0 10px;
  border-right: 1px solid #d8d8d8;
}
#footer .langselector:last-child {
  border-right: none;
}
#footer .langselector span {
  font-family: "Akkurat";
  color: #ff4500;
}
#footer .langselector a {
  cursor: pointer;
  color: #161616;
}

// #eduid-nav {
//   display: flex;
//   flex: 1;
// }

// #eduid-nav {
//   display: flex;
//   flex: 1;
//   justify-content: space-between;
//   align-items: center;
// }

// #eduid-nav ul {
//   display: flex;
//   margin: 0 0 0 40px;
//   padding: 0;
// }

// #eduid-nav a {
//   color: $orange-highlight;
//   letter-spacing: 0.5px;
//   font-size: 1rem;
//   // text-transform: uppercase;
//   // padding: 16px 15px;
// }

// #eduid-nav span:hover {
//   border-bottom: solid 2px #3f5c57;
// }

#eduid-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#eduid-navbar ul {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
}

#eduid-navbar li {
  margin-right: 20px;
}

#eduid-navbar a:hover {
  color: $orange-highlight;
  border-bottom: solid 1px $orange-highlight;
}
/* styles for moving questions to footer */
// #question-wrapper {
//   display: grid;
//   grid-template-columns: 50% 50%;
//   // display: flex;
//   width: 58.3333%;
//   margin: auto;
// }

// .question-container {
//   margin-right: 30px;
//   margin-top: 3rem;
// }

// p .question {
//   margin-bottom: 30px;
// }

// #footer ul {
//   margin: 50px auto;
//   // display: grid;
//   // grid-template-columns: 50% 50%;
//   // grid-template-rows: auto;
//   // grid-gap: 30px;

//   width: 58.333333%;
// }

// #footer li {
//   cursor: pointer;
//   // background-color: yellow;
//   list-style: none;
//   border-bottom: solid 1px #d8d8d8;
// }

// .accordion {
//   // line-height: 1.5;
//   padding: 30px 0;
//   margin-top: 0;
//   display: flex;
//   justify-content: space-between;
// }

// #footer .answer {
//   margin-bottom: 30px;
// }
