

@import '../variables.scss';

div#footer {
    padding-top: 20px;
}
#footer .container {
    padding-top:20px;
    padding-bottom:10px;
    border-top:1px solid #629c92;
}
div#footer p {
    font-size:14px;
}
div#footer span.langselector {
    margin-right: 2px;
    padding:0 10px;
    border-right:1px solid #9f958c;
}
#footer .langselector:last-child {
    border-right:none;
}
#footer .langselector span {
    color: #fff;
}
#footer .langselector a {
    cursor: pointer;
    color: #000;
}
