@import "../variables.scss";

#footer {
  display: flex;
  flex-direction: column;
  padding: 0 0 30px 0;
  border-top: 8px solid #ff4500;
  background-color: #f4f4f4;
}

#questions-container {
  display: none;
}

#footer p {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 0;
}

#footer-content {
  padding: 30px 15px 0;
}

#footer-content p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

#footer span.langselector {
  margin-right: 2px;
  padding: 0 10px;
  border-right: 1px solid #d8d8d8;
}
#footer .langselector:last-child {
  border-right: none;
}
#footer .langselector span {
  color: #ff4500;
}
#footer .langselector a {
  cursor: pointer;
  color: #161616;
}

/* styles for moving questions to footer */
#questions-container {
  display: block;
}
#footer ul {
  margin: 50px auto;
  // display: grid;
  // grid-template-columns: 50% 50%;
  // grid-template-rows: auto;
  // grid-gap: 30px;

  width: 58.333333%;
}

#footer li {
  cursor: pointer;
  // background-color: yellow;
  list-style: none;
  border-bottom: solid 1px #d8d8d8;
}

.accordion {
  // line-height: 1.5;
  padding: 30px 0;
  margin-top: 0;
  display: flex;
  justify-content: space-between;
}

#footer .answer {
  margin-bottom: 30px;
}
