
@import '../variables.scss';

body,
div.jumbotron {
    height: 100%;
    background-color: $background-color;
    background-image:url(../../img/texture.png);
}

.jumbotron {
    margin: 60px 0;
    text-align: center;
    clear: both;
}

h1, h2, h3, h4 {
    font-family: $font;
    color: $hcolor;
}

h1 {
    font-size: 72px;
    line-height: 1;
    font-weight: 800;
}

a:hover {
    text-decoration: underline;
}

input {
    height: 45px;
}

button {
    text-transform: uppercase;
}

button.btn-in-row {
    padding: 10px 40px !important;
    margin: 20px 25px;
}

button.btn-primary {
    background-color: $primary-btn-color;
    border-color: $primary-btn-border-color;
}

p.lead {
    font-size: 24px;
    color: $lead-color;
    margin-top: 30px;
    margin-bottom: 75px;
}
