
@import '../variables.scss';

body,
div.jumbotron {
    height: 100%;
    background-color: $background-color;
    background-image:url(../../img/texture.png);
}

.jumbotron {
    margin: 0;
    padding: 0;
    padding-bottom: 8em;
    text-align: center;
    clear: both;
}

h1, h2, h3, h4 {
    font-family: $font;
    color: $hcolor;
}

h1 {
    font-size: 72px;
    line-height: 1;
    font-weight: 800;
}

h2 {
    font-size: 40px;
    line-height: 1;
    font-weight: 400;
}

a:hover {
    text-decoration: underline;
}

a.button:hover {
    text-decoration: none;
}

input {
    height: 45px;
}

button, a.button {
    cursor: pointer;
    text-transform: uppercase;
    color: white;
    padding: 10px 40px;
    background-color: $primary-btn-color;
    border-width: 0;
    font-family: Roboto-Medium;
    font-size:14px;
    font-weight: 400;
}

#captcha-buttons button {
    margin: .25rem .5rem;
}

button.white {
    padding: 6px 36px;
    border-width: 4px;
    background-color: transparent;
    border-color: white;
    border-style: solid;
}

button.orange {
    background-color: $orange;
}

p.lead {
    font-size: 24px;
    color: $lead-color;
    margin: 1em 0 2em 0;
    text-align: center;
}

/* Fontface */
@font-face {
	font-family: 'Roboto-Light';
	src: url('../fonts/roboto-light-webfont.eot');
	src: url('../fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/roboto-light-webfont.woff') format('woff'),
         url('../fonts/roboto-light-webfont.svg#webfontZam02nTh') format('svg'),
	     url('../fonts/roboto-light-webfont.ttf') format('truetype');

	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto-Regular';
	src: url('../fonts/roboto-regular-webfont.eot');
	src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/roboto-regular-webfont.svg#webfontZam02nTh') format('svg'),
	     url('../fonts/roboto-regular-webfont.ttf') format('truetype');

	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Black';
	src: url('../fonts/roboto-black-webfont.eot');
	src: url('../fonts/roboto-black-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/roboto-black-webfont.woff') format('woff'),
         url('../fonts/roboto-black-webfont.svg#webfontZam02nTh') format('svg'),
	     url('../fonts/roboto-black-webfont.ttf') format('truetype');

	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Medium';
	src: url('../fonts/roboto-medium-webfont.eot');
	src: url('../fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/roboto-medium-webfont.woff') format('woff'),
         url('../fonts/roboto-medium-webfont.svg#webfontZam02nTh') format('svg'),
	     url('../fonts/roboto-medium-webfont.ttf') format('truetype');

	font-weight: normal;
	font-style: normal;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {

    .jumbotron h1 {
        font-size: 54px;
        margin: 0;
        padding-bottom: 6em;
    }
}

@media only screen and (max-width: 767px) {

    .jumbotron h1 {
        font-size: 46px;
        margin: 0;
        padding-top: 3em;
        padding-bottom: 4em;
        font-weight: 400;
    }
    .jumbotron p.lead {
        font-size:18px;
    }
}
