//--- STEP 1. ADD NIN STYLES ---//

#add-nin-number {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nin-holder {
  margin: 20px 0;
  display: flex;
  align-items: flex-end;
}
/*--- styles for form ---*/
#nin-form-container {
}

.nin-input {
  border: solid 30px green;
}

/*--- styles for nin digits ---*/
// #nin-number-container {
//   background: red;
// }

#nin-number {
  font-size: 36px;
}

/*--- styles for nin buttons ---*/
#nin-buttons {
  display: flex;
}

// #verify-button button {
//   background: #3f5c57;
//   border: none;
//   color: white;
//   font-family: "Roboto-Black";
//   text-transform: uppercase;
// }

// #verify-button button {
//   font-size: 14px;
// }

#verify-button button {
  background-color: white;
}

#verify-button button p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #3f5c57;
}

//--- STEP 2. CONNECT NIN STYLES ---//

#connect-nin-number-container {
  margin-top: 30px;
}

#nins-btn-group {
  display: flex;
}

.vetting-button {
  margin-right: 15px;
  width: 100%;
}
// #connect-nin-number-buttons {
//   display: flex;
// }

.proofing-btn-help {
  margin-bottom: 30px;
}

div.proofing-buttons {
  margin-top: 30px;
}

// @media only screen and (max-width: 991px) {
//   div.btn-group-vertical#nins-btn-group div {
//     width: 100%;
//   }
//   div.proofing-buttons {
//     text-align: center;
//   }
//   div#nin,
//   div#nin input {
//     display: inline-block;
//   }
// }

// @media only screen and (max-width: 767px) {
//   fieldset#nins-form div#nin input,
//   div.proofing-buttons button.eduid-button.proofing-button {
//     max-width: 500px;
//   }
// }

// @media only screen and (min-width: 768px) {
//   fieldset#nins-form div#nin input,
//   div.proofing-buttons button.eduid-button.proofing-button {
//     width: 500px;
//   }
// }
