
@import '../variables.scss';


@media only screen and (min-width: 991px) {

    div.notifications-area {
        height: 80px;
        overflow: hidden;
    }

}

@media only screen and (max-width: 767px) {

    div.notifications-area {
        margin-top: 80px;
        min-height: 48px;
    }

}
