@import "../variables.scss";

#beta-link {
  font-size: 14px;
  color: white;
  background-color: #58b78b;
  border-radius: 3px;
  border: none;
  padding: 3px 7px;
}

#beta-link:hover {
  background-color: #629c92;
  text-decoration: none;
  color: #c7c7c7;
}

ul.pending-actions {
  margin-top: 10px;
}

li.pending-action-item a {
  cursor: pointer;
}

@media only screen and (max-width: 991px) {
  div.pending-actions-container {
    display: block;
    min-width: 80%;
  }
}
