@import "../variables.scss";

#beta-link {
  font-size: 14px;
  color: white;
  letter-spacing: 0.5;
  background-color: #58b78b;
  border-radius: 3px;
  // margin-bottom: 20px;
  padding: 3px 7px;
}

ul.pending-actions {
  margin-top: 20px;
}

li.pending-action-item a {
  cursor: pointer;
}

@media only screen and (max-width: 991px) {
  div.pending-actions-container {
    display: block;
    min-width: 80%;
  }
}
