@import "../variables.scss";

.form-group {
  padding: 0 10px 10px 0;
  margin: 0;
}

.form-text {
  margin-top: 0;
  padding: 0 0 0 2px;
}

#personaldataview-form {
  display: flex;
  align-items: flex-end;
}

#personal-data-button {
  margin-top: 20px 0 30px 0;
}

#personaldataview-form .form-group {
  width: 46%;
  display: inline-block;
  vertical-align: top;
}

#personaldataview-form button {
  margin: 0 0 57px 0;
}

// #personaldataview-form .form-control {
//   width: 92%;
// }

// #personaldataview-form label {
//   justify-content: left;
// }

// #personaldataview-form small.form-text {
//   min-height: 40px;
// }

@media only screen and (max-width: 992px) {
  #personaldataview-form .form-group {
    width: 100%;
  }
}

@media (max-width: 767px) {
  #personal-data-button {
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 20px !important;
    display: block !important;
  }
}
