@import "../variables.scss";

.table {
  font-size: 24px;
  margin-bottom: 10px;
}

.table td {
  color: #333;
}
#register-securitykey-container,
#delete-account-container {
  margin-top: 30px;
}

#connect-orcid-button,
#delete-button,
#security-webauthn-button {
  // width: 50%;
}

#orcid {
  margin-bottom: 30px;
}

// #security-change-button {
//   height: 2rem;
//   line-height: 2rem;
//   margin-bottom: 30px;
// }

button.btn-remove-u2f {
  height: 25px;
  width: 50px;
  margin-bottom: 0;
}

button.btn-verify-u2f {
  height: 25px;
  width: 50px;
  margin-bottom: 0;
}

button.btn-verified-u2f {
  height: 25px;
  width: 50px;
  margin-bottom: 0;
}

table.passwords {
  background-color: white;
}
