@import "../variables.scss";

#register-container {
  width: 58.3333%;
  margin: 50px auto 5rem;
}

#register-input-group {
  display: flex;
}

#email-input {
  background-color: white;
  border: none;
  border-bottom: solid 1px #161616;
  font-family: "ProximaNova-Regular";
  color: #161616;
  font-size: 24px;
}

#register-form {
  display: flex;
  flex: 1;
}

#register-button {
  margin-left: 10px;
}

.form-control {
  background-color: white;
  border: none;
  border-bottom: solid 1px #161616;
  font-family: "ProximaNova-Regular";
  color: #161616;
  font-size: 24px;
}

#resend-button,
#login-button {
  text-transform: none;
  cursor: pointer;
  padding-left: 0;
}

#captcha-container {
  margin: 50px auto 5rem;
  // align-items: center;
}

#captcha {
  transform: scale(1.2);
  transform-origin: 0 0;
  margin-bottom: 30px;
}

// #captcha-buttons {
//   // display: flex;
//   // justify-content: center;
// }

.register-header {
  font-family: "ProximaNova-Bold";
  margin-top: 0px;
  margin-bottom: 30px;
}

.captcha {
  margin-top: 30px;
  //   justify-content: center;
}

#email-display {
  /* margin-top: 56px; */

  margin: 30px 0;
}
.registered-email {
  color: $orange-highlight;
}

@media (max-width: 823px) {
  body {
    background: lightgreen;
  }
}

@media (max-width: 768px) {
  body {
    background: lightblue;
  }
}

@media (max-width: 414px) {
  body {
    background: lightyellow;
  }
  // #dashboard-nav.nav-back {
  //   max-width: calc(100% - 15px);
  //   padding: 0;
  // }
}

// body,
// div.jumbotron {
//   height: 100%;
//   color: #161616;
//   background-color: white;
//   background-image: url(../../img/texture.png);
// }

// .jumbotron {
//   margin: 0;
//   padding: 0;
//   padding-bottom: 8em;
//   text-align: center;
//   clear: both;
// }

// h1,
// h2,
// h3,
// h4 {
//   font-family: $font;
//   color: $hcolor;
// }

// h1 {
//   font-size: 72px;
//   line-height: 1;
//   font-weight: 800;
// }

// h2 {
//   font-size: 40px;
//   line-height: 1;
//   font-weight: 400;
// }

// a:hover {
//   text-decoration: underline;
// }

// a.button:hover {
//   text-decoration: none;
// }

// input {
//   height: 45px;
// }

// button,
// a.button {
//   cursor: pointer;
//   text-transform: uppercase;
//   color: white;
//   padding: 10px 40px;
//   background-color: $primary-btn-color;
//   border-width: 0;
//   font-family: Roboto-Medium;
//   font-size: 14px;
//   font-weight: 400;
// }

// #captcha-buttons button {
//   margin: 0.25rem 0.5rem;
// }

// button.white {
//   padding: 6px 36px;
//   border-width: 4px;
//   background-color: transparent;
//   border-color: white;
//   border-style: solid;
// }

// button.orange {
//   background-color: $orange;
// }

// p.lead {
//   font-size: 24px;
//   color: $lead-color;
//   margin: 1em 0 2em 0;
//   text-align: center;
// }

// /* Fontface */
// @font-face {
//   font-family: "Roboto-Light";
//   src: url("../fonts/roboto-light-webfont.eot");
//   src: url("../fonts/roboto-light-webfont.eot?#iefix")
//       format("embedded-opentype"),
//     url("../fonts/roboto-light-webfont.woff") format("woff"),
//     url("../fonts/roboto-light-webfont.svg#webfontZam02nTh") format("svg"),
//     url("../fonts/roboto-light-webfont.ttf") format("truetype");

//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: "Roboto-Regular";
//   src: url("../fonts/roboto-regular-webfont.eot");
//   src: url("../fonts/roboto-regular-webfont.eot?#iefix")
//       format("embedded-opentype"),
//     url("../fonts/roboto-regular-webfont.woff") format("woff"),
//     url("../fonts/roboto-regular-webfont.svg#webfontZam02nTh") format("svg"),
//     url("../fonts/roboto-regular-webfont.ttf") format("truetype");

//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: "Roboto-Black";
//   src: url("../fonts/roboto-black-webfont.eot");
//   src: url("../fonts/roboto-black-webfont.eot?#iefix")
//       format("embedded-opentype"),
//     url("../fonts/roboto-black-webfont.woff") format("woff"),
//     url("../fonts/roboto-black-webfont.svg#webfontZam02nTh") format("svg"),
//     url("../fonts/roboto-black-webfont.ttf") format("truetype");

//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: "Roboto-Medium";
//   src: url("../fonts/roboto-medium-webfont.eot");
//   src: url("../fonts/roboto-medium-webfont.eot?#iefix")
//       format("embedded-opentype"),
//     url("../fonts/roboto-medium-webfont.woff") format("woff"),
//     url("../fonts/roboto-medium-webfont.svg#webfontZam02nTh") format("svg"),
//     url("../fonts/roboto-medium-webfont.ttf") format("truetype");

//   font-weight: normal;
//   font-style: normal;
// }

// @media only screen and (min-width: 768px) and (max-width: 992px) {
//   .jumbotron h1 {
//     font-size: 54px;
//     padding-top: 2em;
//   }

//   .jumbotron {
//     margin: 0;
//     padding-bottom: 6em;
//   }
// }

// @media only screen and (max-width: 767px) {
//   .jumbotron {
//     margin: 0;
//     padding-bottom: 4em;
//   }

//   .jumbotron h1 {
//     padding-top: 2em;
//     font-size: 46px;
//     font-weight: 400;
//   }
//   .jumbotron p.lead {
//     font-size: 18px;
//   }
// }
