@import "./variables.scss";

/* Accordion */

.accordions {
  overflow: hidden;
  box-shadow: 0 2px 4px 1px rgb(0 0 0 / 25%);
  border-radius: 4px;
}

.accordion {
  width: 100%;
  color: white;
  overflow: hidden;

  //checkbox
  &-handle {
    position: absolute;
    opacity: 0;
    z-index: -1;

    &:checked {
      + .accordion-label {
        background: $dark-orange;

        &::after {
          transform: rotate(90deg);
        }
      }

      ~ .accordion-content {
        max-height: 100vh;
        padding: 1em;
      }
    }
  }

  &-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: $orange-highlight;
    color: $white;
    font-family: $akkurat;
    margin: 0;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      background: $dark-orange;
    }

    // icon
    &::after {
      content: "\276F";
      width: 1em;
      height: 1em;
      text-align: center;
      transition: all 0.35s;
    }
  }

  &-content {
    max-height: 0;
    padding: 0 1em;
    color: initial;
    background: white;
    transition: all 0.35s;

    form {
      margin-top: 0;
    }
  }

  &-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: $orange-highlight;
    cursor: pointer;

    &:hover {
      background: $dark-orange;
    }
  }

  & + & &-label {
    border-top: 2px solid $light-gray;
  }
}
