@import "./variables.scss";

/* Accordion */

.accordions {
  box-shadow: 0 2px 4px 2px rgb(0 0 0 / 10%);
  border: 2px solid $dark-gray;
  border-radius: 4px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.accordion {
  &-handle {
    display: flex;
    cursor: pointer;
    //background: darken($orange-opaque, 5%);
    background: $mid-gray;
    color: $orange-highlight;
    font-weight: bold;
    transition: all 0.1s ease;
    position: relative;
    padding: 1rem;

    &:hover {
      background: $orange-highlight;
      color: $white;

      .accordion-heading {
        text-decoration: underline;
      }
    }
  }

  &-content {
    background-color: $white;
    padding: 1.5rem 1rem;
    //transition: all 0.2s ease;
    animation: fadein 0.2s ease;
    @keyframes fadein {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    input[type="text"] {
      background-color: $light-gray;
    }
  }
  & + & &-handle {
    border-top: 2px solid $dark-gray;
  }
  &-toggle {
    transform: rotate(90deg);
    position: absolute;
    right: 1rem;
  }
  &-title {
    font-family: $akkurat;
  }
  &-icon {
    img {
      height: 1.5rem;
      margin-right: 0.5rem;
      width: inherit;
      vertical-align: top;
      box-shadow: 0 0 4px 2px rgb(0 0 0 / 10%);
      border-radius: 50%;

      @media (max-width: $bp-md) {
        height: 1.25rem;
      }
    }
  }
  &-heading {
    font-size: 1.125rem;
    margin-bottom: 0;

    @media (max-width: $bp-md) {
      font-size: 1rem;
    }
  }
  &-description {
    font-size: 12px;
    display: block;
  }

  form {
    margin-top: 0;
  }
}
