@import "./variables";

/* Accordion */

.accordion {
  $a: &;

  box-shadow: 0 1px 3px 2px rgb(0 0 0 / 5%);
  border: 2px solid $border-gray;
  border-radius: 6px;
  overflow: hidden;

  &__item {
    + #{$a}__item {
      border-top: 2px solid $border-gray;
    }

    &.expanded > #{$a}__heading > #{$a}__button {
      background: $bg-orange;
    }

    // Clickable
    #{$a}__heading {
      #{$a}__button {
        display: flex;
        cursor: pointer;
        background: $bg-gray;
        color: $txt-orange;
        font-weight: bold;
        position: relative;
        padding: 1rem;
        font-family: $akkurat;
        transition: all 0.1s ease-in;

        &:hover {
          background: $btn-orange;
          color: $white;

          #{$a}-title {
            text-decoration: underline;
          }
        }

        #{$a}-icon {
          .circle-icon {
            height: 1.25rem;
            margin-right: 0.75rem;
            vertical-align: text-top;

            @media (max-width: $bp-md) {
              height: 1.125rem;
            }
          }

          svg {
            text-align: center;
            font-size: 0.9rem;
            margin-right: 10px;
          }
        }

        #{$a}-title {
          font-size: 1.125rem;
          margin-bottom: 0;

          @media (max-width: $bp-md) {
            font-size: 1rem;
          }
        }

        #{$a}-description {
          font-size: 12px;
          display: block;
        }

        #{$a}-toggle {
          transform: rotate(90deg);
          position: absolute;
          right: 1rem;
        }
      }
    }

    // Content
    #{$a}__panel {
      background-color: $white;
      padding: 1.5rem 1rem;
      animation: fadein 0.2s ease-in;

      @keyframes fadein {
        0% {
          opacity: 0;
        }

        100% {
          opacity: 1;
        }
      }

      input[type="text"] {
        background-color: $body-gray;
      }
    }

    // Visually disabled with minimal hover feedback, still clickable for information purposes
    &.disabled,
    &.disabled:hover,
    &.expanded.disabled {
      color: $txt-gray;

      #{$a}__button,
      #{$a}__button:hover {
        color: $txt-gray !important;
        background-color: $bg-gray !important;
      }
      #{$a}__panel {
        color: $txt-gray;
      }

      #{$a}-icon img {
        filter: grayscale(1);
      }
    }
  }

  // &:not(#{$a}-nested) > .expanded + #{$a}__item {
  //   border-top: 2px solid #c4c4c4;
  // }

  form {
    margin-top: 0;
  }

  // Visual card-like variation for internal accordion displays
  &-nested {
    border: none;
    box-shadow: none;
    border-radius: 0;

    #{$a}__item {
      margin-bottom: 10px;
      border: 2px solid $border-gray;
      border-radius: 6px;
      overflow: hidden;

      // &.expanded {
      //   border-color: #c4c4c4;
      // }

      &:hover {
        border-color: $bright-orange;

        &.expanded {
          border-color: $border-gray;
        }
      }

      &.expanded > #{$a}__heading > #{$a}__button {
        background: $bg-orange;
      }

      // Clickable
      #{$a}__heading {
        #{$a}__button {
          &:hover {
            color: $white;
            background: $btn-orange;
          }

          #{$a}-title {
            font-size: 1rem;
            text-transform: uppercase;
            letter-spacing: 1px;
          }
        }
      }

      // Content
      #{$a}__panel {
        padding: 1rem 1rem 1.25rem;

        p {
          font-size: 1.125rem;
          line-height: 1.25;
        }
      }

      &.disabled,
      &.disabled:hover,
      &.expanded.disabled {
        border-color: $border-gray;
      }

      &.disabled,
      &.disabled:hover {
        #{$a}__button,
        #{$a}__button:hover {
          background-color: $white !important;
        }
      }

      &.expanded.disabled {
        #{$a}__button,
        #{$a}__button:hover {
          background-color: $bg-gray !important;
        }
      }
    }
  }
}
