@import "./variables.scss";

/* Accordion */

.accordion {
  box-shadow: 0 1px 3px 2px rgb(0 0 0 / 5%);
  border: 2px solid $dark-gray;
  border-radius: 6px;
  overflow: hidden;

  &__button {
    display: flex;
    cursor: pointer;
    background: $mid-gray;
    color: $orange-highlight;
    font-weight: bold;
    transition: all 0.1s ease;
    position: relative;
    padding: 1rem;
    font-family: $akkurat;
    transition: all 0.2s ease-in;

    &:hover {
      &:not(.expanded) {
        background: $orange-highlight;
        color: $white;
      }
      .accordion-title {
        text-decoration: underline;
      }
    }

    &.disabled,
    &.disabled:hover {
      color: $gray;
      background: $dark-gray;
      cursor: not-allowed;

      .accordion-title {
        text-decoration: none;
      }
      .accordion-icon img {
        filter: grayscale(1);
      }
    }
    &.expanded {
      background: $orange-opaque;
    }
  }

  &__panel {
    background-color: $white;
    padding: 1.5rem 1rem;
    //transition: all 0.2s ease;
    animation: fadein 0.2s ease;
    @keyframes fadein {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    input[type="text"] {
      background-color: $light-gray;
    }
  }
  &__item + &__item {
    border-top: 2px solid $dark-gray;
  }
  &-toggle {
    transform: rotate(90deg);
    position: absolute;
    right: 1rem;
  }
  &-icon {
    img {
      height: 1.25rem;
      margin-right: 0.75rem;
      width: inherit;
      vertical-align: text-top;
      box-shadow: 0 1px 3px 2px rgb(0 0 0 / 5%);
      border-radius: 50%;

      @media (max-width: $bp-md) {
        height: 1.125rem;
      }
    }
  }
  &-title {
    font-size: 1.125rem;
    margin-bottom: 0;

    @media (max-width: $bp-md) {
      font-size: 1rem;
    }
  }
  &-description {
    font-size: 12px;
    display: block;
  }

  form {
    margin-top: 0;
  }
}
