@import "./variables.scss";

/* overall structure of page */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  font-family: "ProximaNova-Regular", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #161616;
  scroll-behavior: smooth;
  display: flex;
}

#root {
  display: flex;
  flex: 1;
  // height: 100vh;
  flex-direction: column;

  // this is commented out to accomodate DashboardMain, should be introduced again for login app
  // background-color: #f4f4f4;
}

#panel {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-bottom: 2rem;
  background-color: #f4f4f4;
}

// same styling as .phoneview-form-container, #delete-account-container,#change-password-container in Email.js = replaced thes ewith with <article>
article {
  margin-top: 2rem;
}

// this is a horizontal-margin and should be renamed
.horizontal-content-margin,
.vertical-content-margin {
  padding: 0;
  width: 58%;
  max-width: 870px;
  // max-width: 43.5rem;
  // this margin covers the notifications (check in the new login app why it is like this - plan for dashboard to have notifications under nav)
  // margin: -2.25rem auto 0 auto;
  margin: 0 auto;
  // this is added to prevent margin collapse (look for other solution if causing problems)
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

fieldset {
  width: 100%;
}

// scrollbar for tables
::-webkit-scrollbar {
  margin-top: -1rem;
  width: 0.125rem;
  height: 0.125rem;
  width: 0;
}
::-webkit-scrollbar-thumb {
  background-color: #7c7c7c;
  border-radius: 1rem;
}

::-webkit-scrollbar-track {
  background-color: #ececec;
}

@media (max-width: 823px) {
  .horizontal-content-margin,
  .vertical-content-margin {
    width: calc(80% - 2rem);
  }
}

@media (max-width: 768px) {
  .horizontal-content-margin,
  .vertical-content-margin {
    width: calc(80% - 1.25rem);
  }
}

@media (max-width: 568px) {
  .horizontal-content-margin,
  .vertical-content-margin {
    width: calc(100% - 1.25rem);
  }
}

@media (max-width: 414px) {
  .horizontal-content-margin,
  .vertical-content-margin {
    width: calc(100% - #{2 * $margin});
  }
}
