@import "./variables.scss";

/* overall structure of page */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  font-family: "ProximaNova-Regular", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #161616;
  scroll-behavior: smooth;
  display: flex;
}

#root,
#app-container {
  display: flex;
  flex: 1;
  // height: 100vh;
  flex-direction: column;

  // this is commented out to accomodate DashboardMain, should be introduced again for login app
  // background-color: #f4f4f4;
}

#content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-bottom: 2rem;
  // background: lightyellow;
  background-color: #f4f4f4;
}

.vertical-content-margin {
  padding: 0;
  width: 58%;
  max-width: 870px;
  // max-width: 43.5rem;
  // this margin covers the notifications (check in the new login app why it is like this - plan for dashboard to have notifications under nav)
  // margin: -2.25rem auto 0 auto;
  margin: 1rem auto;
  // this is added to prevent margin collapse (look for other solution if causing problems)
  display: flex;
  flex-direction: column;
}

// /* Mobile scrollbar */
// ::-webkit-scrollbar {
//   -webkit-appearance: none;
// }

// ::-webkit-scrollbar:vertical {
//   width: 12px;
// }

// ::-webkit-scrollbar:horizontal {
//   height: 12px;
// }

// ::-webkit-scrollbar-thumb {
//   background-color: rgba(0, 0, 0, 0.5);
//   border-radius: 10px;
//   border: 2px solid #ffffff;
// }

// ::-webkit-scrollbar-track {
//   border-radius: 10px;
//   background-color: #ffffff;
// }
