@import "variables";

/* overall structure of page */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  font-family: $proxima-regular;
  font-size: 16px;
  line-height: 1.5;
  color: $txt-black;
  scroll-behavior: smooth;
  display: flex;
}

#root {
  display: flex;
  flex: 1;

  // height: 100vh;
  flex-direction: column;

  // this is commented out to accommodate DashboardMain, should be introduced again for login app
  // background-color: #f4f4f4;
}

.panel {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-bottom: 6rem;
  background-color: $body-gray;

  @media (max-width: $bp-lg) {
    padding-bottom: 4rem;
  }

  .content {
    padding-top: 3rem;

    @media (max-width: $bp-lg) {
      padding-top: 2rem;
    }
  }
}

// same styling as .phoneview-form-container, #delete-account-container,#change-password-container
// in Email.js = replaced these with with <article>
#text-content article {
  margin-bottom: 3rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid $border-gray;
  &:last-of-type {
    border-bottom: none;
  }

  @media (max-width: $bp-md) {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
  }
}

// this is a horizontal-margin and should be renamed
.horizontal-content-margin,
.vertical-content-margin {
  padding: 0;
  width: 58%;
  max-width: 870px;
  margin: 0 auto;

  // this is added to prevent margin collapse (look for other solution if causing problems)
  display: flex;
  flex-direction: column;
}

.border-line {
  margin: 0.5rem 0 2rem;
  border-bottom: 1px solid $border-gray;
}

// TODO: Remove after checking scrollbar in tables
// ::-webkit-scrollbar {
//   margin-top: -1rem;
//   width: 0.125rem;
//   height: 0.125rem;
//   width: 0;
// }

// ::-webkit-scrollbar-thumb {
//   background-color: #7c7c7c;
//   border-radius: 1rem;
// }

// ::-webkit-scrollbar-track {
//   background-color: #ececec;
// }

@media (max-width: $bp-lg) {
  .horizontal-content-margin,
  .vertical-content-margin {
    width: calc(80% - 2rem);
  }
}

@media (max-width: $bp-md) {
  .horizontal-content-margin,
  .vertical-content-margin {
    width: calc(80% - 1.25rem);
  }
}

@media (max-width: $bp-sm) {
  .horizontal-content-margin,
  .vertical-content-margin {
    width: calc(100% - 2rem);
  }
}

@media (max-width: $bp-xs) {
  .horizontal-content-margin,
  .vertical-content-margin {
    width: calc(100% - #{2 * $margin});
  }
}
