/* Button */

button,
button.btn-primary,
button.btn-primary:not(:disabled):not(.disabled):active,
button.btn-primary:not(:disabled):not(.disabled):focus,
button.btn-primary:not(:disabled):not(.disabled):active:focus {
  font-family: "Akkurat";
  color: white;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0.01em;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #ff4500;
  height: 3rem;
  border-radius: 20px;
  border: solid 1px transparent;
  padding: 0.625rem 1.25rem;
  margin: 0 0 2rem 0;
  box-shadow: 0 5px 17px rgba(89, 89, 89, 0.07);
  transition: all 0.5s ease;
  outline: 0;
  cursor: pointer;
  &:disabled,
  .disabled {
    background-color: $dark-gray;
    border-color: $dark-gray;
  }
}

button:hover,
.btn-primary:hover {
  background-color: #ff4500;
  border: none;
  transform: scale(0.95);
}
