@import "./variables.scss";

.btn.disabled,
.btn:disabled {
  opacity: 0.4;
}

a.btn,
button,
button.btn {
  font-family: Akkurat;
  font-size: 1rem;
  font-weight: 700;

  // line-height: 1rem;
  text-transform: uppercase;
  height: 3rem;
  border-radius: 20px;
  box-shadow: 0 5px 17px rgb(89 89 89 / 7%);
  transition: all 0.5s ease;
  outline: 0;
  border: none;
  cursor: pointer;

  &:disabled,
  .disabled {
    cursor: not-allowed;
    pointer-events: all !important;
    background-color: $orange-highlight;
    color: $white;
  }
}

.btn-primary,
.btn-primary,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled):focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled):hover {
  color: $white;
  background-color: $orange-highlight;
  box-shadow: none;
  min-width: 100px;
}

button.btn-secondary,
button.btn-secondary:not(:disabled):not(.disabled):active,
button.btn-secondary:not(:disabled):not(.disabled):focus,
button.btn-secondary:not(:disabled):not(.disabled):active:focus,
button.btn-secondary:not(:disabled):not(.disabled):hover {
  color: $orange-highlight;
  border: solid 2px $orange-highlight;
  background-color: $white;
  box-shadow: none;
  min-width: 100px;

  /* Login, Logout, Register button in Header */
  &.btn-sm {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    width: fit-content;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
}

button.btn-primary:hover,
button.btn-secondary:hover {
  transform: scale(0.95);

  &:disabled,
  .disabled {
    transform: scale(1);
  }
}

/* color for CANCEL and CLOSE buttons in modals */
// ----- buttons that close modals ----  //
button.btn-close {
  background-color: transparent;
  margin: 0;
  box-shadow: none;

  &:hover,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled):focus,
  &:not(:disabled):not(.disabled):active:focus {
    color: $gray;
    background-color: transparent;
    box-shadow: none;
  }

  &.btn-sm {
    font-size: 0.7rem;
  }
}

/* styles for links that are also buttons */
button.btn-link {
  background-color: transparent;
  color: $orange-highlight;
  border-radius: 0;
  border: none;
  box-shadow: none;
  margin: 0;
  text-decoration: none;
  padding: 0;

  &:hover,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled):focus,
  &:not(:disabled):not(.disabled):active:focus {
    color: $orange-highlight;
    background-color: transparent;
    transform: scale(1);
    text-decoration: underline;
    box-shadow: none;
  }

  &.btn-sm {
    font-size: 0.75rem;
  }

  &.lowercase {
    text-transform: lowercase;

    &.hide {
      display: none;
    }
  }
}

.flex-buttons {
  display: flex;
  column-gap: 1rem;
  margin: 1em 0 0;

  button {
    min-width: 100px;
  }

  button[type="submit"] {
    order: 2;
  }
}

// login username-pw / reset-password set-new-password
.show-hide-button {
  position: absolute;
  background: transparent;
  border-radius: 0;
  padding: 0;
  margin: 0;
  box-shadow: 0 0 0;
  border: none;
  cursor: pointer;
}

.show-hide-button {
  right: 1rem;
  color: $black;
  font-size: 1rem;
}

/* Instance/icon unique styles to be set in targeted css */
button.icon-only {
  @extend .icon;

  box-shadow: none;
  background: transparent;
  border-color: transparent;
  margin: 0;
  padding: 0;
}

@media (max-width: $bp-xs) {
  button.btn {
    font-size: 0.9rem;
  }

  button.btn-primary,
  button.btn-secondary {
    width: 100%;
  }

  button.btn.btn-link {
    width: auto;
    padding: 0;
  }
}
