@import "./variables.scss";

// --- UNCOMMENT THESE STYLES WHEN UPDATING THE BUTTON STYLE

#login,
#logout {
  text-transform: none;
  margin-top: 0;
  margin-bottom: 0;
}
a.btn,
button,
button.btn {
  font-family: "Akkurat";
  font-size: 1rem;
  font-weight: 700;
  line-height: 1rem;
  text-transform: uppercase;
  height: 3rem;
  border-radius: 20px;
  padding: 0.625rem 1.25rem;
  margin: 1rem 0 2rem 0;
  box-shadow: 0 5px 17px rgba(89, 89, 89, 0.07);
  transition: all 0.5s ease;
  outline: 0;
  border: none;
  cursor: pointer;
  &:disabled,
  .disabled {
    background-color: $dark-gray;
    color:$light-gray;
  }
}

button,
button.btn-primary,
button.btn-primary:not(:disabled):not(.disabled):active,
button.btn-primary:not(:disabled):not(.disabled):focus,
button.btn-primary:not(:disabled):not(.disabled):active:focus {
  color: $white;
  background-color: $orange-highlight;
}

button,
button.btn-secondary,
button.btn-secondary:not(:disabled):not(.disabled):active,
button.btn-secondary:not(:disabled):not(.disabled):focus,
button.btn-secondary:not(:disabled):not(.disabled):active:focus {
  color: $orange-highlight;
  text-transform: none;
  text-decoration: none;
  border: none;
  background-color: $orange-opaque;
  margin: 0 0 2rem -0.25rem;
}

// button:hover,
button.btn:hover {
  border: none;
}

button.btn-primary:hover,
button.btn-secondary:hover {
  transform: scale(0.95);
}

button.btn-primary:hover {
  background-color: $orange-highlight;
  border: none;
  &:disabled,
  .disabled {
    background-color: $dark-gray;
    border: none;
    transform: scale(1);
  }
}

button.btn-secondary:hover {
  background-color: $orange-opaque;
  color: $orange-highlight;
  border: none;
  outline: 0;
}

button.close {
  padding: 0.625rem 1.25rem;
  background-color: transparent;
  margin: 0;
  transition: all 0.3s ease;
  border: none;
  box-shadow: none;
}
button.close:hover {
  transform: scale(1.2);
}

/* MODALS */
a.btn.modal-button,
button.btn.modal-button,
button#accept-tou-button
 {
  box-shadow: none;
  border: solid 1px transparent;
  margin: 1rem 2rem 1rem 2rem;
  color: $white;
  &:hover {
    background: transparent;
    transform: scale(1);
  }
  &:disabled,
  .disabled {
    color: $white;
    background-color: #c4c4c4;
    pointer-events: none;
  }
}

/* color for OK and ACCEPT buttons in modals */
// ----- buttons with actions in modals ----  //
a.ok-button,
button.ok-button,
#accept-tou-button {
  background-color: $orange-highlight;
  &:hover,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled):focus,
  &:not(:disabled):not(.disabled):active:focus {
    background-color: $orange-opaque;
    border: solid 1px $orange-highlight;
    color: $orange-highlight;
  }
}

/* color for CANCEL and CLOSE buttons in modals */
// ----- buttons that close modals ----  //
button.cancel-button {
  background-color: transparent;
  padding: 1rem 1rem 0 1rem;
  margin:0 !important;
  height: 100%;
  & svg{
    fill: #C4C4C4;
    align-self: center;
  }
  &:hover,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled):focus,
  &:not(:disabled):not(.disabled):active:focus {
    color: $gray;
    background-color: transparent;
    box-shadow: none;
  }
}

// ----- buttons that captcha cancel modals ----  //
button.captcha.cancel-button{
  color: #161616;
  margin: 0.5rem 1rem !important;
  padding: 1rem;
  &:hover,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled):focus,
  &:not(:disabled):not(.disabled):active:focus {
    color: $gray;
    background-color: transparent;
    box-shadow: none;
    border: solid 1px  $gray;
  }
}

/* styles for REMOVE icons */
// ----- buttons that remove data ----  //
// button.btn.btn-sm,
button.btn.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: solid 1px transparent;
  box-shadow: none;
  margin: 0;
  padding: 0 1rem;
  height: auto;
  &:hover,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled):focus,
  &:not(:disabled):not(.disabled):active:focus {
    background-color: transparent;
    border: solid 1px transparent;
  }
}

button.btn.table-button.btn.btn-primary,
button.btn-link.nobutton.verify-status-label,
.show-hide-button {
  color: #ff500d;
  font-size: 0.75rem;
  background-color: transparent;
  border: solid 1px transparent;
  box-shadow: none;
  &:hover,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled):focus,
  &:not(:disabled):not(.disabled):active:focus {
    background-color: transparent;
    text-decoration: underline;
    border: solid 1px transparent;
    outline: none;
  }
}

.show-hide-button {
  margin: 0;
}

/* styles for links that are also buttons */
// -----  ----  //
a.btn-link,
button.btn-link {
  background-color: transparent;
  color: $orange-highlight;
  border-radius: 0;
  border: none;
  box-shadow: none;
  margin: 0;
  &:hover,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled):focus,
  &:not(:disabled):not(.disabled):active:focus {
    color: $orange-highlight;
    background-color: transparent;
    transform: scale(1);
  }
}

.modal-footer button.delete-button {
  margin: 0.5rem 1rem;
}

@media (max-width: 414px) {
  button.btn {
    font-size: 0.9rem;
  }

  
  button.modal-button.ok-button,
  a.modal-button.ok-button,
  button.btn-secondary,
  #security-webauthn-button,
  #connect-orcid-button{
    width: 100%;
  }
  button.btn.btn-link,
  .delete-button,
  #security-change-button,
  #add-more-button {
    width: auto;
    padding: 0;
  }
}
