#chpass-form {
  display: flex;
  align-items: baseline;
  margin-top: 1rem;
}

#custom-password-field {
  margin-bottom: 1rem;
}
#changePasswordDialog {
  // background: yellow;
  & fieldset {
    margin-bottom: 1rem;
  }
}

#password-custom-help {
  list-style-type: disc;
  margin: 1rem;
}

.meter-wrapper {
  display: none;
  margin: 0.5rem 0 1.5rem;
  font-size: 80%;
  &.active {
    display: block;
  }
}
meter {
  width: 100%;
  height: 1.5em;
}

@media (max-width: 375px) {
  #password-suggestion .btn-link {
    font-size: 0.8rem;
  }
}
