#chpass-form {
  display: flex;
  align-items: baseline;
  margin-top: 1rem;
}

#custom-password-field {
  margin-bottom: 1rem;
}
#changePasswordDialog {
  // background: yellow;
  & fieldset {
    margin-bottom: 1rem;
  }
}

#password-custom-help {
  list-style-type: disc;
  margin: 1rem;
}

meter {
  width: 100%;
  background: yellow;
}

@media (max-width: 375px) {
  #password-suggestion .btn-link {
    font-size: 0.8rem;
  }
}
