.search-user-form-wrapper {
  display: flex;
  justify-content: space-between;

  div#query-wrapper {
    width: 100%;
    margin-right: 10px;
  }

  button#search-users {
    margin-top: 20px;
  }

  button.clear-input {
    margin-left: -65px;
    height: 80px;
    width: 52px;
  }
}

table.connect {
  thead {
    background-color: $bg-orange;
    font-family: $proxima-regular;

    th {
      padding: 10px;
    }

    th.connect-invite {
      width: 12%;
    }

    th.connect-see-more {
      width: 11%;
    }
  }

  tbody {
    margin-bottom: 0;

    tr:not(.selected) {
      height: 5.5rem;
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: solid 1px $bg-gray;
    }

    tr:hover:not(.expanded) {
      background-color: $bg-gray;
      cursor: pointer;
    }

    // tr:nth-child(even) {
    //   background-color: $bg-gray;
    // }

    td {
      line-height: 1.4;
      padding: 10px;

      svg {
        color: $txt-orange;
      }
    }

    td svg {
      border: 3px solid transparent;
    }

    td.expanded svg {
      background-color: $bg-orange;
      border: 3px solid $bg-orange;
      border-radius: 20px;
    }

    td.selected {
      font-size: 1rem;
      padding-left: 20px !important;
    }
  }
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    position: relative;
  }

  td button#add-users {
    /* Now like a table header */
    position: absolute;

    /* Top/left values mimic padding */
    bottom: 15px;
    left: 15px;
  }

  table.connect tbody td {
    padding: 0;
    padding-left: 20%;
  }

  /*
	Label the data
	*/
  // td:nth-of-type(1)::before {
  //   content: "Name";
  // }

  // td:nth-of-type(2)::before {
  //   content: "Phone Number";
  // }

  // td:nth-of-type(3)::before {
  //   content: "Email Address";
  // }
}
