
@import "./variables.scss";

#dashboard-nav {
  & ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -0.1875rem;
    margin-bottom: 0;
    & li {
      margin: 0.5rem 2rem 0.5rem 0;
      flex: 1;
    }
    & a {
      color: $black;
      padding: 0 0.1875rem;
      & span {
        border-bottom: $black solid 1px;
      }
      // styling for when menu item is clicked
      &.active {
        color: $orange-highlight;
        & span {
          border-bottom: transparent solid 1px;
        }
      }
      // styling for when hovering the menu item
      &:hover {
        color: $orange-highlight;
        border-bottom: transparent solid 1px;
        & span {
          border-bottom: transparent solid 1px;
        }
      }
    }
  }
}

#text-content {
  // the height here is set to total the same as the notifications above the dashboard nav
  margin-top: 2.25rem;
}

// --- PROFILE STYLES --- //
#profile-grid {
  display: grid;
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(2, auto);
  & label {
    font-family: "Akkurat";
    width: 100%;
  }
}

.profile-grid-cell {
  display: flex;
  flex-direction: column;
  & .data-with-delete {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    & p {
      font-size: 2.25rem;
      font-family: "ProximaNova-Regular";
      margin-bottom: 0;
      padding-bottom: 0;
    }
    & .display-data {
      margin-top: 0;
    }
  }
  & a span {
    border-bottom: solid 1px $orange-highlight;
    &:hover {
      border-bottom: solid 1px transparent;
    }
  }
  & .display-data {
    font-family: "ProximaNova-Light";
    font-size: 2rem;
    line-height: 1;
    margin-left: 0.1875rem;
    margin-top: 1rem;
    padding-bottom: 0;
    word-wrap: break-word;

    &.no-data {
      color: gray;
    }
    &.unverified {
      color: $orange-highlight;
    }
    &.verified {
      color: $black;
    }
  }
}

@media (max-width: 823px) {
  #profile-grid {
    width: calc(80% - 2rem);
  }
}

@media (max-width: 768px) {
  #profile-grid {
    width: calc(100% - 1.25rem);
  }
  #profile-grid {
    grid-row-gap: 2rem;
  }
}

@media (max-width: 568px) {
  #profile-grid {
    grid-template-columns: 1fr;
  }
}
