.help-text {
  margin-top: 1rem;
  margin-bottom: -5px;
  line-height: 1.2;
  color: #7c7c7c;
  font-size: 14px;
}

#uniqueId-container {
  margin-top: 1rem;
}

#emailsview-form,
#phonesview-form,
#nin-form {
  flex-direction: row;
  & button {
    margin: 2rem 0  0 1rem; 
  }
}

.phoneview-form-container,
#delete-account-container,
#change-password-container {
  margin-top: 2rem;
}

#personaldataview-form {
  display: block;
  width: 100%;
}

#suggested-password {
  display: table;
  padding: 0.125rem 0.5rem;
  background: $orange-opaque;
  font-size: 1.5rem;
  border: none;
  color: $orange-highlight;
}

#personal-data-form {
  display: flex;
  flex-direction: column;
}


#add-more-button {
  text-transform: lowercase;
  &.hide {
    display: none;
  }
}

.form-content {
  width: 100%;
}

.hide {
  display: none;
}

@media (max-width: 568px) {
  #emailsview-form,
  #phonesview-form {
    flex-direction: column;
    align-items: unset;
    & button {
      margin-left: 0;
    }
  }
}
