// #uniqueId-container {
//   margin-top: 1rem;
// }

// .phoneview-form-container,
// #delete-account-container,
// #change-password-container {
//   margin-top: 2rem;
// }

#suggested-password {
  display: table;
  padding: 0.125rem 0.5rem;
  background: $orange-opaque;
  font-size: 1.5rem;
  border: none;
  color: $orange-highlight;
}

.form-content {
  width: 100%;
}

.hide {
  display: none;
}
