.swamid-error {
  ul{
    list-style-type: disc !important;
    font-size: 1.25rem;
    & span {
        margin-top: 1rem;
        margin-bottom: 1rem;
        line-height: 1.5;

      }
    & ul {
        padding: 0.75rem 0;
        line-height: 1;
      }
    }

    h4 {
      font-size: 1.25rem;
      font-family: "ProximaNova-Bold";
    }
    .technical-info-box {
      background-color: $white;
      padding: 1rem;

      .technical-info-text{
        display: flex;
        justify-content: flex-start;
        p {
          font-size: 1rem;
        }
        p:first-child{
          text-transform: uppercase;
          font-family: "ProximaNova-Bold";
          width: 8.125rem;
        }
      }
    }
  }
  
  .swamid-error li {
    margin-top: 24px;
  }
  
  // .swamid-error p {
  //   margin-top: 4rem;
  //   margin-bottom: 1rem;
  //   background-color: $white;
  // }


  
  @media (max-width: 823px) {
    .swamid-error {
      width: 75%;
    }
  }
  
  @media (max-width: 768px) {
    .swamid-error {
      width: calc(100% - 40px);
    }
  
    // .swamid-error p {
    //   margin-top: 2rem;
    // }
  }
  
  