.swamid-error {
  font-size: 1.25rem;
    & span {
      line-height: 1.5;
      font-family: "ProximaNova-bold";
      font-size: 1.25rem;
    }
    & ul {
      margin-bottom: 4rem;
      div {
        margin-left: 1rem;
        li:nth-child(1), li:nth-child(3), li:nth-child(5){
          list-style-type: disc;
          margin-top: 1rem;     
          font-family: "ProximaNova-bold";
      }
      }
    }
    & li {
      line-height: 1.5;
      font-family: "ProximaNova-Regular";
    }
    & h4 {
      font-family: "ProximaNova-Bold";
    }
    & .technical-info-box {
      background-color: $white;
      padding: 1rem;
      .technical-info-text{
        display: flex;
        justify-content: flex-start;
        p {
          font-size: 1rem;
        }
        p:first-child{
          text-transform: uppercase;
          font-family: "ProximaNova-Bold";
          width: 8.125rem;
        }
      }
    }
  }
  
  .swamid-error li {
    margin-top: 24px;
  }
  
  @media (max-width: 823px) {
    .swamid-error {
      width: 75%;
    }
  }  