
@font-face {
  font-family: "Akkurat";
  src: url("../../fonts/Akkurat-Mono.ttf") format("truetype"),
    url("../../fonts/Akkurat-Mono.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova-Light";
  src: url("../../fonts/ProximaNova-Light.ttf") format("truetype"),
    url("../../fonts/ProximaNova-Light.woff") format("woff"),
    url("../../fonts/ProximaNova-Light.woff2") format("woff2");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova-Regular";
  src: url("../../fonts/ProximaNova-Regular.ttf") format("truetype"),
    url("../../fonts/ProximaNova-Regular.woff") format("woff"),
    url("../../fonts/ProximaNova-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova-Bold";
  src: url("../../fonts/ProximaNova-Bold.ttf") format("truetype"),
    url("../../fonts/ProximaNova-Bold.woff") format("woff"),
    url("../../fonts/ProximaNova-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}