footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1rem;
  border-top: 6px solid $bright-orange;
  background-color: $body-gray;
  font-size: 0.9rem;

  .logo-wrapper {
    display: flex;
    align-items: baseline;

    .sunet-logo {
      width: 40px;
      height: 50px;
      margin-right: 8px;
      background-image: url("../../../img/sunet_logo.svg");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

footer nav ul {
  display: flex;
  align-items: baseline;
  margin: 0;
  padding: 0;
}

footer nav .help-link {
  padding: 0;
  margin-right: 1rem;
}

footer nav .lang-selected {
  margin: 0;
  cursor: pointer;
  color: $txt-orange;
  font-size: 0.9rem;
}

#language-selector {
  display: flex;
}

.non-selected {
  margin: 0;
  display: none;
}

@media (max-width: $bp-xs) {
  footer {
    align-items: flex-end;

    nav ul {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .help-link {
        margin-right: 0;
      }
    }
  }
}
