/* Form */

// top margin here assumes that text above has bottom margin of 1rem
form {
  display: flex;
  flex-direction: column;
  margin-top: 1.25rem;
}

.element-pair,
.button-pair {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.element-pair {
  margin-top: 1rem;
  align-items: unset;
}

#reset-password-email-form {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.transparent-input-error {
  background-color: transparent;
  color: transparent;
}

.form-control:disabled,
.form-control[readonly] {
  border-bottom: none;
  color: gray;
}

@media (max-width: $bp-sm) {
  #reset-password-email-form {
    flex-direction: column;
    align-items: unset;

    button {
      width: 100%;
      margin-top: 1rem;
    }
  }
}
