// styling for Groups section
article {
  display: flex;
  flex-direction: column;
  .heading {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    button {
      background-color: transparent;
      box-shadow: 0 0 0;
      text-decoration: underline;
      margin: 0;
      height: 100%;
    }
  }
}

// styling for Wizard
.wizard {
  background-color: $white;
  padding: 1rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  p {
    margin-top: 1rem;
  }
  .title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    p {
      font-weight: 700;
      padding-bottom: 0;
      margin-top: 0;
    }
    button {
      background-color: transparent;
      color: $close;
      height: 1rem;
      box-shadow: 0 0 0;
      text-decoration: none;
      margin: 0;
      padding: 0;
    }
  }
  .group-name {
    form {
      margin-top: 0;
    }
    label {
      font-size: 16px;
      letter-spacing: 0;
    }
    input {
      background-color: $light-gray;
    }
  }
  button {
    margin: 1rem auto 0;
    width: max-content;
  }
}

// styling for EditView
.data-panel {
  background-color: transparent;
  .edit-data {
    background-color: $white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    .title {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      p {
        font-family: "ProximaNova-Bold";
      }
      button {
        background-color: transparent;
        box-shadow: 0 0 0;
        text-decoration: underline;
        border-radius: 0;
        font-weight: 400;
        margin: 0;
        padding: 0;
        height: 1rem;
      }
    }
    nav {
      display: flex;
      font-family: "Akkurat";
      margin-bottom: 1rem;
      li {
        margin-right: 1rem;
        margin-bottom: 0.25rem;
        p {
          font-size: 1rem;
          color: $black;
          padding: 0;
          line-height: 1;
          border-bottom: $black solid 1px;
          cursor: pointer;
          &.active {
            color: $orange-highlight;
            border-bottom: transparent solid 1px;
          }
        }
      }
    }
  }
}

.group-data {
  margin: 1rem 0;
}

// styles common for all listed data (both edit and view)
.list-data {
  background-color: transparent;
  margin-top: 0.5rem;
  ul {
    margin: 0;
  }
  li {
    padding: 0 0.375rem;
    display: flex;
    flex-direction: column;
    p {
      padding: 0 0 0 0.75rem;
      font-size: 1.5rem;
      font-family: "ProximaNova-Light";
    }
  }
}

// styles specific for data being viewed (needs to be changed into generic styling)
.view-data {
  background-color: transparent;
  margin-top: 1rem;
  ul {
    margin: 0 0 1rem 0;
  }
  li {
    border-top: solid $white 2px;
    padding: 0 0.375rem;
    display: flex;
    flex-direction: column;
    &:last-child {
      border-bottom: solid $white 2px;
    }
    button {
      background-color: transparent;
      box-shadow: 0 0 0;
      text-decoration: underline;
      border-radius: 0;
      font-weight: 400;
      margin: 0;
      padding: 0;
      height: 1rem;
    }
    .title {
      justify-content: unset;
      height: 3rem;
      .element-pair {
        display: flex;
        align-items: center;
      }
      p {
        padding: 0 0 0 0.75rem;
        font-size: 1.5rem;
        font-family: "ProximaNova-Light";
      }
      button {
        background-color: transparent;
        box-shadow: 0 0 0;
        text-decoration: underline;
        border-radius: 0;
        font-weight: 400;
        margin: 0;
        padding: 0;
        height: 1rem;
        &.dropdown-closed {
          color: $black;
          text-decoration: none;
          transform: rotate(180deg);
          transform-origin: center center;
          font-family: "ProximaNova-Bold";
        }
        &.dropdown-open {
          color: $black;
          transform: rotate(0deg);
          text-decoration: none;
          transform-origin: center center;
          font-family: "ProximaNova-Bold";
        }
      }
    }
  }
}

// styles specific for data being edited
.edit-data {
  li {
    padding: 0;
  }
  .list-grid {
    .list-cell {
      p {
        padding: 0;
        font-family: "ProximaNova-Regular";
      }
    }
  }
}

.open-group {
  margin: 0 0 0 1rem;
  label {
    padding: 0 0 0.625rem 0.375rem;
  }
}

.list-grid {
  display: grid;
  &#four-columns {
    grid-template-columns:
      1fr calc(0.5rem + 48px + 0.5rem) calc(0.5rem + 68px + 0.5rem)
      3rem;
  }
  &#three-columns {
    grid-template-columns: 1fr calc(0.5rem + 48px + 0.5rem) calc(
        0.5rem + 68px + 0.5rem
      );
  }
  .hide-overflow {
    white-space: nowrap;
    overflow: hidden;
  }
  form {
    flex-direction: row;
    margin-top: 0;
  }
  .list-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    &:first-child {
      justify-content: flex-start;
    }
  }
}

.create-invite,
.list-cell {
  label {
    font-size: 1rem;
    letter-spacing: 0;
    font-weight: unset;
    margin-left: 0;
  }
}

.edit-data {
  h3 {
    font-size: 1.25rem;
    line-height: 1.5;
    margin: 0;
    font-family: "ProximaNova-Bold";
  }
  .invites .title {
    p {
      padding: 0;
    }
  }
  .settings-button {
    width: fit-content;
    align-self: center;
    margin-bottom: 1rem;
  }
  .delete-group,
  .edit-invite {
    display: flex;
    flex-direction: column;
  }
}

.create-invite {
  .input-label-helptext-container {
    margin-bottom: 0.75rem;
    .help-block {
      padding-bottom: 0;
      line-height: 1;
    }
    label {
      padding: 0;
    }
  }
  .small.form-text,
  small.form-text {
    line-height: 1;
  }
  #emailsview-form,
  #create-invite-form {
    margin-top: 0;
  }
  #emails-form {
    input {
      background: $light-gray;
      margin-bottom: 0.25rem;
    }
  }
  // structure for checkboxes in create invite 
  .invite-role {
    margin-top: 0.75rem;
    .checkbox-wrapper {
      display: flex;
      flex-direction: column;
      .checkbox-label {
        display: flex;
        align-items: baseline;
      }
      p {
        padding: 0;
        margin-bottom: 0.5rem;
      }
    }
  }
  .settings-button {
    width: fit-content;
    align-self: center;
    margin-bottom: 1rem;
  }
}

// position of checkboxes in edit invite 
#edit-invite-form {
  display: contents;
  .list-cell {
    &:first-child {
      justify-content: center;
    }
  }
}

 // styling for all checkboxes related to invites 
.invites {
  .checkbox-label {
    label {
      margin-right: 0.5rem;
      min-height: 1rem;
      min-width: 1rem;
      border: solid 2px $orange-highlight;
      &.disabled {
        border: solid 2px $close;
      }
      &.checked {
        background: $orange-highlight;
        &.disabled {
          background: $close;
        }
      }
    }
  }
  input[type="checkbox"] {
    display: none;
  }
}

.transparent {
  opacity: 0;
}