@import "./variables.scss";

header {
  background-color: $white;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;

  .eduid-logo {
    width: 140px;
    height: 40px;
    background-image: url(../../../img/ds-eduID-logo-black320x120px.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0;

    @media (max-width: $bp-xs) {
      width: 105px;
      height: 36px;
    }
  }

  .tagline {
    font-family: "ProximaNova-light";
    font-size: 0.9rem;

    @media (min-width: $bp-lg) {
      font-size: 1.25;
      width: 100vw;
      left: 0;
      position: absolute;
    }
    @media (max-width: $bp-lg) {
      > .horizontal-content-margin {
        width: auto;
      }
    }
  }

  button {
    order: 3;
  }

  @media (max-width: $bp-sm) {
    display: block;

    button {
      float: right;
    }
  }
}
