@import "./variables.scss";

header {
  background-color: $white;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;

  .eduid-logo {
    width: 140px;
    height: 40px;
    background-image: url(../../../img/ds-eduID-logo-black320x120px.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0;

    @media (max-width: $bp-xs) {
      width: 105px;
      height: 36px;
    }
  }

  .tagline {
    font-size: 1rem;
    text-align: right;
    width: 100%;

    @media (min-width: $bp-sm) {
      padding-right: 1rem;
    }
  }

  button {
    order: 3;
  }

  @media (max-width: $bp-sm) {
    display: block;

    button {
      float: right;
    }
  }
}
