img {
  width: 100%;
}

/* TODO - reuse btn-close instead of these svg icons: remove (Orcid, TableList) and close (CreateGroup, Notifications) */
svg {
  &.remove,
  &.close {
    transform-origin: center;
    transform: rotate(45deg);
    margin: 0;
    padding: 0;

    &.remove,
    &.remove:hover {
      fill: #ff500d;
    }
    &.close {
      fill: #808080;
      &:hover {
        fill: $dark-gray;
      }
    }
  }
}

.close {
  opacity: 1;
}
