img {
  width: 100%;
}

/* styles for remove svg icon */
svg {
  transform-origin: center;
  transform: rotate(45deg);
  margin: 0;
  padding: 0;
}

svg.remove {
  fill: #ff500d;
}
svg.remove:hover {
  fill: #ff500d;
}

svg.close {
  fill: #808080;
}
.close {
  opacity: 1;
}

svg.close:hover {
  fill: #7c7c7c;
}
