@import "variables";

.form-control {
  display: flex;

  &:focus {
    color: $txt-black;
    background-color: $white;
    border-color: $txt-gray;
    box-shadow: 0 0 0 0.2rem $border-gray;
    outline: 0;
  }
}

.radio-input-container label:hover {
  cursor: pointer;
}

input[type="radio"] {
  /* remove standard background appearance */
  appearance: none;

  /* create custom radio button appearance */
  display: inline-block;
  width: 1rem;
  height: 1rem;
  align-self: center;

  /* background-color only for content */
  background-clip: content-box;
  box-shadow: 0 5px 17px rgb(89 89 89 / 7%);
  border: 2px solid $bright-orange;
  background-color: transparent;
  border-radius: 50%;

  /* to prevent overwrite from input padding, this ensures that the radio button remains round */
  padding: 0;

  &:hover {
    background-color: $bright-orange;
    cursor: pointer;
    border: none;
  }
}

/* appearance for checked radiobutton */
input[type="radio"]:checked {
  // background-color: #28a745;
  background-color: $bright-orange;
  border: none;
}

input[type="radio"]:checked.error {
  background: $error-red;
  color: $white;
  border: none;
}

/* optional styles for centering radio buttons */
.radio-input-container {
  display: flex;
  height: 3rem;

  span {
    font-size: 1.5rem;
    align-self: center;
    color: $txt-black;
    font-family: $proxima-regular;
    font-weight: normal;
    text-transform: capitalize;
    margin: 0 2rem 0 0;
    text-align: center;
    margin-left: 8px;
  }
}

.input-container {
  margin-bottom: 1.125rem;
  margin-right: 0.5rem;
  flex: 1;
}

.form-control::placeholder,
input::placeholder {
  font-family: $proxima-regular;
  font-size: 1.5rem;
}

.form-control:focus,
input:focus {
  outline: 0;
  border-bottom: solid 2px $txt-black;
  box-shadow: 0 0 0 0.2rem $border-gray;
}

.form-control.is-valid {
  background-image: none;

  &:focus {
    box-shadow: 0 0 0 0.2rem $border-gray;
  }
}

/* invalid form input */
// .form-control.is-invalid {
//   border: none;
//   border-bottom: 2px solid $bright-orange;
//   background-image: none;
//   padding-right: 8px;

//   &:focus {
//     box-shadow: 0 0 0 0.2rem $border-gray;
//   }
// }

/* error message */
.input-error {
  color: $bright-orange;
  font-weight: 700;
  letter-spacing: 0.025rem;
}

.input-label-help-text-container {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;

  & label {
    letter-spacing: 0;
    font-size: 1rem;
  }

  & .help-block {
    font-size: 1rem;
    text-transform: lowercase;
  }
}

/* for orange asterisk after label */
.label-required {
  color: $bright-orange;
}

.input-validate-error {
  font-size: $txt-sm;
  color: $error-red;

  fieldset & {
    position: absolute;
  }
}

// login username-pw / reset-password set-new-password
.password-input {
  display: flex;
  position: relative;

  input[name="current-password"].is-valid {
    background-image: none;
  }
}

#copy-new-password {
  border-bottom: none;
  background-color: $border-gray;
}

// Switch toggle
.toggle {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;

  > span {
    flex: 1;
  }
}

.toggle-switch {
  display: inline-block;
  background: $border-gray;
  border-radius: 16px;
  width: 54px;
  height: 28px;
  position: relative;
  vertical-align: middle;
  transition: all 0.25s;

  &::before,
  &::after {
    content: "";
  }

  &::before {
    display: block;
    background: $white;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 3px;
    left: 3px;
    transition: left 0.25s;
  }

  &:hover {
    background: $bright-orange;
  }

  .toggle:hover &::before {
    transform: scale(0.9);
  }

  .toggle-checkbox:checked + & {
    background: $bright-orange;

    &::before {
      left: 29px;
    }
  }
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
  width: auto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
}

input.display-none {
  display: none;
}

@media (max-width: $bp-sm) {
  .form-control,
  input,
  .radio-input-container span {
    font-size: 1rem;
  }

  .input-container {
    margin: 0;
  }

  .form-control::placeholder,
  input::placeholder {
    font-size: 1rem;
  }
}

input:-webkit-autofill {
  background-color: transparent !important;
  box-shadow: 0 0 0 50px $white inset;
}
