label {
  font-size: 12px;
  text-transform: uppercase;
  font-family: "ProximaNova-Bold";
  letter-spacing: 0.5px;
  line-height: 1;
  font-weight: 700;
  color: #161616;
  padding: 0 0 0 2px;
  margin: 0;
}