label {
  display: flex;
  font-size: 1rem;
  font-family: "ProximaNova-bold";
  letter-spacing: 0.5px;
  line-height: 1;
  color: $black;
  padding: 0 0 0.1875rem 0.125rem;
  margin-bottom: 0 5px 3px 0;
}
