label {
  display: flex;
  font-size: 0.75rem;
  font-family: "ProximaNova-Bold";
  line-height: 1;
  font-weight: 700;
  color: #161616;
  padding: 0 0 0.1875rem 0.125rem;
  margin: 0;
  margin-right: 5px;
}
