@import "variables";

a {
  color: $orange-highlight;
  font-family: $Akkurat;
  text-decoration: none;
  transition: all 0.2s ease;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    color: $orange-highlight;
  }

  // hiding opt in beta link
  &#stable-link.hidden {
    display: none;
  }
}
