@import "variables";

a,
.text-link {
  color: $bright-orange;
  font-family: $akkurat;
  text-decoration: none;
  transition: all 0.2s ease;
  cursor: pointer;
  border-bottom: none;

  &:hover {
    color: $bright-orange;
    border-bottom: none;
    text-decoration: underline;
  }

  // hiding opt in beta link
  &#stable-link.hidden {
    display: none;
  }
}

a .disabled {
  color: $dark-gray;
  text-decoration: none;

  &:hover {
    cursor: not-allowed;
  }
}
