@import "./variables.scss";

// for all login pages
.username-pw,
.tou,
.mfa {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5rem;

  .heading {
    line-height: $line-height;
  }

  // button.btn {
  //   width: fit-content;
  // }
}

// username and password
.username-pw {
  form {
    margin-top: 0;

    .form-group {
      margin-bottom: $margin;
    }

    button {
      margin: 0.25rem 0 #{1 * $margin};
    }

    .welcome-back-container {
      padding: 1rem 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width: $bp-sm) {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }

  .secondary-link {
    align-self: center;

    a:hover {
      text-decoration: underline;
    }
  }
}

a {
  margin: 0.25rem 0;
  display: inline-block;

  &:hover {
    text-decoration: underline;
  }

  //  @media (max-width: $bp-sm) {
  //    margin: 1rem 0;
  //  }
}

a .disabled {
  color: $gray;
  text-decoration: none;

  &:hover {
    cursor: not-allowed;
  }
}

// terms of use
.tou {
  .tou-text {
    margin-top: $margin;
    margin-bottom: $margin;

    p {
      line-height: $line-height;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    ul {
      margin-bottom: #{1rem * $line-height};
      list-style-type: disc;

      li {
        font-size: 1.25rem;
        margin: 0;
        margin-left: 1.5em;
      }
    }
  }

  button {
    align-self: center;
  }
}

// multi-factor authentication
.mfa {
  .options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: #{2 * $margin};

    .primary {
      margin: 0 #{3 * $margin} #{3.5 * $margin} 0;

      .bottom {
        align-items: flex-end;
      }

      .selected .heading {
        margin-bottom: 0;
      }

      img {
        max-width: 178px;
      }

      // duplicate in _buttons.scss
      .icon {
        background: transparent;
        padding: 0;
        margin: 0;
        height: auto;
        border: none;

        svg {
          color: $black;
          height: 1rem;
          width: 1rem;
          transform: rotate(0);
        }
      }

      .help-link {
        max-width: 350px;
        margin-top: 0.5rem;
        font-size: 1rem;
        margin-left: 0.25rem;
        padding-bottom: 0;
      }
    }

    .option {
      border-radius: 20px;
      background: $white;
      box-shadow: 0 4px 14px rgb(89 89 89 / 7%);
      padding: 1rem;
      width: 350px;
      height: 168px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

.login-service-info {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

// styles to counteract bootstrap button styles (.mfa)
// .option {
//   button,
//   button:active,
//   button:focus,
//   button:active:focus {
//     margin-top: 2.75rem;
//     margin-bottom: 0;
//   }
// }

.mfa .secondary .option {
  // button,
  // button:active,
  // button:focus,
  // button:active:focus {
  //   color: $orange-highlight;
  //   border: none;
  //   border: solid 2px $orange-highlight;
  //   background-color: $white;
  //   text-transform: uppercase;
  //   margin-top: 2.75rem;
  //   margin-bottom: 0;

  .verbatim {
    text-transform: none;
  }

  // }
}

// iPhone 6/7/8+ and smaller
@media (max-width: $bp-xs) {
  .username-pw,
  .tou,
  .mfa {
    button.btn {
      width: 100%;
      font-size: 1rem;
    }
  }

  .tou .tou-text {
    margin-top: #{2 * $margin};
  }
}

// breakpoint at .option width + 2 * margin (.mfa)
@media (max-width: 382px) {
  .mfa .options {
    .primary {
      margin-right: 0;
    }

    .primary,
    .secondary {
      flex: 1;

      .option {
        width: unset;
      }
    }
  }
}

// TODO: make .button-pair and .buttons same
.username-pw {
  .button-pair {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0.5rem 0;
    width: 100%;

    button {
      svg {
        transform: rotate(0);
        margin-right: 8px;
      }
    }

    @media (min-width: $bp-xs) {
      flex-direction: row;
      width: auto;

      button {
        // min-width: 100px;

        &:nth-child(n + 2) {
          margin-left: 1rem;
        }
      }
    }
  }

  .flex-between {
    flex-direction: row;
    text-align: right;

    @media (max-width: $bp-md) {
      flex-direction: column;
      text-align: center;
    }
  }
}

.use-another-device {
  .buttons {
    display: flex;
    column-gap: 1rem;
    padding-top: 1rem;

    button {
      min-width: 100px;
    }

    button[type="submit"] {
      order: 2;
    }

    @media (max-width: $bp-md) {
      justify-content: center;
    }

    @media (max-width: $bp-xs) {
      flex-direction: column-reverse;

      button:nth-child(n + 1) {
        margin-bottom: 0.5rem;
      }

      button:nth-child(n + 2) {
        margin-bottom: 1.5rem;
      }
    }
  }

  .response-code-inputs {
    input {
      display: inline-block;
      border: 1px solid $gray;
      font-size: 1.75rem;
      margin: 5px;
      width: 2.5rem;
      text-align: center;

      &:focus {
        box-shadow: none;
        border: 2px solid $black;
        position: relative;
      }

      &:nth-child(3) {
        margin-right: 1.5rem;
      }
    }

    @media (max-width: $bp-md) {
      input {
        margin: 5px -1px 5px 0;

        &:nth-child(3) {
          margin-right: 1rem;
        }
      }
    }
  }

  &.device1 .response-code-inputs {
    @extend .figure;
  }

  &.device2 .response-code-inputs {
    input {
      border: none;
      width: 1.75rem;
      padding: 0;

      &:nth-child(3) {
        margin-right: 1rem;
      }
    }
  }

  .expiration-info {
    position: relative;

    @extend .x-adjust;
  }

  .expires-meter {
    @media (min-width: $bp-md) {
      position: absolute;
      bottom: 1rem;
      right: 0;
    }
  }

  form.response-code-form {
    margin-top: 0;
  }

  .finished.device2 {
    $warning_size: 1.5rem;

    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    .response-code-form {
      align-items: center;
    }
  }

  .listed-steps {
    margin-top: 2em;

    figure {
      img.qr-code {
        width: 200px;
      }
    }

    @media (max-width: $bp-sm) {
      .x-adjust {
        margin-left: #{-1 * $list-indent};
      }
    }
  }

  .developer {
    // show QR URL at the bottom for non-production environments
    height: 10rem;
    font-size: 0.8rem;
    overflow: hidden;
    word-break: break-all;
  }
}
