@import "./variables.scss";

// for all login pages
.username-pw,
.tou {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5rem;
}

// username and password
.username-pw {
  form {
    margin-top: 0;

    .form-group {
      margin-bottom: $margin;
    }

    .welcome-back-container {
      margin: 0 0 1rem;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      @media (max-width: $bp-sm) {
        flex-direction: column;
        align-items: flex-start;

        h3 {
          margin-bottom: 0.5em;
        }
      }
    }
  }

  .secondary-link {
    align-self: center;

    a:hover {
      text-decoration: underline;
    }
  }
}

a {
  margin: 0.25rem 0;
  display: inline-block;

  &:hover {
    text-decoration: underline;
  }
}

a .disabled {
  color: $gray;
  text-decoration: none;

  &:hover {
    cursor: not-allowed;
  }
}

// TODO align with modal dl.terms
.tou {
  .tou-text {
    margin-top: $margin;
    margin-bottom: $margin;

    p {
      line-height: $line-height;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    ul {
      margin-bottom: #{1rem * $line-height};
      list-style-type: disc;

      li {
        font-size: 1.25rem;
        margin: 0;
        margin-left: 1.5em;
      }
    }
  }

  button {
    align-self: center;
  }
}

// multi-factor authentication
.mfa {
  .options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: #{2 * $margin};

    .bottom {
      align-items: flex-end;
    }

    // .selected .heading {
    //   margin-bottom: 0;
    // }

    img {
      max-width: 178px;
    }

    // duplicate in _buttons.scss
    .icon {
      background: transparent;
      padding: 0;
      margin: 0;
      height: auto;
      border: none;

      svg {
        color: $black;
        height: 1rem;
        width: 1rem;
      }
    }

    .help-link {
      max-width: 350px;
      margin-top: 0.5rem;
      font-size: 1rem;
      margin-left: 0.25rem;
      padding-bottom: 0;
    }

    .option {
      border-radius: 20px;
      background: $white;
      box-shadow: 0 4px 14px rgb(89 89 89 / 7%);
      padding: 1rem;
      margin-bottom: 2rem;
      height: 168px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h4,
      .help-text {
        margin: 0;
      }
    }
  }
}

.mfa .option {
  .verbatim {
    text-transform: none;
  }
}

// iPhone 6/7/8+ and smaller
@media (max-width: $bp-xs) {
  .tou .tou-text {
    margin-top: #{2 * $margin};
  }
}

.username-pw {
  .flex-between {
    flex-direction: row;
    text-align: right;

    @media (max-width: $bp-xl) {
      flex-direction: column;
      text-align: center;
    }
  }
}

.use-another-device {
  .response-code-inputs {
    input {
      display: inline-block;
      border: 1px solid $gray;
      font-size: 1.75rem;
      margin: 5px;
      width: 2.5rem;
      text-align: center;

      &:focus {
        box-shadow: none;
        border: 2px solid $black;
        position: relative;
      }

      &:nth-child(3) {
        margin-right: 1.5rem;
      }
    }

    @media (max-width: $bp-md) {
      input {
        margin: 5px -1px 5px 0;

        &:nth-child(3) {
          margin-right: 1rem;
        }
      }
    }
  }

  &.device1 {
    .response-code-inputs {
      @extend .figure;
      margin-bottom: 0;
    }

    .input-validate-error {
      margin-top: 0.5rem;
      display: inline-block;
    }

    .buttons {
      margin-top: 1rem;
    }
  }

  &.device2 .response-code-inputs {
    input {
      border: none;
      width: 1.75rem;
      padding: 0;

      &:nth-child(3) {
        margin-right: 1rem;
      }
    }
  }

  .expiration-info {
    position: relative;

    @extend .x-adjust;
  }

  .expires-meter {
    margin-top: 1.5rem;

    @media (min-width: $bp-md) {
      position: absolute;
      bottom: 0.5rem;
      right: 0;
    }
  }

  form.response-code-form {
    margin-top: 0;
  }

  .finished.device2 {
    $warning_size: 1.5rem;

    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    .response-code-form {
      align-items: center;
    }
  }

  .listed-steps {
    figure {
      img.qr-code {
        width: 200px;
      }
    }

    @media (max-width: $bp-sm) {
      .x-adjust {
        margin-left: #{-1 * $list-indent};
      }
    }
  }

  .developer {
    // show QR URL at the bottom for non-production environments
    height: 10rem;
    font-size: 0.8rem;
    overflow: hidden;
    word-break: break-all;
  }
}
