/* Modals
-------------------------------------------------- */

.modal {
  display: flex !important;
  justify-content: center;
  width: 60%;
  margin: 0 20%;
  padding: 1rem 0;

  &-dialog {
    background-color: $white;
    border-radius: 20px;
    width: 100%;
    margin: auto;

    .modal-content {
      background-color: $white;
      border-radius: 20px;

      .modal-header {
        border-bottom: none;
        padding: 1.25rem 2.25rem 0.25rem;

        .modal-title {
          width: 100%;
          display: flex;
          align-items: center;
          text-transform: none;
          @extend .heading-2;
        }
      }

      .modal-body {
        padding: 0 2.25rem 1rem;
        display: flex;
        flex-direction: column;
        font-size: 1.25rem;
        line-height: 1.4;

        input {
          background-color: $light-gray;
        }

        form {
          margin-top: 0;
        }

        // move to lists?
        ol {
          list-style-position: inside;
          list-style-type: decimal;

          li {
            margin-bottom: 1.125rem;

            span {
              margin-top: 0.5rem;
              font-family: $proxima-bold;
              display: block;
              font-size: 1rem;
            }
          }
        }

        // .resend-code-container {
        //   margin-top: 1rem;

        //   a {
        //     font-size: 1rem;
        //   }
        // }

        @media (max-width: $bp-lg) {
          font-size: 1.125rem;

          .form-control,
          input {
            font-size: inherit;

            &::placeholder {
              font-size: inherit;
            }
          }

          // .resend-code-container {
          //   margin-top: 1rem;
          //   font-size: 0.9rem;
          // }
        }
      }

      .modal-footer {
        border-top: none;
        margin: 1rem 1rem 2rem;
        padding-top: 0;
        padding-bottom: 0;
        display: flex;
        justify-content: center;

        button {
          margin: 0;
        }
      }
    }

    @media (min-width: 576px) {
      max-width: 100%;
    }

    @media (max-width: $bp-lg) {
      width: calc(100% - 1.25rem);
      margin: auto 1rem;

      .modal-body {
        font-size: 1.125rem;

        .form-control,
        input {
          font-size: inherit;

          &::placeholder {
            font-size: inherit;
          }
        }

        // .resend-code-container {
        //   margin-top: 1rem;
        //   font-size: 0.9rem;
        // }
      }
    }

    @media (max-width: $bp-md) {
      max-width: calc(100% - 40px);
    }
  }

  @media (max-width: $bp-lg) {
    width: 100%;
    margin: 0;
  }
}
