//--- STEP 1. ADD NIN STYLES ---//

#verify-identity-container {
  // background: yellow;
  & .profile-card {
    margin-bottom: 30px;
    border: red solid 2px;
  }
  & label {
    margin: 0 0 10px 0;
    font-size: 1.25rem;
    font-family: "ProximaNova-Regular";
    text-transform: none;
    line-height: 1.2;
    border: black solid 2px;
  }
}

h3.verify-identity-header {
  margin-top: 0px;
  width: 100%;
}

/*--- styles for nin form ---*/

#nin-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  & button {
    margin-top: 0;
  }
}

#nin input {
  background-color: #ffffff;
  font-family: "ProximaNova-Regular";
  border: none;
  color: #161616;
  font-size: 2.25rem;
  border-bottom: solid #333 3px;
  &::placeholder {
    font-size: 2.25rem;
  }
}

/*--- styles for nin form ---*/
