#connect-nin-number-container {
  margin-top: 30px;

  &:empty {
    display: none;
  }
}

/* --- styles for vetting buttons --- */
#nins-btn-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 1rem;
  margin-top: 1rem;
  @media (max-width: $bp-xs) {
    grid-template-columns: 100%;
  }
}

.vetting-button {
  & .text {
    font-size: 12px;
    font-family: $akkurat;
    line-height: 1.2;
    text-transform: uppercase;
    align-self: flex-start;
    text-align: left;

    & .description {
      margin: 0.5rem 0;

      span {
        display: block;
      }
    }

    & .explanation-link {
      margin: 0.5rem 0;

      & a span {
        color: $txt-black;
        border-bottom: $txt-black solid 1px;
      }

      & a span:hover {
        color: $bright-orange;
        border-bottom: transparent solid 1px;
      }
    }
  }

  & .name {
    align-self: flex-end;
    font-size: 1.125rem;
    line-height: 1;
    letter-spacing: 0;
    text-transform: uppercase;
    margin-top: 1rem;
  }

  & button {
    margin-left: 0;
    margin-bottom: 0.5rem;
    font-family: ProximaNova-Bold;
    line-height: 1;
    color: $txt-black;
    border: solid $txt-black 2px;
    background-color: $white;
    padding: 1rem 1.5rem;
    border-radius: 20px;
    width: 100%;
    min-height: 250px;
    height: fit-content;
    box-shadow: 0 5px 17px rgb(89 89 89 / 7%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    cursor: pointer;

    &:hover {
      transform: scale(0.99);
      border: solid $bright-orange 2px;
      color: $bright-orange;
      transition: all 0.3s ease;
    }

    @media (max-width: $bp-xs) {
      min-height: 150px;
    }
  }
}

.vetting-button {
  & button:disabled {
    background-color: $body-gray;
    border-color: $txt-gray;

    & .text {
      color: $txt-gray;

      & .description {
        color: $txt-black;
      }

      & .explanation-link {
        color: $txt-black;
      }
    }

    & .name {
      color: $txt-gray;
    }

    &:hover {
      transform: unset;
    }
  }
}

// .proofing-btn-help {
//   margin: 0 0.5rem 2rem;
//   line-height: 1.2;
//   color: $txt-black;
//   font-size: 0.875rem;
// }

.proofing-btn-help.disabled {
  color: $txt-gray;
}

@media (max-width: $bp-md) {
  #connect-nin-number {
    margin-top: 3rem;

    & .btn.icon-button {
      padding: 0;
    }
  }

  // #nin-number {
  //   font-size: 2rem;
  //   line-height: 1.2;
  // }
}

@media (max-width: $bp-sm) {
  #nin {
    & input {
      font-size: 1rem;

      &::placeholder {
        font-size: 1rem;
      }
    }
  }

  #nin {
    margin-right: 0;
  }
}
