@import "./variables";

// Top notification bar
.notifications-area {
  width: 100%;
}

.alert.alert-dismissible {
  position: relative;
  margin: 0;
  padding: 1rem 0;
  border-radius: 0;

  &.alert-danger,
  &.alert-success {
    color: $error-red;
    background-color: $bg-orange;
    border: none;
  }

  span {
    padding-right: 0.5rem;

    @media (max-width: $bp-sm) {
      margin: 0;
    }
  }

  .close {
    position: absolute;
    height: 1.5rem;
    right: 1rem;
    top: 1rem;
    padding: 0;

    &:hover {
      color: $bright-orange;
    }

    @media (max-width: $bp-sm) {
      font-size: $txt-xs;
    }
  }

  @media (max-width: $bp-sm) {
    padding: 1rem;
  }
}

// On Dashboard menu
.notification-dot {
  width: 12px;
  height: 12px;
  position: relative;
  background-color: $bright-orange;
  border-radius: 50%;
  margin-top: -1rem;
}

// Speach-bubbletip

/* Wrapping */
.speech-bubbletip-wrapper {
  display: inline-block;
  position: relative;
}

/* Absolute positioning */
.speech-bubbletip {
  display: inline-block;
  position: absolute;
  border-radius: 4px;
  left: calc(50%);
  transform: translateX(-50%);
  padding: 6px;
  color: $white;
  background: $txt-black;
  font-size: 0.875rem;
  font-family: $inter-regular;
  line-height: 1;
  z-index: 10;
  white-space: nowrap;

  & b {
    font-weight: 700;
  }
}

/* CSS border triangles */
.speech-bubbletip::before {
  content: " ";
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-width: 6px;
  top: 100%;
  border-top-color: $txt-black;
}

/* Absolute positioning */
.speech-bubbletip {
  top: calc(50px * -1);
  left: calc(50% * -1);
}

.speech-bubbletip::before,
.speech-bubbletip.settings.en::before,
.speech-bubbletip.settings.sv::before {
  left: 52%;
}

@media (max-width: $bp-md) {
  .speech-bubbletip.settings.sv {
    left: -100px;
  }

  .speech-bubbletip.settings.sv::before {
    left: 74%;
  }
}

@media (max-width: 432px) {
  .speech-bubbletip.settings,
  .speech-bubbletip.identity {
    width: 270px;
    white-space: normal;
    top: -65px;
  }

  .speech-bubbletip.identity.short {
    top: -52px;
  }

  .speech-bubbletip.settings.en {
    left: -80px;
  }

  .speech-bubbletip.settings.sv {
    left: 5px;
  }

  .speech-bubbletip.identity {
    left: -56px;
  }

  .speech-bubbletip.identity::before {
    left: 70%;
  }

  .speech-bubbletip.settings.en::before {
    left: 80%;
  }

  .speech-bubbletip.settings.sv::before {
    left: 48%;
  }
}

@media (max-width: 384px) {
  .speech-bubbletip.settings.en {
    left: 55px;
  }

  .speech-bubbletip.settings.en::before {
    left: 30%;
  }
}
