ul.pagination {
  justify-content: center;
  margin-top: 20px;

  a.page-link {
    color: $txt-orange;
  }

  a.active.page-link {
    background-color: $btn-orange;
    border-color: $txt-orange;
    color: $white !important;
  }

  a.disabled.page-link {
    background-color: $txt-orange;
    opacity: 0.4;
    color: white;
    border-color: $txt-orange;
  }
}

@media (max-width: $bp-xs) {
  a.page-link {
    padding: 6px;
    font-size: 1rem;
  }
}
