.personal-data {
  .title {
    margin-bottom: 1rem;
  }

  @media (max-width: $bp-xs) {
    .button-pair {
      flex-direction: column;
    }
  }

  .name-inputs {
    .icon-text {
      display: flex;
      align-items: baseline;
      margin-bottom: 2rem;

      button.icon-only {
        &:hover,
        &:active,
        &:focus,
        &:active:focus {
          transform: rotate(180deg);
          padding: initial;
        }

        svg {
          color: $bright-orange;
        }
      }

      label.hint {
        font-family: inherit;
        line-height: 1.2;
        margin: 0 0 0 0.5rem;
        padding: 0;
      }
    }
  }

  .heading,
  .title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    .btn-link {
      height: 100%;
    }
    .btn-close {
      padding: 0;
      border-radius: 0;
    }
  }
  .edit-data {
    background-color: #fff;
    padding: 1rem;
  }
}

#add-personal-data {
  align-self: unset;
}

.personal-data-info {
  display: flex;
  flex-wrap: wrap;
}

#personaldata-view-form {
  margin-top: 0;

  @media (max-width: $bp-sm) {
    .radio-input-container span,
    .form-control,
    input {
      font-size: 1.5rem;

      &::placeholder {
        font-size: 1.5rem;
      }
    }
  }
}

// styles for input on white bg
.edit-data {
  .form-control,
  input {
    background-color: $body-gray;
  }

  .form-group {
    flex: 1;

    @media (max-width: $bp-sm) {
      margin-top: 1rem;
    }

    &:last-child {
      margin-left: 1rem;

      @media (max-width: $bp-sm) {
        margin-left: 0;
      }
    }
  }

  p.verified {
    padding-bottom: 0;
  }
}

// styles for displayed names
.external-names {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin-bottom: 0;
}

.external-names,
.personal-data-info {
  .profile-grid-cell {
    flex: 1;
    flex-basis: 13rem;
    justify-content: unset;
    margin: 0 1rem 1rem 0;
  }
}
