/** react-select style overrides, final-form element prefixed by "react-select" **/
form .react-select {
  &-container {
    padding-top: 2px;
  }

  &__control {
    border: 2px solid $light-silver;

    .react-select__indicator {
      color: $gray;
    }
  }
  &__control:hover {
    border: 2px solid $gray;
    box-shadow: none;
  }
  &__control--is-focused {
    box-shadow: none;
  }

  &__indicator-separator {
    width: 0;
  }

  &__placeholder {
    font-family: "ProximaNova-Regular";
    color: $chinese-black;
  }

  &__option--is-focused {
    background-color: $misty-rose;
  }
  &__option--is-selected {
    color: initial;
    background-color: darken($misty-rose, 5%);
  }
}
