@import "./variables.scss";

.instructions-container:empty {
  display: none;
}

.instructions-container {
  margin: 1rem 0;
}
// this spacing matches inputs (so that display of data and input of data match)

// top margin here assumes that text above has bottom margin of 1rem (same as inputs)
.data-display-container {
  margin-top: 1.25rem;
  margin-bottom: 1.875rem;
}

// this height has been added to match inputs
.data-display {
  height: 3rem;
  display: flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  // this is in here to stop displayed data form jumpting when transitioning from input to valid display
  border: none;
  border-right: solid 2px transparent;
  border-top: solid 2px transparent;
  border-bottom: solid 2px transparent;
}

.data-display-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.return-login-link {
  font-size: 1rem;
  display: flex;
  justify-content: flex-start;
  padding-left: 6px;

  a:hover {
    color: $orange-highlight;
    border-bottom: solid 1px $orange-highlight;
  }
  &.disabled {
    display: none;
  }
}

.reset-pass-header {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: "ProximaNova-Bold";
}

#reset-pass-display {
  white-space: pre-line;
  b {
    font-family: "ProximaNova-Bold";
  }
  a {
    font-size: 1rem;
    color: $orange-highlight;
    :hover {
      color: $orange-highlight;
      border-bottom: solid 1px $orange-highlight;
      cursor: pointer
    }
  }
    .enter-phone-code {
      padding-left: 6px;
    }
  }
  button#extra-security-key, 
  #extra-security-freja,
  #extra-security-phone {
    margin-bottom: 0.5rem;
  }
  p.decription-without-security{
    margin-top: 1.5rem;
  }

  div.key-animation {
    height: 150px;
    background-image: url(../../../img/computer_animation.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .text-center {
    margin-bottom: 2rem;
    div.card#mfa-try-another-way {
      width: 300px;
      margin: auto;
      margin-bottom: 2rem;
      .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1.25rem;
      }
    }
    button#extra-security-key,
    #extra-security-freja
    #extra-security-phone {
      margin-bottom: 0.5rem;
    }
  }

#reset-password-form {
  margin-top: 0;
  &.form-group {
    margin-bottom: 0;
  }
  & #reset-password-button {
    margin: 2rem 0 1rem 0;
    width: fit-content;
  }
}

#new-password-form {
  #display-none-new-password {
    display: none;
  }
  .new-password-button-container{
    display: flex;
    justify-content: space-between;
    & button.btn.btn-secondary{
      margin-top: 1rem;
      color: $orange-highlight;
      border: none;
      border: solid 2px $orange-highlight;
      text-transform: uppercase;
      background-color: $white;
      svg {
        transform: rotate(0deg);
        padding-right: 3px;
      }
    }
    & button.settings-button{
      margin-bottom: 1rem;
    }
  }

  .form-control[readonly] {
    background-color: $white;
  }
}

.timer {
  .display-none {
    display: none;
  }
  span#count-down-time-email, 
  span#count-down-time-phone {
    color: $gray;
  }
  span#timer-in{
    font-family: "Akkurat";
    color: $gray;
    font-size: 1rem;
  }
}

a#resend-email, 
a#resend-phone {
  pointer-events: none;
  color: $gray;
  padding-left: 6px;
  &.button-active {
    pointer-events: visible;
    color: $orange-highlight;
    cursor: pointer;
    span{
      &:hover {
        color: $orange-highlight;
        border-bottom: solid 1px $orange-highlight;
      }
    }
  }
}

#phone-code-form {
  display: flex;
  flex-direction: row;
  #phone {
    flex: 1;
  }
  #save-phone-button {
    margin: 1rem 0 0 1rem
  }
}

.timer {
  margin-top: 0.5rem;
  a {
    margin-right: 0.5rem;
  }
}

.copybutton{
  cursor: pointer;
  position: absolute;
  height: 1rem;
  background-color: $orange-opaque;
  top: 2rem;
  right: 1rem;
  box-shadow: none;
  svg {
    color: $black;
    transform: rotate(0deg);
  }
  #icon-check {
    display: none;
  }
  .tool-tip-text {
    visibility: hidden;
    width: 100px;
    background-color: $black;
    color: $white;
    font-size: 0.875rem;
    font-family: "ProximaNova-Regular", Arial, Helvetica, sans-serif;
    border-radius: 4px;
    padding: 6px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 2rem;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
 .tool-tip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 3.5rem;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: $black transparent transparent transparent;
  }
  
  &:hover .tool-tip-text {
    visibility: visible;
    opacity: 1;
  }
}

.button-tooltip-container {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  min-height: 30px;
}

.reset-password-input {
  position: relative;
  label {
    letter-spacing: 0;
    font-size: 1rem;
    margin-left: -2px;
  }
}

@media (max-width: 568px) {
  #reset-password-form, 
  #phone-code-form {
    flex-direction: column;
    align-items: unset;
    & #reset-password-button, 
      #save-phone-button {
      width: 100%;
      margin-left: 0;
    }
  }
}

@media (max-width: 414px) {
  #new-password-form .new-password-button-container {
    flex-direction: column-reverse;
    margin-top: 1rem;
    button#go-back-button{
      margin-top: 0.5rem;
      margin-left: 0px;
    }
  }
}