@import "./variables.scss";

.instructions-container:empty {
  display: none;
}

.instructions-container {
  margin: 1rem 0;
}
// this spacing matches inputs (so that display of data and input of data match)

// top margin here assumes that text above has bottom margin of 1rem (same as inputs)
.data-display-container {
  margin-top: 1.25rem;
  margin-bottom: 1.875rem;
}

// this height has been added to match inputs
.data-display {
  // display: flex;
  height: 3rem;
  display: flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  // this is in here to stop displayed data form jumpting when transitioning from input to valid display
  border: none;
  border-right: solid 2px transparent;
  border-top: solid 2px transparent;
  border-bottom: solid 2px transparent;
  // border: none;
  // background-color: white;
  // border-bottom: solid 2px #161616;
}

.data-display-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.return-login-link {
  font-size: 1rem;
  margin-top: 0.5rem;
  display: flex;
  justify-content: flex-start;

  a:hover {
    color: $orange-highlight;
    border-bottom: solid 1px $orange-highlight;
  }
}