@import "./variables.scss";

.instructions-container:empty {
  display: none;
}

.instructions-container {
  margin: 1rem 0;
}
// this spacing matches inputs (so that display of data and input of data match)

// top margin here assumes that text above has bottom margin of 1rem (same as inputs)
.data-display-container {
  margin-top: 1.25rem;
  margin-bottom: 1.875rem;
}

// this height has been added to match inputs
.data-display {
  // display: flex;
  height: 3rem;
  display: flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  // this is in here to stop displayed data form jumpting when transitioning from input to valid display
  border: none;
  border-right: solid 2px transparent;
  border-top: solid 2px transparent;
  border-bottom: solid 2px transparent;
  // border: none;
  // background-color: white;
  // border-bottom: solid 2px #161616;
}

.data-display-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.return-login-link {
  font-size: 1rem;
  margin-top: 0.5rem;
  display: flex;
  justify-content: flex-start;

  a:hover {
    color: $orange-highlight;
    border-bottom: solid 1px $orange-highlight;
  }
}

.reset-pass-header {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: "ProximaNova-Bold";
}

#reset-pass-display {
  white-space: pre-line;
  b {
    font-family: "ProximaNova-Bold";
  }
  a {
    font-size: 1rem;
    :hover {
      color: $orange-highlight;
      border-bottom: solid 1px $orange-highlight;
    }
  }
  button#extra-security {
    margin-bottom: 0.5rem;
  }
  p.decription-without-security{
    margin-top: 1.5rem;
  }
}

#reset-password-form {
  display: flex;
  flex-direction: row;
  margin-top: 0;
  &.form-group {
    margin-bottom: 0;
  }
  & #reset-password-button {
    margin: 1.6rem 0 0 1rem;
  }
}

#new-password-form {
  & button.settings-button{
    width: fit-content;
    margin-bottom: 1rem;
  }
}

.timer {
  display: flex;
  .display-none {
    display: none;
  }
    span#minute, span#second{
    color: $gray;
  }
}

#resend-link {
  pointer-events: none;
  color: $gray;
  &.button-active {
    pointer-events: visible;
    color: $orange-highlight;
    cursor: pointer;
    span{
      &:hover {
        color: $orange-highlight;
        border-bottom: solid 1px $orange-highlight;
      }
    }
  }
}

#phone-code-form {
  display: flex;
  flex-direction: row;
  #phone {
    flex: 1;
  }
  #save-phone-button {
    margin: 1rem 0 0 1rem
  }
}

.timer {
  margin-top: 0.5rem;
  a {
    margin-right: 0.5rem;
  }
}

@media (max-width: 568px) {
  #reset-password-form, 
  #phone-code-form {
    flex-direction: column;
    align-items: unset;
    & #reset-password-button, 
      #save-phone-button {
      width: 100%;
      margin-left: 0;
    }
  }
}