@import "./variables";

/* Move data-display code below to other file, e.g. Dashboard? */

// top margin here assumes that text above has bottom margin of 1rem (same as inputs)
.data-display-container {
  margin-top: 1.25rem;
  margin-bottom: 1.875rem;
}

// this height has been added to match inputs
.data-display {
  height: 3rem;
  display: flex;
  align-items: center;
  padding: 0.25rem 0.5rem;

  // this is in here to stop displayed data from jumping when transitioning from input to valid display
  border: none;
  border-right: solid 2px transparent;
  border-top: solid 2px transparent;
  border-bottom: solid 2px transparent;
}

#reset-pass-display {
  white-space: pre-line;

  .expires-meter {
    align-self: center;
  }
}

.description-without-security {
  margin-top: 1.5rem;
}

div.key-animation {
  height: 150px;
  background-image: url(../../../img/computer_animation.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#reset-password-form {
  margin-top: 0;

  &.form-group {
    margin-bottom: 0;
  }
}

#new-password-form {
  #display-none-new-password {
    display: none;
  }

  .form-control[readonly] {
    background-color: $white;
  }
}

.timer {
  margin-top: 0.5rem;

  a {
    margin-right: 0.5rem;
  }

  .display-none {
    display: none;
  }

  // Replace with expires-meter as in resend email?
  span#count-down-time-phone {
    color: $txt-gray;
    padding-left: 8px;
  }

  span#timer-in {
    font-family: $akkurat;
    color: $txt-gray;
    font-size: 1rem;
  }
}

a#resend-phone:not(.button-active) {
  pointer-events: none;
  color: $txt-gray;
}

// Replace with single-input-form when accordion merged?
#phone-code-form {
  display: flex;
  flex-direction: row;

  #phone {
    flex: 1;
  }

  #save-phone-button {
    margin: 1rem 0 0 1rem;
  }
}

.copybutton {
  position: absolute;
  right: 1rem;
  width: auto !important;

  svg {
    color: $txt-black;
  }

  #icon-check {
    display: none;
  }

  // Make same as speech-bubbletip from Dashboard?
  .tool-tip-text {
    visibility: hidden;
    width: 100px;
    background-color: $txt-black;
    color: $white;
    font-size: 0.875rem;
    font-family: $inter-regular;
    border-radius: 4px;
    padding: 6px;
    position: absolute;
    z-index: 5;
    bottom: 85%;
    left: 1rem;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
    text-transform: capitalize;
  }

  .tool-tip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 2.6rem;
    margin-left: 20px;
    border-width: 5px;
    border-style: solid;
    border-color: $txt-black transparent transparent transparent;
  }

  &:hover .tool-tip-text {
    visibility: visible;
    opacity: 1;
  }
}

.reset-password-input {
  position: relative; // not needed since Splash is relative but best leave for safety.
}

@media (max-width: $bp-sm) {
  #reset-password-form,
  #phone-code-form {
    flex-direction: column;
    align-items: unset;

    & #reset-password-button,
    #save-phone-button {
      width: 100%;
      margin-left: 0;
    }
  }
}
