td .passwords {
  background-color: white;
}

.register-authn-buttons {
  padding-left: 0.3rem;
  margin: 1.5rem 0;
  button {
    margin: 0.5rem 0;
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &#security-webauthn-button {
      background-color:$white;
      border: solid 1px $orange-highlight;
      color: $orange-highlight;
    }
  }
}
