#register-container {
  width: 58%;
  max-width: 870px;
  margin: 1rem auto;
  // background: yellow;
}

#register-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0;
}

#register-button {
  margin-left: 1rem;
  margin-top: 0;
  border: none;
}

#email {
  padding: 0;
  flex: 1;
}

h3 {
  &.register-header {
    // font-family: "ProximaNova-Bold";
    margin-top: 0;
    margin-bottom: 1rem;
  }
}

.registered-email {
  color: $orange-highlight;
}

#captcha {
  transform: scale(1.2);
  transform-origin: 0 0;
  margin-bottom: 2rem;
}

#captcha-buttons {
  display: flex;
  align-items: baseline;
}

@media (max-width: 823px) {
  #register-container {
    width: 75%;
  }
  #register-form {
    flex-direction: column;
  }
  #register-button {
    width: fit-content;
    margin-left: 0;
    margin-top: 2rem;
  }
}

@media (max-width: 768px) {
  #register-container {
    width: calc(100% - 40px);
  }
  #register-button {
    width: 100%;
  }
}

@media (max-width: 414px) {
  #captcha {
    transform: scale(0.9);
    margin-bottom: 0;
  }
  .captcha {
    margin: 0;
  }
}

@media (max-width: 375px) {
  #resend-button {
    font-size: 0.8rem;
  }
}
