div#eduid-splash-and-children {
  position: relative;
  display: flex;
  flex: 1;

  flex-direction: column;
}

span#eduid-splash-spinner {
  height: 100%;
  width: 100%;
  background-color: $light-gray;
  position: absolute;
}

span#eduid-splash-spinner > div.spinner {
  opacity: 1;
}
