@import "./variables.scss";

// Success animation
.success-positioning {
  width: 100%;
  display: flex;
  margin-bottom: 2rem;
}

.success-icon {
  display: inline-block;
  width: 2.25rem;
  height: 2.25rem;
  font-size: 5px;
  border-radius: 50%;
  border: 2px solid $orange-highlight;
  position: relative;
  overflow: hidden;
  transform-origin: center;
  animation: showSuccess 180ms ease-in-out;
  transform: scale(1);
}

.success-icon {  
  .success-tip-line,
  .success-long-line {
    display: block;
    position: absolute;
    height: 2px;
    background-color: $orange-highlight;
    border-radius: 10px;
  }

  .success-tip-line {
    width: 2.4em;
    top: 3.8em;
    left: 0.8em;
    transform: rotate(45deg);
    animation: tipInPlace 300ms ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 180ms;
    visibility: hidden;

  }

  .success-long-line{
    width: 4em;
    transform: rotate(-45deg);
    top: 3.2em;
    left: 2.0em;
    animation: longInPlace 140ms ease-in-out;
    animation-fill-mode: forwards;
    visibility: hidden;
    animation-delay: 300ms + 140ms;
  }
}


@keyframes showSuccess {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes tipInPlace {
  from {
    width: 0em;
    top: 0em;
    left: -1.0em;
  }
  to {
    width: 2.4em;
    top: 3.8em;
    left: 0.8em;
    visibility: visible;
  }
}

@keyframes longInPlace {
  from {
    width: 0em; 
    top: 4.8em;
    left: 2.6em;
  }
  to {
    width: 4em;
    top: 3.2em;
    left: 2.0em;
    visibility: visible;
  }
}