/* styles for tables displaying user info on settings page */
@import "variables";

table {
  width: 100%;
  font-size: 1.125rem;
  font-family: $proxima-light;
  table-layout: fixed;

  @media (max-width: $bp-md) {
    font-size: 1rem;
  }

  & tbody {
    margin-bottom: 1rem;

    & th:first-child {
      padding-left: 1rem;
      padding-top: 0.75rem;
      line-height: 1;
    }

    & td {
      word-wrap: break-word;
      text-align: left;
      vertical-align: middle;
      line-height: 1;

      &.value-status,
      &.verify {
        width: 25%;

        & button {
          margin: 0;
          padding: 0;
        }

        & label {
          font-family: $proxima-regular;
          font-weight: 700;
          padding: 0;
          font-size: 0.75rem;
          text-transform: uppercase;
        }
      }

      .verified {
        text-transform: uppercase;
        font-family: $proxima-regular;
        font-weight: 700;
        font-size: 0.75rem;
      }

      &.remove-data {
        width: 8%;

        & .icon-button {
          margin: 0;
          padding: 0;
        }
      }

      &.primary {
        color: $black;
      }

      &.unverified,
      &.verified,
      &.primary {
        padding: 0.75rem 1rem;
      }

      .btn-remove-webauthn {
        padding: 0;
      }
    }

    & tr.webauthn-token-holder {
      color: $gray;

      & td:first-child {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }

    & tr.webauthn-token-holder.verified {
      color: $black;
    }

    & tr {
      background-color: $white;
      height: 3rem;

      &.border-row {
        font-size: 0.8rem;
        border-bottom: 1px solid $dark-gray;
      }

      &td:first-child {
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
  }
}

table.table-form.passwords {
  tr:first-child {
    font-size: 1rem;
    letter-spacing: 0;
    color: $black;
    font-family: $proxima-bold;
    height: auto;
  }

  .security-name {
    width: 36%;
  }

  .security-creation-date {
    width: 21%;
  }

  .security-last-used-date {
    width: 21%;
  }

  .security-verify-link {
    width: 17%;
  }

  .security-remove-data {
    width: 5%;
  }
}

caption {
  caption-side: top;
  color: inherit;
}

@media (max-width: $bp-sm) {
  .security-creation-date,
  .security-last-used-date,
  .webauthn-token-holder td:nth-child(2),
  .webauthn-token-holder td:nth-child(3) {
    display: none;
  }
}
