/* typography */

@import "variables.scss";

h1 {
  font-size: 2.25rem;
  line-height: 1.2;
  margin-top: 0;
  font-weight: 700;
  font-family: "ProximaNova-Regular";
}

h2 {
  font-size: 28px;
  line-height: 42px;
  font-weight: 700;
  margin-top: 0;
}

h3 {
  font-size: 24px;
  line-height: 34px;
}

h4 {
  font-size: 18px;
  padding: 0;
  margin: 0;
}

h5 {
  padding: 0;
  margin: 0;
}

h6 {
  color: $black;
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-top: 1rem 0;
  padding-bottom: 1rem;
}

p.verified {
  color: $black;
}

// these styles are the same as input values and placeholder
p.data {
  font-size: 1.5rem;
  font-weight: 500;
}

p.no-data.data {
  color: gray;
}

p.steps {
  padding-bottom: 0;
}

.intro {
  & h4 {
    font-size: 1.5rem;
    line-height: 2.125rem;
    margin-bottom: 1rem;
    font-weight: 700;
  }
  & h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

span.heading,
p.heading {
  font-family: "ProximaNova-Bold";
  letter-spacing: unset;
  font-size: 1.25rem;
  line-height: 1.5;
  padding-bottom: 0;
  margin-bottom: 1rem;
}

.horizontal-content-margin {
  margin-top: 1.5rem;
}
