/* typography */

@import "variables";

h1,
h2,
h3,
h4,
h5,
.heading-2,
.heading-4 {
  margin-top: 0;
  margin-bottom: 1em;
  line-height: 1.2;
  font-family: ProximaNova-Bold;

  @media (max-width: $bp-md) {
    word-wrap: break-word;
    word-break: break-word;
  }
}

h1 {
  font-size: 1.8rem;
  font-family: ProximaNova-Regular;
  margin-top: 0.5em;
  margin-bottom: 0.5em;

  @media (max-width: $bp-md) {
    font-size: 1.65rem;
  }
}

h2,
.heading-2 {
  font-size: 1.65rem;
  margin-bottom: 0.75em;

  @media (max-width: $bp-md) {
    font-size: 1.5rem;
  }
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 0.75em;

  @media (max-width: $bp-md) {
    font-size: 1.25rem;
  }
}

h4,
.heading-4 {
  font-size: 1.25rem;
  margin-bottom: 0.5em;
}

h5 {
  font-family: $proxima-light;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-bottom: 0.5em;
}

.lead {
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid $border-gray;

  p {
    font-size: 1.375rem;
  }

  @media (max-width: $bp-md) {
    margin-bottom: 1.25rem;
    padding-bottom: 0;

    p {
      font-size: 1.25rem;
    }
  }
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 1rem;

  + p {
    margin-top: -0.5rem;
  }

  @media (max-width: $bp-md) {
    font-size: 1.125rem;
  }
}

p.verified {
  color: $txt-black;
}

// these styles are the same as input values and placeholder
p.data {
  font-size: 1.5rem;
  font-weight: 500;
}

p.no-data.data {
  color: $txt-gray;
}

.text-large {
  font-size: $txt-lg;
}

.text-small {
  font-size: $txt-sm;
}

strong {
  font-weight: bold;

  @extend b;
}

.verbatim {
  text-transform: none;
}
