/*
 * Colors
 * ========================================================================== */

$white: #fff;
$chinese-black: #161616; //$black

$cultured: #f4f4f4; //$light-gray
$light-silver: #d8d8d8; //$dark-gray
$gray: #7c7c7c;

$misty-rose: #ffe7dd; //$orange-opaque
$red-orange: #ff4500; //$orange-highlight
$cg-red: #d3452e; //$dark-orange
$sinopia: #d13400; //links

/* possibly remove/edit these */
$american-green: #28a745; //$valid-green
$bright-gray: #ebebeb; //$mid-gray
$silver-sand: #c4c4c4; //$close

/*
 * Typography
 * ========================================================================== */

$proxima-bold: "ProximaNova-bold", "Arial", "Helvetica", "sans-serif";
$proxima-light: "ProximaNova-light", "Arial", "Helvetica", "sans-serif";
$proxima-regular: "ProximaNova-Regular", "Arial", "Helvetica", "sans-serif";
$akkurat: "Akkurat", "Arial", "Helvetica", "sans-serif";

$txt-sm: 0.9rem;
$txt-md: 1rem;
$txt-lg: 1.25rem;

$line-height: 1.4;
$margin: 1rem;
$list-indent: 2.25rem;

/*
 * Breakpoints
 * ========================================================================== */

$bp-xs: 414px;
$bp-sm: 568px;
$bp-md: 768px;
$bp-lg: 823px;
$bp-xl: 1200px;

// $bp-xxl: 1400px;
