/*
 * Colors
 * ========================================================================== */

$background-color: #bbded9;
$text-color: #333;
$hcolor: #fff;

$lead-color: #3f5c57;

$primary-btn-color: #58b78c;
$primary-btn-border-color: #1c7430;

$light-orange: #b79158;
$light-green-shadow:rgba(221, 101, 14, 0.1);
$orange: #dd650e;
$btn-grey: #f8f9fa;

$light-green: #58b78c;
$light-green-shadow: rgba(88, 183, 140, 0.25);
$light-green-hover: #4a9c77;
$light-green-disabled: #8ccbb5;

$dark-green: #629c92;

$link-color: #337ab7;
$link-hover: #4a679c;
$link-shadow: rgba(88, 126, 183, 0.25);

$error-red: #b75865;
$error-red-shadow: rgba(183, 88, 101, 0.25);
$error-red-hover: #9c4a5e;
$cancel-color: #fff;
$cancel-color-hover: #e6e6e6;
$cancel-color-shadow: rgba(183, 183, 183, 0.25);

/*
 * Typography
 * ========================================================================== */

$font: "Roboto-Black";
