/*
 * Colors
 * ========================================================================== */

$background-color: #bbded9;
$text-color: #333;
$hcolor: #fff;

$lead-color: #3f5c57;

$primary-btn-color: #58b78c;
$primary-btn-border-color: #1c7430;

$orange: #dd650e;
$btn-grey: #f8f9fa;

$light-green: #58b78c;
$light-green-shadow: rgba(88, 183, 140, 0.25);

$link-color: #337ab7;
$error-red: #b75865;
$error-red-shadow: rgba(183, 88, 101, 0.25);


/*
 * Typography
 * ========================================================================== */

$font: "Roboto-Black";
